In [1]:
library(tidyr)
library(tidyverse)
library(readr)
library(skimr)

Warning message:
“replacing previous import ‘vctrs::data_frame’ by ‘tibble::data_frame’ when loading ‘dplyr’”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ dplyr   1.0.0
✔ tibble  3.0.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
✔ purrr   0.3.4

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [265]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Manawatu - Whanganui")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Manawatu - Whanganui"

In [269]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Manawatu_Whanganui_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Manawatu - Whanganui")
#change this above to be where the files are save on your computer

In [270]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Manawatu_Whanganui_dogs_df <- data.frame()

In [271]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read_csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Manawatu_Whanganui_dogs_df <- rbind(Manawatu_Whanganui_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [272]:
Manawatu_Whanganui_dogs_df

    Territorial Authority Measure
1   Horowhenua            Registered dogs — Total registered dogs
2   Horowhenua            Registered dogs — Total registered dogs
3   Horowhenua            Registered dogs — Total registered dogs
4   Horowhenua            Registered dogs — Total registered dogs
5   Horowhenua            Registered dogs — Total registered dogs
6   Horowhenua            Registered dogs — Total registered dogs
7   Horowhenua            Registered dogs — Total registered dogs
8   Horowhenua            Registered dogs — Total registered dogs
9   Horowhenua            Registered dogs — Total registered dogs
10  Horowhenua            Registered dogs — Total registered dogs
11  Horowhenua            Registered dogs — Total registered dogs
12  Horowhenua            Registered dogs — Total registered dogs
13  Horowhenua            Registered dogs — Total registered dogs
14  Horowhenua            Registered dogs — Total registered dogs
15  Horowhenua            Registered dogs — Total registered dogs
16  Horowhenua            Registered dogs — Total registered dogs
17  Horowhenua            Registered dogs — Total registered dogs
18  Horowhenua            Registered dogs — Total registered dogs
19  Horowhenua            Registered dogs — Total registered dogs
20  Horowhenua            Registered dogs — Total registered dogs
21  Horowhenua            Registered dogs — Total registered dogs
22  Horowhenua            Registered dogs — Total registered dogs
23  Horowhenua            Registered dogs — Total registered dogs
24  Horowhenua            Registered dogs — Total registered dogs
25  Horowhenua            Registered dogs — Total registered dogs
26  Horowhenua            Registered dogs — Total registered dogs
27  Horowhenua            Registered dogs — Total registered dogs
28  Horowhenua            Registered dogs — Total registered dogs
29  Horowhenua            Registered dogs — Total registered dogs
30  Horowhenua            Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
237 Whanganui             Registered dogs — Total registered dogs
238 Whanganui             Registered dogs — Total registered dogs
239 Whanganui             Registered dogs — Total registered dogs
240 Whanganui             Registered dogs — Total registered dogs
241 Whanganui             Registered dogs — Total registered dogs
242 Whanganui             Registered dogs — Total registered dogs
243 Whanganui             Registered dogs — Total registered dogs
244 Whanganui             Registered dogs — Total registered dogs
245 Whanganui             Registered dogs — Total registered dogs
246 Whanganui             Registered dogs — Total registered dogs
247 Whanganui             Registered dogs — Total registered dogs
248 Whanganui             Registered dogs — Total registered dogs
249 Whanganui             Registered dogs — Total registered dogs
250 Whanganui             Registered dogs — Total registered dogs
251 Whanganui             Registered dogs — Total registered dogs
252 Whanganui             Registered dogs — Total registered dogs
253 Whanganui             Registered dogs — Total registered dogs
254 Whanganui             Registered dogs — Total registered dogs
255 Whanganui             Registered dogs — Total registered dogs
256 Whanganui             Registered dogs — Total registered dogs
257 Whanganui             Registered dogs — Total registered dogs
258 Whanganui             Registered dogs — Total registered dogs
259 Whanganui             Registered dogs — Total registered dogs
260 Whanganui             Registered dogs — Total registered dogs
261 Whanganui             Registered dogs — Total registered dogs
262 Whanganui             Registered dogs — Total registered dogs
263 Whanganui             Registered dogs — Total registered dogs
264 Whanganui             Registered dogs — Total registered dogs
265 Whanganui             Registered dogs — Total registered dogs
266 Whanganui             Registered dogs — Total registered dogs
    Category                       Value Date DateLabel
1   All pure and cross breeds      6287  2019 Year ended June
2   All pure breeds                3790  2019 Year ended June
3   Beagle                           29  2019 Year ended June
4   Bichon Frise                     60  2019 Year ended June
5   Boxer                            38  2019 Year ended June
6   Brazilian Fila                    0  2019 Year ended June
7   Cattle, Australian               47  2019 Year ended June
8   Chihuahua, Long Coat             33  2019 Year ended June
9   Chihuahua, Smooth Coat           43  2019 Year ended June
10  Collie, Bearded                  21  2019 Year ended June
11  Collie, Border                  161  2019 Year ended June
12  Collie, Rough                    19  2019 Year ended June
13  Collie, Smooth                   10  2019 Year ended June
14  Dogo Argentino                    1  2019 Year ended June
15  Greyhound                       229  2019 Year ended June
16  Heading                         134  2019 Year ended June
17  Huntaway                        179  2019 Year ended June
18  Maltese                          30  2019 Year ended June
19  Perro de Presa Canario            0  2019 Year ended June
20  Poodle, Miniature                45  2019 Year ended June
21  Poodle, Toy                      51  2019 Year ended June
22  Retriever, Golden                71  2019 Year ended June
23  Retriever, Labrador             492  2019 Year ended June
24  Rottweiler                      126  2019 Year ended June
25  Schnauzer, Miniature             61  2019 Year ended June
26  Shepherd, German                184  2019 Year ended June
27  Shih Tzu                         77  2019 Year ended June
28  Spaniel, Cavalier King Charles   61  2019 Year ended June
29  Spaniel, Cocker                  29  2019 Year ended June
30  Spaniel, English Springer        23  2019 Year ended June
⋮   ⋮                              ⋮     ⋮    ⋮
237 Chihuahua, Smooth Coat          119  2019 Year ended June
238 Collie, Bearded                  26  2019 Year ended June
239 Collie, Border                  345  2019 Year ended June
240 Collie, Rough                    41  2019 Year ended June
241 Collie, Smooth                    0  2019 Year ended June
242 Dogo Argentino                    1  2019 Year ended June
243 Greyhound                       153  2019 Year ended June
244 Heading                           0  2019 Year ended June
245 Huntaway                       1331  2019 Year ended June
246 Maltese                         158  2019 Year ended June
247 Perro de Presa Canario            0  2019 Year ended June
248 Poodle, Miniature                49  2019 Year ended June
249 Poodle, Toy                      34  2019 Year ended June
250 Retriever, Golden               100  2019 Year ended June
251 Retriever, Labrador             717  2019 Year ended June
252 Rottweiler                      169  2019 Year ended June
253 Schnauzer, Miniature             55  2019 Year ended June
254 Shepherd, German                193  2019 Year ended June
255 Shih Tzu                        174  2019 Year ended June
256 Spaniel, Cavalier King Charles   61  2019 Year ended June
257 Spaniel, Cocker                  16  2019 Year ended June
258 Spaniel, English Springer        37  2019 Year ended June
259 Terrier, American Pit Bull      194  2019 Year ended June
260 Terrier, Fox (Smooth)           479  2019 Year ended June
261 Terrier, Jack Russell           257  2019 Year ended June
262 Terrier, Staffordshire Bull     238  2019 Year ended June
263 Terrier, West Highland White     43  2019 Year ended June
264 Tosa, Japanese                    0  2019 Year ended June
265 Other pure breeds              1800  2019 Year ended June
266 All cross breeds                494  2019 Year ended June

In [273]:
Manawatu_Whanganui_population_df = data.frame()

In [275]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Manawatu_Whanganui_population_df <- rbind(Manawatu_Whanganui_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [276]:
Manawatu_Whanganui_population_df

   Territorial.Authority Measure                               Category
1  Horowhenua            Population - residents at 2013 census Total people
2  Manawatu              Population - residents at 2013 census Total people
3  Palmerston North      Population - residents at 2013 census Total people
4  Rangitikei            Population - residents at 2013 census Total people
5  Ruapehu               Population - residents at 2013 census Total people
6  Tararua               Population - residents at 2013 census Total people
7  Whanganui             Population - residents at 2013 census Total people
8  Horowhenua            Population - residents at 2013 census Total people
9  Manawatu              Population - residents at 2013 census Total people
10 Palmerston North      Population - residents at 2013 census Total people
11 Rangitikei            Population - residents at 2013 census Total people
12 Ruapehu               Population - residents at 2013 census Total people
13 Tararua               Population - residents at 2013 census Total people
14 Whanganui             Population - residents at 2013 census Total people
   Value Date DateLabel
1  30096 2013 Census Year
2  27459 2013 Census Year
3  80079 2013 Census Year
4  14019 2013 Census Year
5  11844 2013 Census Year
6  16854 2013 Census Year
7  42150 2013 Census Year
8  30096 2013 Census Year
9  27459 2013 Census Year
10 80079 2013 Census Year
11 14019 2013 Census Year
12 11844 2013 Census Year
13 16854 2013 Census Year
14 42150 2013 Census Year

Make a function to read through and look at the home ovwnership now

In [66]:
Manawatu_Whanganui_homes_df  = data.frame()

In [277]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Manawatu_Whanganui_homes_df <- rbind(Manawatu_Whanganui_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [68]:
Manawatu_Whanganui_homes_df

     Territorial.Authority Measure
220  Horowhenua            Home ownership by households
221  Horowhenua            Home ownership by households
222  Horowhenua            Home ownership by households
223  Horowhenua            Home ownership by households
2201 Manawatu              Home ownership by households
2211 Manawatu              Home ownership by households
2221 Manawatu              Home ownership by households
2231 Manawatu              Home ownership by households
2202 Palmerston North      Home ownership by households
2212 Palmerston North      Home ownership by households
2222 Palmerston North      Home ownership by households
2232 Palmerston North      Home ownership by households
2203 Rangitikei            Home ownership by households
2213 Rangitikei            Home ownership by households
2223 Rangitikei            Home ownership by households
2233 Rangitikei            Home ownership by households
2204 Ruapehu               Home ownership by households
2214 Ruapehu               Home ownership by households
2224 Ruapehu               Home ownership by households
2234 Ruapehu               Home ownership by households
2205 Tararua               Home ownership by households
2215 Tararua               Home ownership by households
2225 Tararua               Home ownership by households
2235 Tararua               Home ownership by households
2206 Whanganui             Home ownership by households
2216 Whanganui             Home ownership by households
2226 Whanganui             Home ownership by households
2236 Whanganui             Home ownership by households
     Category                                          Value Date DateLabel
220  Dwelling Owned or Partly Owned                     6483 2013 Census Year
221  Dwelling Not Owned and Not Held in a Family Trust  3624 2013 Census Year
222  Dwelling Held in a Family Trust                    1473 2013 Census Year
223  Not Elsewhere Included                              915 2013 Census Year
2201 Dwelling Owned or Partly Owned                     5568 2013 Census Year
2211 Dwelling Not Owned and Not Held in a Family Trust  2892 2013 Census Year
2221 Dwelling Held in a Family Trust                    1593 2013 Census Year
2231 Not Elsewhere Included                              423 2013 Census Year
2202 Dwelling Owned or Partly Owned                    13932 2013 Census Year
2212 Dwelling Not Owned and Not Held in a Family Trust 10473 2013 Census Year
2222 Dwelling Held in a Family Trust                    3480 2013 Census Year
2232 Not Elsewhere Included                             1716 2013 Census Year
2203 Dwelling Owned or Partly Owned                     2766 2013 Census Year
2213 Dwelling Not Owned and Not Held in a Family Trust  1851 2013 Census Year
2223 Dwelling Held in a Family Trust                     750 2013 Census Year
2233 Not Elsewhere Included                              303 2013 Census Year
2204 Dwelling Owned or Partly Owned                     1806 2013 Census Year
2214 Dwelling Not Owned and Not Held in a Family Trust  1941 2013 Census Year
2224 Dwelling Held in a Family Trust                     570 2013 Census Year
2234 Not Elsewhere Included                              264 2013 Census Year
2205 Dwelling Owned or Partly Owned                     3336 2013 Census Year
2215 Dwelling Not Owned and Not Held in a Family Trust  2088 2013 Census Year
2225 Dwelling Held in a Family Trust                     921 2013 Census Year
2235 Not Elsewhere Included                              453 2013 Census Year
2206 Dwelling Owned or Partly Owned                     8316 2013 Census Year
2216 Dwelling Not Owned and Not Held in a Family Trust  5496 2013 Census Year
2226 Dwelling Held in a Family Trust                    2271 2013 Census Year
2236 Not Elsewhere Included                             1227 2013 Census Year

Loop through and make the income into a dataframe

In [69]:
Manawatu_Whanganui_median_income_df = data.frame()

In [278]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Manawatu_Whanganui_median_income_df <- rbind(Manawatu_Whanganui_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [279]:
Manawatu_Whanganui_median_income_df

      Territorial.Authority Measure                    Category Value Date
128   Horowhenua            Median personal income ($)          21800 2013
1281  Manawatu              Median personal income ($)          28400 2013
1282  Palmerston North      Median personal income ($)          27000 2013
1283  Rangitikei            Median personal income ($)          25700 2013
1284  Ruapehu               Median personal income ($)          24100 2013
1285  Tararua               Median personal income ($)          25100 2013
1286  Whanganui             Median personal income ($)          23500 2013
1287  Horowhenua            Median personal income ($)          21800 2013
1288  Manawatu              Median personal income ($)          28400 2013
1289  Palmerston North      Median personal income ($)          27000 2013
12810 Rangitikei            Median personal income ($)          25700 2013
12811 Ruapehu               Median personal income ($)          24100 2013
12812 Tararua               Median personal income ($)          25100 2013
12813 Whanganui             Median personal income ($)          23500 2013
      DateLabel
128   Census Year
1281  Census Year
1282  Census Year
1283  Census Year
1284  Census Year
1285  Census Year
1286  Census Year
1287  Census Year
1288  Census Year
1289  Census Year
12810 Census Year
12811 Census Year
12812 Census Year
12813 Census Year

In [280]:
Manawatu_Whanganui_income_bracket_df = data.frame()

In [281]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Manawatu_Whanganui_income_bracket_df <- rbind(Manawatu_Whanganui_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

In [282]:
Manawatu_Whanganui_income_bracket_df

     Territorial.Authority Measure
158  Horowhenua            Number of families in income bracket
159  Horowhenua            Number of families in income bracket
160  Horowhenua            Number of families in income bracket
161  Horowhenua            Number of families in income bracket
162  Horowhenua            Number of families in income bracket
163  Horowhenua            Number of families in income bracket
164  Horowhenua            Number of families in income bracket
165  Horowhenua            Number of families in income bracket
166  Horowhenua            Number of families in income bracket
167  Horowhenua            Number of families in income bracket
168  Horowhenua            Number of families in income bracket
169  Horowhenua            Number of families in income bracket
170  Horowhenua            Number of families in income bracket
171  Horowhenua            Number of families in income bracket
1581 Manawatu              Number of families in income bracket
1591 Manawatu              Number of families in income bracket
1601 Manawatu              Number of families in income bracket
1611 Manawatu              Number of families in income bracket
1621 Manawatu              Number of families in income bracket
1631 Manawatu              Number of families in income bracket
1641 Manawatu              Number of families in income bracket
1651 Manawatu              Number of families in income bracket
1661 Manawatu              Number of families in income bracket
1671 Manawatu              Number of families in income bracket
1681 Manawatu              Number of families in income bracket
1691 Manawatu              Number of families in income bracket
1701 Manawatu              Number of families in income bracket
1711 Manawatu              Number of families in income bracket
1582 Palmerston North      Number of families in income bracket
1592 Palmerston North      Number of families in income bracket
⋮    ⋮                     ⋮
1704 Ruapehu               Number of families in income bracket
1714 Ruapehu               Number of families in income bracket
1585 Tararua               Number of families in income bracket
1595 Tararua               Number of families in income bracket
1605 Tararua               Number of families in income bracket
1615 Tararua               Number of families in income bracket
1625 Tararua               Number of families in income bracket
1635 Tararua               Number of families in income bracket
1645 Tararua               Number of families in income bracket
1655 Tararua               Number of families in income bracket
1665 Tararua               Number of families in income bracket
1675 Tararua               Number of families in income bracket
1685 Tararua               Number of families in income bracket
1695 Tararua               Number of families in income bracket
1705 Tararua               Number of families in income bracket
1715 Tararua               Number of families in income bracket
1586 Whanganui             Number of families in income bracket
1596 Whanganui             Number of families in income bracket
1606 Whanganui             Number of families in income bracket
1616 Whanganui             Number of families in income bracket
1626 Whanganui             Number of families in income bracket
1636 Whanganui             Number of families in income bracket
1646 Whanganui             Number of families in income bracket
1656 Whanganui             Number of families in income bracket
1666 Whanganui             Number of families in income bracket
1676 Whanganui             Number of families in income bracket
1686 Whanganui             Number of families in income bracket
1696 Whanganui             Number of families in income bracket
1706 Whanganui             Number of families in income bracket
1716 Whanganui             Number of families in income bracket
     Category            Value       Date DateLabel
158  $20,000 and under    612.000000 2013 Census Year
159  $20,001 to $30,000   999.000000 2013 Census Year
160  $30,001 to $50,000  1947.000000 2013 Census Year
161  $50,001 to $70,000  1275.000000 2013 Census Year
162  $70,001 to $100,000 1296.000000 2013 Census Year
163  $100,000 and over   1038.000000 2013 Census Year
164  Not stated          1035.000000 2013 Census Year
165  $20,000 and under      7.461595 2013 Census Year
166  $20,001 to $30,000    12.179956 2013 Census Year
167  $30,001 to $50,000    23.738113 2013 Census Year
168  $50,001 to $70,000    15.544989 2013 Census Year
169  $70,001 to $100,000   15.801024 2013 Census Year
170  $100,000 and over     12.655450 2013 Census Year
171  Not stated            12.618873 2013 Census Year
1581 $20,000 and under    435.000000 2013 Census Year
1591 $20,001 to $30,000   582.000000 2013 Census Year
1601 $30,001 to $50,000  1332.000000 2013 Census Year
1611 $50,001 to $70,000  1305.000000 2013 Census Year
1621 $70,001 to $100,000 1656.000000 2013 Census Year
1631 $100,000 and over   1677.000000 2013 Census Year
1641 Not stated           777.000000 2013 Census Year
1651 $20,000 and under      5.602782 2013 Census Year
1661 $20,001 to $30,000     7.496136 2013 Census Year
1671 $30,001 to $50,000    17.156105 2013 Census Year
1681 $50,001 to $70,000    16.808346 2013 Census Year
1691 $70,001 to $100,000   21.329212 2013 Census Year
1701 $100,000 and over     21.599691 2013 Census Year
1711 Not stated            10.007728 2013 Census Year
1582 $20,000 and under   1341.000000 2013 Census Year
1592 $20,001 to $30,000  1560.000000 2013 Census Year
⋮    ⋮                   ⋮           ⋮    ⋮
1704 $100,000 and over     14.173998 2013 Census Year
1714 Not stated            17.106549 2013 Census Year
1585 $20,000 and under    315.000000 2013 Census Year
1595 $20,001 to $30,000   426.000000 2013 Census Year
1605 $30,001 to $50,000   939.000000 2013 Census Year
1615 $50,001 to $70,000   750.000000 2013 Census Year
1625 $70,001 to $100,000  900.000000 2013 Census Year
1635 $100,000 and over    738.000000 2013 Census Year
1645 Not stated           528.000000 2013 Census Year
1655 $20,000 and under      6.853786 2013 Census Year
1665 $20,001 to $30,000     9.268930 2013 Census Year
1675 $30,001 to $50,000    20.430809 2013 Census Year
1685 $50,001 to $70,000    16.318538 2013 Census Year
1695 $70,001 to $100,000   19.582245 2013 Census Year
1705 $100,000 and over     16.057441 2013 Census Year
1715 Not stated            11.488251 2013 Census Year
1586 $20,000 and under    906.000000 2013 Census Year
1596 $20,001 to $30,000  1128.000000 2013 Census Year
1606 $30,001 to $50,000  2229.000000 2013 Census Year
1616 $50,001 to $70,000  1764.000000 2013 Census Year
1626 $70,001 to $100,000 2019.000000 2013 Census Year
1636 $100,000 and over   1710.000000 2013 Census Year
1646 Not stated          1374.000000 2013 Census Year
1656 $20,000 and under      8.140162 2013 Census Year
1666 $20,001 to $30,000    10.134771 2013 Census Year
1676 $30,001 to $50,000    20.026954 2013 Census Year
1686 $50,001 to $70,000    15.849057 2013 Census Year
1696 $70,001 to $100,000   18.140162 2013 Census Year
1706 $100,000 and over     15.363881 2013 Census Year
1716 Not stated            12.345013 2013 Census Year

## **Manawatu-Whanganui Data Frames:**

 - Manawatu_Whanganui_dogs_df
 - Manawatu_Whanganui_population_df
 - Manawatu_Whanganui_homes_df
 - Manawatu_Whanganui_median_income_df
 - Manawatu_Whanganui_income_bracket_df

In [286]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Marlborough")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Manawatu - Whanganui"

In [287]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Marlborough_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Marlborough")
#change this above to be where the files are save on your computer

In [288]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Marlborough_dogs_df <- data.frame()

In [289]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Marlborough_file_list)){
  data = read_csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Marlborough_dogs_df <- rbind(Marlborough_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [290]:
Marlborough_dogs_df

   Territorial Authority Measure
1  Marlborough           Registered dogs — Total registered dogs
2  Marlborough           Registered dogs — Total registered dogs
3  Marlborough           Registered dogs — Total registered dogs
4  Marlborough           Registered dogs — Total registered dogs
5  Marlborough           Registered dogs — Total registered dogs
6  Marlborough           Registered dogs — Total registered dogs
7  Marlborough           Registered dogs — Total registered dogs
8  Marlborough           Registered dogs — Total registered dogs
9  Marlborough           Registered dogs — Total registered dogs
10 Marlborough           Registered dogs — Total registered dogs
11 Marlborough           Registered dogs — Total registered dogs
12 Marlborough           Registered dogs — Total registered dogs
13 Marlborough           Registered dogs — Total registered dogs
14 Marlborough           Registered dogs — Total registered dogs
15 Marlborough           Registered dogs — Total registered dogs
16 Marlborough           Registered dogs — Total registered dogs
17 Marlborough           Registered dogs — Total registered dogs
18 Marlborough           Registered dogs — Total registered dogs
19 Marlborough           Registered dogs — Total registered dogs
20 Marlborough           Registered dogs — Total registered dogs
21 Marlborough           Registered dogs — Total registered dogs
22 Marlborough           Registered dogs — Total registered dogs
23 Marlborough           Registered dogs — Total registered dogs
24 Marlborough           Registered dogs — Total registered dogs
25 Marlborough           Registered dogs — Total registered dogs
26 Marlborough           Registered dogs — Total registered dogs
27 Marlborough           Registered dogs — Total registered dogs
28 Marlborough           Registered dogs — Total registered dogs
29 Marlborough           Registered dogs — Total registered dogs
30 Marlborough           Registered dogs — Total registered dogs
31 Marlborough           Registered dogs — Total registered dogs
32 Marlborough           Registered dogs — Total registered dogs
33 Marlborough           Registered dogs — Total registered dogs
34 Marlborough           Registered dogs — Total registered dogs
35 Marlborough           Registered dogs — Total registered dogs
36 Marlborough           Registered dogs — Total registered dogs
37 Marlborough           Registered dogs — Total registered dogs
38 Marlborough           Registered dogs — Total registered dogs
   Category                       Value Date DateLabel
1  All pure and cross breeds      10444 2019 Year ended June
2  All pure breeds                 6244 2019 Year ended June
3  Beagle                            21 2019 Year ended June
4  Bichon Frise                     140 2019 Year ended June
5  Boxer                             80 2019 Year ended June
6  Brazilian Fila                     0 2019 Year ended June
7  Cattle, Australian                50 2019 Year ended June
8  Chihuahua, Long Coat              49 2019 Year ended June
9  Chihuahua, Smooth Coat            34 2019 Year ended June
10 Collie, Bearded                  116 2019 Year ended June
11 Collie, Border                   366 2019 Year ended June
12 Collie, Rough                     30 2019 Year ended June
13 Collie, Smooth                   332 2019 Year ended June
14 Dogo Argentino                     0 2019 Year ended June
15 Greyhound                         46 2019 Year ended June
16 Heading                          521 2019 Year ended June
17 Huntaway                         633 2019 Year ended June
18 Maltese                           77 2019 Year ended June
19 Perro de Presa Canario             0 2019 Year ended June
20 Poodle, Miniature                 42 2019 Year ended June
21 Poodle, Toy                       29 2019 Year ended June
22 Retriever, Golden                132 2019 Year ended June
23 Retriever, Labrador              624 2019 Year ended June
24 Rottweiler                        86 2019 Year ended June
25 Schnauzer, Miniature             136 2019 Year ended June
26 Shepherd, German                 128 2019 Year ended June
27 Shih Tzu                          42 2019 Year ended June
28 Spaniel, Cavalier King Charles    52 2019 Year ended June
29 Spaniel, Cocker                  102 2019 Year ended June
30 Spaniel, English Springer         65 2019 Year ended June
31 Terrier, American Pit Bull        15 2019 Year ended June
32 Terrier, Fox (Smooth)            266 2019 Year ended June
33 Terrier, Jack Russell            379 2019 Year ended June
34 Terrier, Staffordshire Bull      168 2019 Year ended June
35 Terrier, West Highland White      41 2019 Year ended June
36 Tosa, Japanese                     0 2019 Year ended June
37 Other pure breeds               1442 2019 Year ended June
38 All cross breeds                4200 2019 Year ended June

In [86]:
Marlborough_population_df = data.frame()

In [291]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Marlborough_population_df <- rbind(Marlborough_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [292]:
Marlborough_population_df

  Territorial.Authority Measure                               Category
1 Marlborough           Population - residents at 2013 census Total people
2 Marlborough           Population - residents at 2013 census Total people
  Value Date DateLabel
1 43416 2013 Census Year
2 43416 2013 Census Year

In [295]:
Marlborough_homes_df  = data.frame()

In [296]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Marlborough_homes_df <- rbind(Marlborough_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [297]:
Marlborough_homes_df

    Territorial.Authority Measure
220 Marlborough           Home ownership by households
221 Marlborough           Home ownership by households
222 Marlborough           Home ownership by households
223 Marlborough           Home ownership by households
    Category                                          Value Date DateLabel
220 Dwelling Owned or Partly Owned                    9249  2013 Census Year
221 Dwelling Not Owned and Not Held in a Family Trust 4863  2013 Census Year
222 Dwelling Held in a Family Trust                   2607  2013 Census Year
223 Not Elsewhere Included                             954  2013 Census Year

In [298]:
Marlborough_median_income_df = data.frame()

In [299]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Marlborough_median_income_df <- rbind(Marlborough_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [300]:
Marlborough_median_income_df

    Territorial.Authority Measure                    Category Value Date
128 Marlborough           Median personal income ($)          27900 2013
    DateLabel
128 Census Year

In [301]:
Marlborough_income_bracket_df = data.frame()

In [302]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Marlborough_income_bracket_df <- rbind(Marlborough_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

In [303]:
Marlborough_income_bracket_df

    Territorial.Authority Measure
158 Marlborough           Number of families in income bracket
159 Marlborough           Number of families in income bracket
160 Marlborough           Number of families in income bracket
161 Marlborough           Number of families in income bracket
162 Marlborough           Number of families in income bracket
163 Marlborough           Number of families in income bracket
164 Marlborough           Number of families in income bracket
165 Marlborough           Number of families in income bracket
166 Marlborough           Number of families in income bracket
167 Marlborough           Number of families in income bracket
168 Marlborough           Number of families in income bracket
169 Marlborough           Number of families in income bracket
170 Marlborough           Number of families in income bracket
171 Marlborough           Number of families in income bracket
    Category            Value       Date DateLabel
158 $20,000 and under    645.000000 2013 Census Year
159 $20,001 to $30,000   942.000000 2013 Census Year
160 $30,001 to $50,000  2373.000000 2013 Census Year
161 $50,001 to $70,000  2094.000000 2013 Census Year
162 $70,001 to $100,000 2679.000000 2013 Census Year
163 $100,000 and over   2580.000000 2013 Census Year
164 Not stated          1248.000000 2013 Census Year
165 $20,000 and under      5.134941 2013 Census Year
166 $20,001 to $30,000     7.499403 2013 Census Year
167 $30,001 to $50,000    18.891808 2013 Census Year
168 $50,001 to $70,000    16.670647 2013 Census Year
169 $70,001 to $100,000   21.327920 2013 Census Year
170 $100,000 and over     20.539766 2013 Census Year
171 Not stated             9.935515 2013 Census Year

## **Marlborough Data Frames:**

 - Marlborough_dogs_df
 - Marlborough_population_df
 - Marlborough_homes_df
 - Marlborough_median_income_df
 - Marlborough_income_bracket_df

In [306]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Nelson")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Nelson"

In [307]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Nelson_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Nelson")
#change this above to be where the files are save on your computer

In [308]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Nelson_dogs_df <- data.frame()

In [309]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Nelson_file_list)){
  data = read_csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Nelson_dogs_df <- rbind(Nelson_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [310]:
Nelson_population_df = data.frame()

In [311]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Nelson_population_df <- rbind(Nelson_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [312]:
Nelson_homes_df  = data.frame()

In [313]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Nelson_homes_df <- rbind(Nelson_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [314]:
Nelson_median_income_df = data.frame()

In [315]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Nelson_median_income_df <- rbind(Nelson_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [316]:
Nelson_income_bracket_df = data.frame()

In [317]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Nelson_income_bracket_df <- rbind(Nelson_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Nelson Data Frames:**

 - Nelson_dogs_df
 - Nelson_population_df
 - Nelson_homes_df
 - Nelson_median_income_df
 - Nelson_income_bracket_df

In [319]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Northland")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Northland"

In [320]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Northland_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Northland")
#change this above to be where the files are save on your computer

In [321]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Northland_dogs_df <- data.frame()

In [322]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Northland_file_list)){
  data = read_csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Northland_dogs_df <- rbind(Northland_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [323]:
Northland_population_df = data.frame()

In [324]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Northland_population_df <- rbind(Northland_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [325]:
Northland_homes_df  = data.frame()

In [326]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Northland_homes_df <- rbind(Northland_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [327]:
Northland_median_income_df = data.frame()

In [328]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Northland_median_income_df <- rbind(Northland_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [329]:
Northland_income_bracket_df = data.frame()

In [330]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Northland_income_bracket_df <- rbind(Northland_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Northland Data Frames:**

 - Northland_dogs_df
 - Northland_population_df
 - Northland_homes_df
 - Northland_median_income_df
 - Northland_income_bracket_df

In [332]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Otago")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Otago"

In [333]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Otago_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Otago")
#change this above to be where the files are save on your computer

In [334]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Otago_dogs_df <- data.frame()

In [335]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Otago_file_list)){
  data = read_csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Otago_dogs_df <- rbind(Otago_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [336]:
Otago_population_df = data.frame()

In [337]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Otago_population_df <- rbind(Otago_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [338]:
Otago_homes_df  = data.frame()

In [339]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Otago_homes_df <- rbind(Otago_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [340]:
Otago_median_income_df = data.frame()

In [341]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Otago_median_income_df <- rbind(Otago_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [342]:
Otago_income_bracket_df = data.frame()

In [343]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Otago_income_bracket_df <- rbind(Otago_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Otago Data Frames:**

 - Otago_dogs_df
 - Otago_population_df
 - Otago_homes_df
 - Otago_median_income_df
 - Otago_income_bracket_df

In [347]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("/Users/oscarevans/Desktop/Region_CSVs/Southland")

[1] "/Users/oscarevans/Desktop/Region_CSVs/Southland"

In [348]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Southland_file_list <- list.files(path="/Users/oscarevans/Desktop/Region_CSVs/Southland")
#change this above to be where the files are save on your computer

In [349]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Southland_dogs_df <- data.frame()

In [350]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Southland_file_list)){
  data = read_csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Southland_dogs_df <- rbind(Southland_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [351]:
Southland_population_df = data.frame()

In [352]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Southland_population_df <- rbind(Southland_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [353]:
Southland_homes_df  = data.frame()

In [354]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Southland_homes_df <- rbind(Southland_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [355]:
Southland_median_income_df = data.frame()

In [356]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Southland_median_income_df <- rbind(Southland_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [357]:
Southland_income_bracket_df = data.frame()

In [358]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Southland_income_bracket_df <- rbind(Southland_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Southland Data Frames:**

 - Southland_dogs_df
 - Southland_population_df
 - Southland_homes_df
 - Southland_median_income_df
 - Southland_income_bracket_df

## **All Data Frames:**

 - Manawatu_Whanganui_dogs_df
 - Manawatu_Whanganui_population_df
 - Manawatu_Whanganui_homes_df
 - Manawatu_Whanganui_median_income_df
 - Manawatu_Whanganui_income_bracket_dfSouthland_file_listNelson_dogs_df
 - Marlborough_dogs_df
 - Marlborough_population_df
 - Marlborugh_homes_df
 - Marlborough_median_income_df
 - Marlborough_income_bracket_df
 - Nelson_dogs_df
 - Nelson_population_df
 - Nelson_homes_df
 - Nelson_median_income_df
 - Nelson_income_bracket_df
 - Northland_dogs_df
 - Northland_population_df
 - Northland_homes_df
 - Northland_median_income_df
 - Northland_income_bracket_df
 - Otago_dogs_df
 - Otago_population_df
 - Otago_homes_df
 - Otago_median_income_df
 - Otago_income_bracket_df
 - Southland_dogs_df
 - Southland_population_df
 - Southland_homes_df
 - Southland_median_income_df
 - Southland_income_bracket_df

In [361]:
Manawatu_Whanganui_dogs_totals_df <- aggregate(Manawatu_Whanganui_dogs_df['Value'], by=Manawatu_Whanganui_dogs_df['Category'], sum)

In [364]:
Marlborough_dogs_totals_df <- aggregate(Marlborough_dogs_df['Value'], by=Marlborough_dogs_df['Category'], sum)

In [365]:
Nelson_dogs_totals_df <- aggregate(Nelson_dogs_df['Value'], by=Nelson_dogs_df['Category'], sum)

In [366]:
Otago_dogs_totals_df <- aggregate(Otago_dogs_df['Value'], by=Otago_dogs_df['Category'], sum)

In [368]:
Southland_dogs_totals_df <- aggregate(Southland_dogs_df['Value'], by=Southland_dogs_df['Category'], sum)

In [369]:
Northland_dogs_totals_df <- aggregate(Northland_dogs_df['Value'], by=Northland_dogs_df['Category'], sum)

In [396]:
dog_totals_df <- bind_cols(Manawatu_Whanganui_dogs_totals_df, Marlborough_dogs_totals_df, Nelson_dogs_totals_df, Otago_dogs_totals_df, Southland_dogs_totals_df, Northland_dogs_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [397]:
clean_dog_totals_df <- subset(dog_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [398]:
Final_dog_df <- rename(clean_dog_totals_df, c("Breed"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [399]:
Final_dog_df

   Breed                          Manawatu_Whanganui Marlborough Nelson Otago
1  All cross breeds               11987               4200       2693   11666
2  All pure and cross breeds      45676              10444       5377   33644
3  All pure breeds                33689               6244       2684   21978
4  Beagle                           183                 21         27     100
5  Bichon Frise                     527                140        101     396
6  Boxer                            343                 80         45     212
7  Brazilian Fila                     0                  0          0       0
8  Cattle, Australian               286                 50         39     103
9  Chihuahua, Long Coat             169                 49         17      81
10 Chihuahua, Smooth Coat           303                 34         40     278
11 Collie, Bearded                  255                116         27     208
12 Collie, Border                  1619                366        173    2538
13 Collie, Rough                    114                 30          7     116
14 Collie, Smooth                    77                332          4    1538
15 Dogo Argentino                    10                  0          0       0
16 Greyhound                       1067                 46         34     136
17 Heading                         3705                521         20    1130
18 Huntaway                        6325                633         54    1841
19 Maltese                          292                 77         39     189
20 Other pure breeds               6734               1442        857    4617
21 Perro de Presa Canario             0                  0          0       0
22 Poodle, Miniature                220                 42         33     121
23 Poodle, Toy                      204                 29         17     120
24 Retriever, Golden                467                132         85     520
25 Retriever, Labrador             3444                624        246    2767
26 Rottweiler                       745                 86         42     268
27 Schnauzer, Miniature             368                136         94     420
28 Shepherd, German                 844                128         53     426
29 Shih Tzu                         540                 42         43     296
30 Spaniel, Cavalier King Charles   321                 52         36     133
31 Spaniel, Cocker                  188                102         72     341
32 Spaniel, English Springer        178                 65         27     419
33 Terrier, American Pit Bull       358                 15         13      55
34 Terrier, Fox (Smooth)           1731                266         96     644
35 Terrier, Jack Russell           1187                379        149    1111
36 Terrier, Staffordshire Bull      679                168        145     688
37 Terrier, West Highland White     206                 41         49     166
38 Tosa, Japanese                     0                  0          0       0
   Southland Northland
1   7499      9349
2  24552     24532
3  17053     15183
4     72        51
5    391       273
6    146       169
7      0         0
8     54       391
9     67       179
10   247       149
11   204       127
12   744      1442
13   399        22
14  1199        23
15     3         0
16    87        72
17  1597       512
18  2541      1654
19   134       135
20  2800      3987
21     0         0
22    87       140
23    91       131
24   247       235
25  2225      1624
26   310       354
27   207       124
28   378       549
29   267       418
30    91        88
31   228       135
32   238       104
33    28        45
34   566       705
35   928       866
36   424       403
37    53        76
38     0         0

In [385]:
Manawatu_Whanganui_populations_totals_df <- aggregate(Manawatu_Whanganui_population_df['Value'], by=Manawatu_Whanganui_population_df['Category'], sum)

In [387]:
Marlborough_populations_totals_df <- aggregate(Marlborough_population_df['Value'], by=Marlborough_population_df['Category'], sum)

In [388]:
Nelson_populations_totals_df <- aggregate(Nelson_population_df['Value'], by=Nelson_population_df['Category'], sum)

In [389]:
Otago_populations_totals_df <- aggregate(Otago_population_df['Value'], by=Otago_population_df['Category'], sum)

In [390]:
Southland_populations_totals_df <- aggregate(Southland_population_df['Value'], by=Southland_population_df['Category'], sum)

In [391]:
Northland_populations_totals_df <- aggregate(Northland_population_df['Value'], by=Northland_population_df['Category'], sum)

In [394]:
populations_totals_df <- bind_cols(Manawatu_Whanganui_populations_totals_df, Marlborough_populations_totals_df, Nelson_populations_totals_df, Otago_populations_totals_df, Southland_populations_totals_df, Northland_populations_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [400]:
clean_populations_totals_df <- subset(populations_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [411]:
Final_populations_df <- rename(clean_populations_totals_df, c("Total_People"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [412]:
Final_populations_df

  Total_People Manawatu_Whanganui Marlborough Nelson Otago  Southland Northland
1 Total people 445002             86832       46437  183258 93342     151692

In [404]:
Manawatu_Whanganui_homes_totals_df <- aggregate(Manawatu_Whanganui_homes_df['Value'], by=Manawatu_Whanganui_homes_df['Category'], sum)

In [405]:
Marlborough_homes_totals_df <- aggregate(Marlborough_homes_df['Value'], by=Marlborough_homes_df['Category'], sum)

In [406]:
Nelson_homes_totals_df <- aggregate(Nelson_homes_df['Value'], by=Nelson_homes_df['Category'], sum)

In [407]:
Otago_homes_totals_df <- aggregate(Otago_homes_df['Value'], by=Otago_homes_df['Category'], sum)

In [409]:
Southland_homes_totals_df <- aggregate(Southland_homes_df['Value'], by=Southland_homes_df['Category'], sum)

In [410]:
Northland_homes_totals_df <- aggregate(Northland_homes_df['Value'], by=Northland_homes_df['Category'], sum)

In [419]:
homes_totals_df <- bind_cols(Manawatu_Whanganui_homes_totals_df, Marlborough_homes_totals_df, Nelson_homes_totals_df, Otago_homes_totals_df, Southland_homes_totals_df, Northland_homes_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [420]:
clean_homes_totals_df <- subset(homes_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [421]:
Final_homes_df <- rename(clean_homes_totals_df, c("Total_People"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [422]:
Final_homes_df

  Total_People                                      Manawatu_Whanganui
1 Dwelling Held in a Family Trust                   22116
2 Dwelling Not Owned and Not Held in a Family Trust 56730
3 Dwelling Owned or Partly Owned                    84414
4 Not Elsewhere Included                            10602
  Marlborough Nelson Otago Southland Northland
1 2607        2445   12204  5709      7581
2 4863        5598   21825 10740     18063
3 9249        9648   32904 18960     27861
4  954         849    3855  2037      5439

In [436]:
Manawatu_Whanganui_median_income_totals_df <- aggregate(Manawatu_Whanganui_median_income_df['Value'], by=Manawatu_Whanganui_median_income_df['Measure'], sum)

In [437]:
Marlborough_median_income_totals_df <- aggregate(Marlborough_median_income_df['Value'], by=Marlborough_median_income_df['Measure'], sum)

In [438]:
Nelson_median_income_totals_df <- aggregate(Nelson_median_income_df['Value'], by=Nelson_median_income_df['Measure'], sum)

In [439]:
Otago_median_income_totals_df <- aggregate(Otago_median_income_df['Value'], by=Otago_median_income_df['Measure'], sum)

In [440]:
Southland_median_income_totals_df <- aggregate(Southland_median_income_df['Value'], by=Southland_median_income_df['Measure'], sum)

In [441]:
Northland_median_income_totals_df <- aggregate(Northland_median_income_df['Value'], by=Northland_median_income_df['Measure'], sum)

In [442]:
median_income_totals_df <- bind_cols(Manawatu_Whanganui_median_income_totals_df, Marlborough_median_income_totals_df, Nelson_median_income_totals_df, Otago_median_income_totals_df, Southland_median_income_totals_df, Northland_median_income_totals_df)

New names:
* Measure -> Measure...1
* Value -> Value...2
* Measure -> Measure...3
* Value -> Value...4
* Measure -> Measure...5
* ...

In [443]:
clean_median_income_totals_df <- subset(median_income_totals_df, select = -c(Measure...3, Measure...5, Measure...7, Measure...9, Measure...11))

In [444]:
Final_median_income_totals_df <- rename(clean_median_income_totals_df, c("Median_Incomes"="Measure...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [445]:
Final_median_income_totals_df

  Median_Incomes             Manawatu_Whanganui Marlborough Nelson Otago
1 Median personal income ($) 351200             27900       27200  116600
  Southland Northland
1 90100     69400

## **Final Total Data Frames:**

 - Final_dog_df
 - Final_populations_df
 - Final_homes_df
 - Final_median_income_totals_df

In [446]:
write.csv(Final_dog_df,'Dog_Breeds_Manawatu-Whanganui_to_Southland.csv')

In [447]:
write.csv(Final_populations_df,'2013_Regional_Populations_Manawatu-Whanganui_to_Southland.csv')

In [448]:
write.csv(Final_homes_df,'2013_Home_Ownership_Manawatu-Whanganui_to_Southland.csv')

In [449]:
write.csv(Final_median_income_totals_df,'2013_Median_Income_Manawatu-Whanganui_to_Southland.csv')