## Data Wrangling Project: Looking at the Pets of New Zealand

## This project looked at all of the pets in New Zealands Regions

## At the end of this notebook we will end with 4 dataframes:

One for the pet information for all the regions

One for the population information for all three regions

One for the income information for all three regions

One for the home ownership information for all three regions

We had CSVs from all of the regions in New Zealand that contained information about Pets counts, population information median income and home ownership

The first step is to extract this information from the CSVs and make a dataframe for each of this information

To do this we sorted the information about different districts in New Zealnd (61) into folders for different regions in New Zealand.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Define functions to extract the information we want from the CSVs

In [2]:
#Extract the pets information from the CSV
#This loops through each file name in a file list and extracts information about the counts of dogs 
#in that csv
pet_reader = function(file_list,df){
        for (i in 1:length(file_list)){
              data = read_csv(file_list[i])
              pets_data = data[data$Topic == "Pets",]
              pets_data$Topic = NULL
              pets_data$NullReason = NULL
              pets_data$Source = NULL
              pets_data$ValueUnit = NULL
              pets_data$ValueLabel = NULL
              pets_data$Date = NULL
              pets_data$DateLabel = NULL  
    
              #this is specific to the pets portion, this removes the acc data
              pets_counts = pets_data[c(-1,-2,-3),]
              pets_counts
  
  
              total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
              df <- rbind(df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

        }
    return(df)
}

In [3]:
#This is a similar function but focuses on reading jus tthe population data from CSV
pop_reader = function(file_list, df){

        for (i in 1:length(file_list)){
          data = read.csv(file_list[i])
          #e.g. if we wanted household information we would change the topic to be "Households" below
          demo_data = data[data$Topic == "Demographics",]

          demo_data$Topic = NULL
          demo_data$NullReason = NULL
          demo_data$Source = NULL
          demo_data$ValueUnit = NULL
          demo_data$ValueLabel = NULL
          demo_data$Date = NULL
          demo_data$DateLabel = NULL  

          population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
          df <- rbind(df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
    }
        return(df)

}

In [4]:
home_reader = function(file_list, df){
        for (i in 1:length(file_list)){
          data = read.csv(file_list[i])
          #e.g. if we wanted household information we would change the topic to be "Households" below
          home_data = data[data$Topic == "Households",]

          home_data$Topic = NULL
          home_data$NullReason = NULL
          home_data$Source = NULL
          home_data$ValueUnit = NULL
          home_data$ValueLabel = NULL  
          home_data$Date = NULL
          home_data$DateLabel = NULL  

          ownership = home_data[home_data$Measure == "Home ownership by households",]  
          df <- rbind(df, ownership) #for each iteration, bind the new data to the building dataset
        }
        return(df)

}

In [5]:

income_reader = function(file_list, df){
        for (i in 1:length(file_list)){
          data = read.csv(file_list[i])
          #e.g. if we wanted household information we would change the topic to be "Households" below
          income_data = data[data$Topic == "Income",]

          income_data$Topic = NULL
          income_data$NullReason = NULL
          income_data$Source = NULL
          income_data$ValueUnit = NULL
          income_data$ValueLabel = NULL  
          income_data$Date = NULL
          income_data$DateLabel = NULL

          personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
          df <- rbind(df, personal_income) #for each iteration, bind the new data to the building dataset
        }
        return(df)

}

## Auckland To Hawkes Bay - Extract the information that we want from the CSVs

In [6]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Auckland")

In [7]:
#Read all of the file names in a path (which is where we have saved all of the CSVs for a region)
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Auckland")
file_list

[1] "Auckland.csv"

In [8]:
#Make an empty dataframe for the 4 bits of information that we want to extract from the CSV
auckland_pet <- data.frame()
auckland_pop <- data.frame()
auckland_homes <- data.frame()
auckland_income <- data.frame()

In [9]:
auckland_pets = pet_reader(file_list, auckland_pet)
auckland_pets

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Auckland              Registered dogs — Total registered dogs
2  Auckland              Registered dogs — Total registered dogs
3  Auckland              Registered dogs — Total registered dogs
4  Auckland              Registered dogs — Total registered dogs
5  Auckland              Registered dogs — Total registered dogs
6  Auckland              Registered dogs — Total registered dogs
7  Auckland              Registered dogs — Total registered dogs
8  Auckland              Registered dogs — Total registered dogs
9  Auckland              Registered dogs — Total registered dogs
10 Auckland              Registered dogs — Total registered dogs
11 Auckland              Registered dogs — Total registered dogs
12 Auckland              Registered dogs — Total registered dogs
13 Auckland              Registered dogs — Total registered dogs
14 Auckland              Registered dogs — Total registered dogs
15 Auckland              Registered dogs — Total registered dogs
16 Auckland              Registered dogs — Total registered dogs
17 Auckland              Registered dogs — Total registered dogs
18 Auckland              Registered dogs — Total registered dogs
19 Auckland              Registered dogs — Total registered dogs
20 Auckland              Registered dogs — Total registered dogs
21 Auckland              Registered dogs — Total registered dogs
22 Auckland              Registered dogs — Total registered dogs
23 Auckland              Registered dogs — Total registered dogs
24 Auckland              Registered dogs — Total registered dogs
25 Auckland              Registered dogs — Total registered dogs
26 Auckland              Registered dogs — Total registered dogs
27 Auckland              Registered dogs — Total registered dogs
28 Auckland              Registered dogs — Total registered dogs
29 Auckland              Registered dogs — Total registered dogs
30 Auckland              Registered dogs — Total registered dogs
31 Auckland              Registered dogs — Total registered dogs
32 Auckland              Registered dogs — Total registered dogs
33 Auckland              Registered dogs — Total registered dogs
34 Auckland              Registered dogs — Total registered dogs
35 Auckland              Registered dogs — Total registered dogs
36 Auckland              Registered dogs — Total registered dogs
37 Auckland              Registered dogs — Total registered dogs
38 Auckland              Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      106078
2  All pure breeds                 66078
3  Beagle                            668
4  Bichon Frise                     1619
5  Boxer                             893
6  Brazilian Fila                      0
7  Cattle, Australian                648
8  Chihuahua, Long Coat              607
9  Chihuahua, Smooth Coat           1006
10 Collie, Bearded                   273
11 Collie, Border                   3383
12 Collie, Rough                     147
13 Collie, Smooth                    118
14 Dogo Argentino                      1
15 Greyhound                         689
16 Heading                           471
17 Huntaway                         1299
18 Maltese                          1332
19 Perro de Presa Canario              0
20 Poodle, Miniature                 953
21 Poodle, Toy                      1420
22 Retriever, Golden                2299
23 Retriever, Labrador              7966
24 Rottweiler                       1432
25 Schnauzer, Miniature             2688
26 Shepherd, German                 3074
27 Shih Tzu                         1955
28 Spaniel, Cavalier King Charles    699
29 Spaniel, Cocker                  1129
30 Spaniel, English Springer         374
31 Terrier, American Pit Bull        774
32 Terrier, Fox (Smooth)            1709
33 Terrier, Jack Russell            2734
34 Terrier, Staffordshire Bull      2260
35 Terrier, West Highland White      863
36 Tosa, Japanese                      0
37 Other pure breeds               20595
38 All cross breeds                40000

In [10]:
auckland_pop = pop_reader(file_list, auckland_pop)
auckland_pop

  Territorial.Authority Measure                               Category
1 Auckland              Population - residents at 2013 census Total people
  Value
1 1415550

In [11]:
auckland_homes = home_reader(file_list, auckland_homes)
auckland_homes

    Territorial.Authority Measure
225 Auckland              Home ownership by households
226 Auckland              Home ownership by households
227 Auckland              Home ownership by households
228 Auckland              Home ownership by households
    Category                                          Value
225 Dwelling Owned or Partly Owned                    201408
226 Dwelling Not Owned and Not Held in a Family Trust 168705
227 Dwelling Held in a Family Trust                    67533
228 Not Elsewhere Included                             31848

In [12]:
auckland_income = income_reader(file_list, auckland_income)
auckland_income

    Territorial.Authority Measure                    Category Value
128 Auckland              Median personal income ($)          29600

We can repeat the steps we have taken with the Auckland region with all of the other regions in New Zealand

## Bay of Plenty

In [13]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Bay of Plenty")

file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Bay of Plenty")
file_list

[1] "Kawerau.csv"               "Opotiki.csv"
[3] "Rotorua.csv"               "Tauranga.csv"
[5] "Western Bay of Plenty.csv" "Whakatane.csv"

In [14]:
bop_pet <- data.frame()
bop_pop <- data.frame()
bop_homes <- data.frame()
bop_income <- data.frame()

In [15]:
bop_pet = pet_reader(file_list, bop_pet)
bop_pet

bop_pop = pop_reader(file_list, bop_pop)
bop_pop

bop_homes = home_reader(file_list, bop_homes)
bop_homes

bop_income = income_reader(file_list, bop_income)
bop_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Kawerau               Registered dogs — Total registered dogs
2   Kawerau               Registered dogs — Total registered dogs
3   Kawerau               Registered dogs — Total registered dogs
4   Kawerau               Registered dogs — Total registered dogs
5   Kawerau               Registered dogs — Total registered dogs
6   Kawerau               Registered dogs — Total registered dogs
7   Kawerau               Registered dogs — Total registered dogs
8   Kawerau               Registered dogs — Total registered dogs
9   Kawerau               Registered dogs — Total registered dogs
10  Kawerau               Registered dogs — Total registered dogs
11  Kawerau               Registered dogs — Total registered dogs
12  Kawerau               Registered dogs — Total registered dogs
13  Kawerau               Registered dogs — Total registered dogs
14  Kawerau               Registered dogs — Total registered dogs
15  Kawerau               Registered dogs — Total registered dogs
16  Kawerau               Registered dogs — Total registered dogs
17  Kawerau               Registered dogs — Total registered dogs
18  Kawerau               Registered dogs — Total registered dogs
19  Kawerau               Registered dogs — Total registered dogs
20  Kawerau               Registered dogs — Total registered dogs
21  Kawerau               Registered dogs — Total registered dogs
22  Kawerau               Registered dogs — Total registered dogs
23  Kawerau               Registered dogs — Total registered dogs
24  Kawerau               Registered dogs — Total registered dogs
25  Kawerau               Registered dogs — Total registered dogs
26  Kawerau               Registered dogs — Total registered dogs
27  Kawerau               Registered dogs — Total registered dogs
28  Kawerau               Registered dogs — Total registered dogs
29  Kawerau               Registered dogs — Total registered dogs
30  Kawerau               Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
199 Whakatane             Registered dogs — Total registered dogs
200 Whakatane             Registered dogs — Total registered dogs
201 Whakatane             Registered dogs — Total registered dogs
202 Whakatane             Registered dogs — Total registered dogs
203 Whakatane             Registered dogs — Total registered dogs
204 Whakatane             Registered dogs — Total registered dogs
205 Whakatane             Registered dogs — Total registered dogs
206 Whakatane             Registered dogs — Total registered dogs
207 Whakatane             Registered dogs — Total registered dogs
208 Whakatane             Registered dogs — Total registered dogs
209 Whakatane             Registered dogs — Total registered dogs
210 Whakatane             Registered dogs — Total registered dogs
211 Whakatane             Registered dogs — Total registered dogs
212 Whakatane             Registered dogs — Total registered dogs
213 Whakatane             Registered dogs — Total registered dogs
214 Whakatane             Registered dogs — Total registered dogs
215 Whakatane             Registered dogs — Total registered dogs
216 Whakatane             Registered dogs — Total registered dogs
217 Whakatane             Registered dogs — Total registered dogs
218 Whakatane             Registered dogs — Total registered dogs
219 Whakatane             Registered dogs — Total registered dogs
220 Whakatane             Registered dogs — Total registered dogs
221 Whakatane             Registered dogs — Total registered dogs
222 Whakatane             Registered dogs — Total registered dogs
223 Whakatane             Registered dogs — Total registered dogs
224 Whakatane             Registered dogs — Total registered dogs
225 Whakatane             Registered dogs — Total registered dogs
226 Whakatane             Registered dogs — Total registered dogs
227 Whakatane             Registered dogs — Total registered dogs
228 Whakatane             Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      1219
2   All pure breeds                 570
3   Beagle                            1
4   Bichon Frise                     14
5   Boxer                             4
6   Brazilian Fila                    0
7   Cattle, Australian               10
8   Chihuahua, Long Coat             20
9   Chihuahua, Smooth Coat           12
10  Collie, Bearded                   3
11  Collie, Border                   14
12  Collie, Rough                     0
13  Collie, Smooth                    2
14  Dogo Argentino                    0
15  Greyhound                         9
16  Heading                           1
17  Huntaway                          9
18  Maltese                           7
19  Perro de Presa Canario            0
20  Poodle, Miniature                 4
21  Poodle, Toy                       7
22  Retriever, Golden                 2
23  Retriever, Labrador              59
24  Rottweiler                       27
25  Schnauzer, Miniature              3
26  Shepherd, German                 16
27  Shih Tzu                         24
28  Spaniel, Cavalier King Charles    1
29  Spaniel, Cocker                   1
30  Spaniel, English Springer         1
⋮   ⋮                              ⋮
199 Chihuahua, Smooth Coat           24
200 Collie, Bearded                  27
201 Collie, Border                  180
202 Collie, Rough                     9
203 Collie, Smooth                   12
204 Dogo Argentino                    4
205 Greyhound                        26
206 Heading                          91
207 Huntaway                        186
208 Maltese                          51
209 Perro de Presa Canario            0
210 Poodle, Miniature                25
211 Poodle, Toy                      14
212 Retriever, Golden                46
213 Retriever, Labrador             432
214 Rottweiler                      119
215 Schnauzer, Miniature             67
216 Shepherd, German                115
217 Shih Tzu                         53
218 Spaniel, Cavalier King Charles   12
219 Spaniel, Cocker                  27
220 Spaniel, English Springer        28
221 Terrier, American Pit Bull       31
222 Terrier, Fox (Smooth)           245
223 Terrier, Jack Russell           100
224 Terrier, Staffordshire Bull     104
225 Terrier, West Highland White     10
226 Tosa, Japanese                    0
227 Other pure breeds               781
228 All cross breeds               2774

  Territorial.Authority Measure                               Category
1 Kawerau               Population - residents at 2013 census Total people
2 Opotiki               Population - residents at 2013 census Total people
3 Rotorua               Population - residents at 2013 census Total people
4 Tauranga              Population - residents at 2013 census Total people
5 Western Bay of Plenty Population - residents at 2013 census Total people
6 Whakatane             Population - residents at 2013 census Total people
  Value
1   6363
2   8436
3  65280
4 114789
5  43692
6  32688

     Territorial.Authority Measure
220  Kawerau               Home ownership by households
221  Kawerau               Home ownership by households
222  Kawerau               Home ownership by households
223  Kawerau               Home ownership by households
2201 Opotiki               Home ownership by households
2211 Opotiki               Home ownership by households
2221 Opotiki               Home ownership by households
2231 Opotiki               Home ownership by households
2202 Rotorua               Home ownership by households
2212 Rotorua               Home ownership by households
2222 Rotorua               Home ownership by households
2232 Rotorua               Home ownership by households
2203 Tauranga              Home ownership by households
2213 Tauranga              Home ownership by households
2223 Tauranga              Home ownership by households
2233 Tauranga              Home ownership by households
2204 Western Bay of Plenty Home ownership by households
2214 Western Bay of Plenty Home ownership by households
2224 Western Bay of Plenty Home ownership by households
2234 Western Bay of Plenty Home ownership by households
2205 Whakatane             Home ownership by households
2215 Whakatane             Home ownership by households
2225 Whakatane             Home ownership by households
2235 Whakatane             Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                     1197
221  Dwelling Not Owned and Not Held in a Family Trust   810
222  Dwelling Held in a Family Trust                     123
223  Not Elsewhere Included                              246
2201 Dwelling Owned or Partly Owned                     1305
2211 Dwelling Not Owned and Not Held in a Family Trust  1137
2221 Dwelling Held in a Family Trust                     342
2231 Not Elsewhere Included                              435
2202 Dwelling Owned or Partly Owned                    10941
2212 Dwelling Not Owned and Not Held in a Family Trust  8412
2222 Dwelling Held in a Family Trust                    2538
2232 Not Elsewhere Included                             2316
2203 Dwelling Owned or Partly Owned                    19662
2213 Dwelling Not Owned and Not Held in a Family Trust 14811
2223 Dwelling Held in a Family Trust                    7986
2233 Not Elsewhere Included                             2448
2204 Dwelling Owned or Partly Owned                     7386
2214 Dwelling Not Owned and Not Held in a Family Trust  4683
2224 Dwelling Held in a Family Trust                    3645
2234 Not Elsewhere Included                             1020
2205 Dwelling Owned or Partly Owned                     5427
2215 Dwelling Not Owned and Not Held in a Family Trust  4074
2225 Dwelling Held in a Family Trust                    1533
2235 Not Elsewhere Included                             1011

     Territorial.Authority Measure                    Category Value
128  Kawerau               Median personal income ($)          18700
1281 Opotiki               Median personal income ($)          20700
1282 Rotorua               Median personal income ($)          26900
1283 Tauranga              Median personal income ($)          27100
1284 Western Bay of Plenty Median personal income ($)          26300
1285 Whakatane             Median personal income ($)          25600

## Canterbury

In [16]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Canterbury")

file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Canterbury")
file_list

 [1] "Ashburton.csv"       "Chatham Islands.csv" "Christchurch.csv"
 [4] "Hurunui.csv"         "Kaikoura.csv"        "Mackenzie.csv"
 [7] "Selwyn.csv"          "Timaru.csv"          "Waimakariri.csv"
[10] "Waimate.csv"         "Waitaki.csv"

In [17]:
cant_pet <- data.frame()
cant_pop <- data.frame()
cant_homes <- data.frame()
cant_income <- data.frame()

In [18]:
cant_pet = pet_reader(file_list, cant_pet)
cant_pet

cant_pop = pop_reader(file_list, cant_pop)
cant_pop

cant_homes = home_reader(file_list, cant_homes)
cant_homes

cant_income = income_reader(file_list, cant_income)
cant_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Ashburton             Registered dogs — Total registered dogs
2   Ashburton             Registered dogs — Total registered dogs
3   Ashburton             Registered dogs — Total registered dogs
4   Ashburton             Registered dogs — Total registered dogs
5   Ashburton             Registered dogs — Total registered dogs
6   Ashburton             Registered dogs — Total registered dogs
7   Ashburton             Registered dogs — Total registered dogs
8   Ashburton             Registered dogs — Total registered dogs
9   Ashburton             Registered dogs — Total registered dogs
10  Ashburton             Registered dogs — Total registered dogs
11  Ashburton             Registered dogs — Total registered dogs
12  Ashburton             Registered dogs — Total registered dogs
13  Ashburton             Registered dogs — Total registered dogs
14  Ashburton             Registered dogs — Total registered dogs
15  Ashburton             Registered dogs — Total registered dogs
16  Ashburton             Registered dogs — Total registered dogs
17  Ashburton             Registered dogs — Total registered dogs
18  Ashburton             Registered dogs — Total registered dogs
19  Ashburton             Registered dogs — Total registered dogs
20  Ashburton             Registered dogs — Total registered dogs
21  Ashburton             Registered dogs — Total registered dogs
22  Ashburton             Registered dogs — Total registered dogs
23  Ashburton             Registered dogs — Total registered dogs
24  Ashburton             Registered dogs — Total registered dogs
25  Ashburton             Registered dogs — Total registered dogs
26  Ashburton             Registered dogs — Total registered dogs
27  Ashburton             Registered dogs — Total registered dogs
28  Ashburton             Registered dogs — Total registered dogs
29  Ashburton             Registered dogs — Total registered dogs
30  Ashburton             Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
389 Waitaki               Registered dogs — Total registered dogs
390 Waitaki               Registered dogs — Total registered dogs
391 Waitaki               Registered dogs — Total registered dogs
392 Waitaki               Registered dogs — Total registered dogs
393 Waitaki               Registered dogs — Total registered dogs
394 Waitaki               Registered dogs — Total registered dogs
395 Waitaki               Registered dogs — Total registered dogs
396 Waitaki               Registered dogs — Total registered dogs
397 Waitaki               Registered dogs — Total registered dogs
398 Waitaki               Registered dogs — Total registered dogs
399 Waitaki               Registered dogs — Total registered dogs
400 Waitaki               Registered dogs — Total registered dogs
401 Waitaki               Registered dogs — Total registered dogs
402 Waitaki               Registered dogs — Total registered dogs
403 Waitaki               Registered dogs — Total registered dogs
404 Waitaki               Registered dogs — Total registered dogs
405 Waitaki               Registered dogs — Total registered dogs
406 Waitaki               Registered dogs — Total registered dogs
407 Waitaki               Registered dogs — Total registered dogs
408 Waitaki               Registered dogs — Total registered dogs
409 Waitaki               Registered dogs — Total registered dogs
410 Waitaki               Registered dogs — Total registered dogs
411 Waitaki               Registered dogs — Total registered dogs
412 Waitaki               Registered dogs — Total registered dogs
413 Waitaki               Registered dogs — Total registered dogs
414 Waitaki               Registered dogs — Total registered dogs
415 Waitaki               Registered dogs — Total registered dogs
416 Waitaki               Registered dogs — Total registered dogs
417 Waitaki               Registered dogs — Total registered dogs
418 Waitaki               Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      6405
2   All pure breeds                4465
3   Beagle                           32
4   Bichon Frise                    116
5   Boxer                            33
6   Brazilian Fila                    0
7   Cattle, Australian               28
8   Chihuahua, Long Coat             26
9   Chihuahua, Smooth Coat           21
10  Collie, Bearded                  42
11  Collie, Border                  526
12  Collie, Rough                    22
13  Collie, Smooth                   27
14  Dogo Argentino                    0
15  Greyhound                       157
16  Heading                         254
17  Huntaway                        448
18  Maltese                          39
19  Perro de Presa Canario            0
20  Poodle, Miniature                11
21  Poodle, Toy                      24
22  Retriever, Golden                89
23  Retriever, Labrador             587
24  Rottweiler                       87
25  Schnauzer, Miniature             82
26  Shepherd, German                119
27  Shih Tzu                         54
28  Spaniel, Cavalier King Charles   22
29  Spaniel, Cocker                  88
30  Spaniel, English Springer        70
⋮   ⋮                              ⋮
389 Chihuahua, Smooth Coat           23
390 Collie, Bearded                  54
391 Collie, Border                  574
392 Collie, Rough                   183
393 Collie, Smooth                  164
394 Dogo Argentino                    0
395 Greyhound                        20
396 Heading                         263
397 Huntaway                        447
398 Maltese                          24
399 Perro de Presa Canario            0
400 Poodle, Miniature                26
401 Poodle, Toy                      39
402 Retriever, Golden                60
403 Retriever, Labrador             396
404 Rottweiler                       44
405 Schnauzer, Miniature             45
406 Shepherd, German                 71
407 Shih Tzu                         37
408 Spaniel, Cavalier King Charles   13
409 Spaniel, Cocker                  53
410 Spaniel, English Springer        51
411 Terrier, American Pit Bull       11
412 Terrier, Fox (Smooth)           113
413 Terrier, Jack Russell           216
414 Terrier, Staffordshire Bull     110
415 Terrier, West Highland White     27
416 Tosa, Japanese                    0
417 Other pure breeds               628
418 All cross breeds               1499

   Territorial.Authority Measure                               Category
1  Ashburton             Population - residents at 2013 census Total people
2  Chatham Islands       Population - residents at 2013 census Total people
3  Christchurch          Population - residents at 2013 census Total people
4  Hurunui               Population - residents at 2013 census Total people
5  Kaikoura              Population - residents at 2013 census Total people
6  Mackenzie             Population - residents at 2013 census Total people
7  Selwyn                Population - residents at 2013 census Total people
8  Timaru                Population - residents at 2013 census Total people
9  Waimakariri           Population - residents at 2013 census Total people
10 Waimate               Population - residents at 2013 census Total people
11 Waitaki               Population - residents at 2013 census Total people
   Value
1   31041
2     600
3  341469
4   11529
5    3552
6    4158
7   44595
8   43932
9   49989
10   7536
11  20826

     Territorial.Authority Measure
220  Ashburton             Home ownership by households
221  Ashburton             Home ownership by households
222  Ashburton             Home ownership by households
223  Ashburton             Home ownership by households
202  Chatham Islands       Home ownership by households
203  Chatham Islands       Home ownership by households
204  Chatham Islands       Home ownership by households
205  Chatham Islands       Home ownership by households
2201 Christchurch          Home ownership by households
2211 Christchurch          Home ownership by households
2221 Christchurch          Home ownership by households
2231 Christchurch          Home ownership by households
2202 Hurunui               Home ownership by households
2212 Hurunui               Home ownership by households
2222 Hurunui               Home ownership by households
2232 Hurunui               Home ownership by households
2203 Kaikoura              Home ownership by households
2213 Kaikoura              Home ownership by households
2223 Kaikoura              Home ownership by households
2233 Kaikoura              Home ownership by households
2204 Mackenzie             Home ownership by households
2214 Mackenzie             Home ownership by households
2224 Mackenzie             Home ownership by households
2234 Mackenzie             Home ownership by households
2205 Selwyn                Home ownership by households
2215 Selwyn                Home ownership by households
2225 Selwyn                Home ownership by households
2235 Selwyn                Home ownership by households
2206 Timaru                Home ownership by households
2216 Timaru                Home ownership by households
2226 Timaru                Home ownership by households
2236 Timaru                Home ownership by households
2207 Waimakariri           Home ownership by households
2217 Waimakariri           Home ownership by households
2227 Waimakariri           Home ownership by households
2237 Waimakariri           Home ownership by households
2208 Waimate               Home ownership by households
2218 Waimate               Home ownership by households
2228 Waimate               Home ownership by households
2238 Waimate               Home ownership by households
2209 Waitaki               Home ownership by households
2219 Waitaki               Home ownership by households
2229 Waitaki               Home ownership by households
2239 Waitaki               Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                     5910
221  Dwelling Not Owned and Not Held in a Family Trust  3867
222  Dwelling Held in a Family Trust                    1833
223  Not Elsewhere Included                              594
202  Dwelling Owned or Partly Owned                      102
203  Dwelling Not Owned and Not Held in a Family Trust   105
204  Dwelling Held in a Family Trust                      21
205  Not Elsewhere Included                               18
2201 Dwelling Owned or Partly Owned                    63468
2211 Dwelling Not Owned and Not Held in a Family Trust 43008
2221 Dwelling Held in a Family Trust                   15621
2231 Not Elsewhere Included                             6981
2202 Dwelling Owned or Partly Owned                     2433
2212 Dwelling Not Owned and Not Held in a Family Trust  1368
2222 Dwelling Held in a Family Trust                     600
2232 Not Elsewhere Included                              267
2203 Dwelling Owned or Partly Owned                      732
2213 Dwelling Not Owned and Not Held in a Family Trust   471
2223 Dwelling Held in a Family Trust                     180
2233 Not Elsewhere Included                              102
2204 Dwelling Owned or Partly Owned                      768
2214 Dwelling Not Owned and Not Held in a Family Trust   534
2224 Dwelling Held in a Family Trust                     246
2234 Not Elsewhere Included                               99
2205 Not Elsewhere Included                              558
2215 Dwelling Owned or Partly Owned                     9012
2225 Dwelling Not Owned and Not Held in a Family Trust  3099
2235 Dwelling Held in a Family Trust                    2334
2206 Dwelling Owned or Partly Owned                    10320
2216 Dwelling Not Owned and Not Held in a Family Trust  4710
2226 Dwelling Held in a Family Trust                    2406
2236 Not Elsewhere Included                              918
2207 Dwelling Owned or Partly Owned                    11700
2217 Dwelling Not Owned and Not Held in a Family Trust  3495
2227 Dwelling Held in a Family Trust                    2565
2237 Not Elsewhere Included                              786
2208 Dwelling Owned or Partly Owned                     1686
2218 Dwelling Not Owned and Not Held in a Family Trust   873
2228 Dwelling Held in a Family Trust                     378
2238 Not Elsewhere Included                              243
2209 Dwelling Owned or Partly Owned                     4602
2219 Dwelling Not Owned and Not Held in a Family Trust  2265
2229 Dwelling Held in a Family Trust                    1359
2239 Not Elsewhere Included                              585

      Territorial.Authority Measure                    Category Value
128   Ashburton             Median personal income ($)          32900
1281  Chatham Islands       Median personal income ($)          30800
1282  Christchurch          Median personal income ($)          29800
1283  Hurunui               Median personal income ($)          28600
1284  Kaikoura              Median personal income ($)          26500
1285  Mackenzie             Median personal income ($)          29300
1286  Selwyn                Median personal income ($)          36100
1287  Timaru                Median personal income ($)          26900
1288  Waimakariri           Median personal income ($)          30300
1289  Waimate               Median personal income ($)          24800
12810 Waitaki               Median personal income ($)          25300

## Gisbourne

In [19]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Gisbourne")

file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Gisbourne")
file_list

[1] "Gisborne.csv"

In [20]:
gisb_pet <- data.frame()
gisb_pop <- data.frame()
gisb_homes <- data.frame()
gisb_income <- data.frame()

In [21]:
gisb_pet = pet_reader(file_list, gisb_pet)
gisb_pet

gisb_pop = pop_reader(file_list, gisb_pop)
gisb_pop

gisb_homes = home_reader(file_list, gisb_homes)
gisb_homes

gisb_income = income_reader(file_list, gisb_income)
gisb_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Gisborne              Registered dogs — Total registered dogs
2  Gisborne              Registered dogs — Total registered dogs
3  Gisborne              Registered dogs — Total registered dogs
4  Gisborne              Registered dogs — Total registered dogs
5  Gisborne              Registered dogs — Total registered dogs
6  Gisborne              Registered dogs — Total registered dogs
7  Gisborne              Registered dogs — Total registered dogs
8  Gisborne              Registered dogs — Total registered dogs
9  Gisborne              Registered dogs — Total registered dogs
10 Gisborne              Registered dogs — Total registered dogs
11 Gisborne              Registered dogs — Total registered dogs
12 Gisborne              Registered dogs — Total registered dogs
13 Gisborne              Registered dogs — Total registered dogs
14 Gisborne              Registered dogs — Total registered dogs
15 Gisborne              Registered dogs — Total registered dogs
16 Gisborne              Registered dogs — Total registered dogs
17 Gisborne              Registered dogs — Total registered dogs
18 Gisborne              Registered dogs — Total registered dogs
19 Gisborne              Registered dogs — Total registered dogs
20 Gisborne              Registered dogs — Total registered dogs
21 Gisborne              Registered dogs — Total registered dogs
22 Gisborne              Registered dogs — Total registered dogs
23 Gisborne              Registered dogs — Total registered dogs
24 Gisborne              Registered dogs — Total registered dogs
25 Gisborne              Registered dogs — Total registered dogs
26 Gisborne              Registered dogs — Total registered dogs
27 Gisborne              Registered dogs — Total registered dogs
28 Gisborne              Registered dogs — Total registered dogs
29 Gisborne              Registered dogs — Total registered dogs
30 Gisborne              Registered dogs — Total registered dogs
31 Gisborne              Registered dogs — Total registered dogs
32 Gisborne              Registered dogs — Total registered dogs
33 Gisborne              Registered dogs — Total registered dogs
34 Gisborne              Registered dogs — Total registered dogs
35 Gisborne              Registered dogs — Total registered dogs
36 Gisborne              Registered dogs — Total registered dogs
37 Gisborne              Registered dogs — Total registered dogs
38 Gisborne              Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      9746
2  All pure breeds                6702
3  Beagle                           16
4  Bichon Frise                     36
5  Boxer                            52
6  Brazilian Fila                    0
7  Cattle, Australian               79
8  Chihuahua, Long Coat             27
9  Chihuahua, Smooth Coat           19
10 Collie, Bearded                  15
11 Collie, Border                  128
12 Collie, Rough                    14
13 Collie, Smooth                    1
14 Dogo Argentino                    0
15 Greyhound                        11
16 Heading                        1513
17 Huntaway                       2067
18 Maltese                          48
19 Perro de Presa Canario            0
20 Poodle, Miniature                21
21 Poodle, Toy                      20
22 Retriever, Golden                48
23 Retriever, Labrador             556
24 Rottweiler                       98
25 Schnauzer, Miniature             40
26 Shepherd, German                118
27 Shih Tzu                         38
28 Spaniel, Cavalier King Charles   42
29 Spaniel, Cocker                  27
30 Spaniel, English Springer        19
31 Terrier, American Pit Bull       35
32 Terrier, Fox (Smooth)           354
33 Terrier, Jack Russell           233
34 Terrier, Staffordshire Bull      94
35 Terrier, West Highland White     12
36 Tosa, Japanese                    0
37 Other pure breeds               921
38 All cross breeds               3044

  Territorial.Authority Measure                               Category
1 Gisborne              Population - residents at 2013 census Total people
  Value
1 43653

    Territorial.Authority Measure
220 Gisborne              Home ownership by households
221 Gisborne              Home ownership by households
222 Gisborne              Home ownership by households
223 Gisborne              Home ownership by households
    Category                                          Value
220 Dwelling Owned or Partly Owned                    7080
221 Dwelling Not Owned and Not Held in a Family Trust 6006
222 Dwelling Held in a Family Trust                   1632
223 Not Elsewhere Included                            1275

    Territorial.Authority Measure                    Category Value
128 Gisborne              Median personal income ($)          24400

## Hawke's Bay

In [22]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Hawke's Bay")

file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Hawke's Bay")
file_list

[1] "Central Hawke's Bay.csv" "Hastings.csv"
[3] "Napier.csv"              "Wairoa.csv"

In [23]:
hb_pet <- data.frame()
hb_pop <- data.frame()
hb_homes <- data.frame()
hb_income <- data.frame()

In [24]:
hb_pet = pet_reader(file_list, hb_pet)
hb_pet

hb_pop = pop_reader(file_list, hb_pop)
hb_pop

hb_homes = home_reader(file_list, hb_homes)
hb_homes

hb_income = income_reader(file_list, hb_income)
hb_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Central Hawke's Bay   Registered dogs — Total registered dogs
2   Central Hawke's Bay   Registered dogs — Total registered dogs
3   Central Hawke's Bay   Registered dogs — Total registered dogs
4   Central Hawke's Bay   Registered dogs — Total registered dogs
5   Central Hawke's Bay   Registered dogs — Total registered dogs
6   Central Hawke's Bay   Registered dogs — Total registered dogs
7   Central Hawke's Bay   Registered dogs — Total registered dogs
8   Central Hawke's Bay   Registered dogs — Total registered dogs
9   Central Hawke's Bay   Registered dogs — Total registered dogs
10  Central Hawke's Bay   Registered dogs — Total registered dogs
11  Central Hawke's Bay   Registered dogs — Total registered dogs
12  Central Hawke's Bay   Registered dogs — Total registered dogs
13  Central Hawke's Bay   Registered dogs — Total registered dogs
14  Central Hawke's Bay   Registered dogs — Total registered dogs
15  Central Hawke's Bay   Registered dogs — Total registered dogs
16  Central Hawke's Bay   Registered dogs — Total registered dogs
17  Central Hawke's Bay   Registered dogs — Total registered dogs
18  Central Hawke's Bay   Registered dogs — Total registered dogs
19  Central Hawke's Bay   Registered dogs — Total registered dogs
20  Central Hawke's Bay   Registered dogs — Total registered dogs
21  Central Hawke's Bay   Registered dogs — Total registered dogs
22  Central Hawke's Bay   Registered dogs — Total registered dogs
23  Central Hawke's Bay   Registered dogs — Total registered dogs
24  Central Hawke's Bay   Registered dogs — Total registered dogs
25  Central Hawke's Bay   Registered dogs — Total registered dogs
26  Central Hawke's Bay   Registered dogs — Total registered dogs
27  Central Hawke's Bay   Registered dogs — Total registered dogs
28  Central Hawke's Bay   Registered dogs — Total registered dogs
29  Central Hawke's Bay   Registered dogs — Total registered dogs
30  Central Hawke's Bay   Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
123 Wairoa                Registered dogs — Total registered dogs
124 Wairoa                Registered dogs — Total registered dogs
125 Wairoa                Registered dogs — Total registered dogs
126 Wairoa                Registered dogs — Total registered dogs
127 Wairoa                Registered dogs — Total registered dogs
128 Wairoa                Registered dogs — Total registered dogs
129 Wairoa                Registered dogs — Total registered dogs
130 Wairoa                Registered dogs — Total registered dogs
131 Wairoa                Registered dogs — Total registered dogs
132 Wairoa                Registered dogs — Total registered dogs
133 Wairoa                Registered dogs — Total registered dogs
134 Wairoa                Registered dogs — Total registered dogs
135 Wairoa                Registered dogs — Total registered dogs
136 Wairoa                Registered dogs — Total registered dogs
137 Wairoa                Registered dogs — Total registered dogs
138 Wairoa                Registered dogs — Total registered dogs
139 Wairoa                Registered dogs — Total registered dogs
140 Wairoa                Registered dogs — Total registered dogs
141 Wairoa                Registered dogs — Total registered dogs
142 Wairoa                Registered dogs — Total registered dogs
143 Wairoa                Registered dogs — Total registered dogs
144 Wairoa                Registered dogs — Total registered dogs
145 Wairoa                Registered dogs — Total registered dogs
146 Wairoa                Registered dogs — Total registered dogs
147 Wairoa                Registered dogs — Total registered dogs
148 Wairoa                Registered dogs — Total registered dogs
149 Wairoa                Registered dogs — Total registered dogs
150 Wairoa                Registered dogs — Total registered dogs
151 Wairoa                Registered dogs — Total registered dogs
152 Wairoa                Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      4953
2   All pure breeds                4020
3   Beagle                            6
4   Bichon Frise                     17
5   Boxer                            14
6   Brazilian Fila                    0
7   Cattle, Australian               34
8   Chihuahua, Long Coat             13
9   Chihuahua, Smooth Coat           31
10  Collie, Bearded                  42
11  Collie, Border                   99
12  Collie, Rough                    20
13  Collie, Smooth                  583
14  Dogo Argentino                    1
15  Greyhound                        14
16  Heading                         749
17  Huntaway                        859
18  Maltese                          18
19  Perro de Presa Canario            0
20  Poodle, Miniature                 9
21  Poodle, Toy                      12
22  Retriever, Golden                46
23  Retriever, Labrador             356
24  Rottweiler                       60
25  Schnauzer, Miniature             22
26  Shepherd, German                 66
27  Shih Tzu                         23
28  Spaniel, Cavalier King Charles   17
29  Spaniel, Cocker                  15
30  Spaniel, English Springer        28
⋮   ⋮                              ⋮
123 Chihuahua, Smooth Coat           8
124 Collie, Bearded                 10
125 Collie, Border                  23
126 Collie, Rough                    0
127 Collie, Smooth                   0
128 Dogo Argentino                   0
129 Greyhound                       11
130 Heading                        630
131 Maltese                          1
132 Huntaway                       883
133 Perro de Presa Canario           0
134 Poodle, Miniature                8
135 Poodle, Toy                      4
136 Retriever, Golden               32
137 Retriever, Labrador            120
138 Rottweiler                      37
139 Schnauzer, Miniature             2
140 Shepherd, German                55
141 Shih Tzu                        16
142 Spaniel, Cavalier King Charles   6
143 Spaniel, Cocker                  4
144 Spaniel, English Springer       11
145 Terrier, American Pit Bull      22
146 Terrier, Fox (Smooth)          162
147 Terrier, Jack Russell           79
148 Terrier, Staffordshire Bull     25
149 Terrier, West Highland White     1
150 Tosa, Japanese                   0
151 Other pure breeds              243
152 All cross breeds               718

  Territorial.Authority Measure                               Category
1 Central Hawke's Bay   Population - residents at 2013 census Total people
2 Hastings              Population - residents at 2013 census Total people
3 Napier                Population - residents at 2013 census Total people
4 Wairoa                Population - residents at 2013 census Total people
  Value
1 12720
2 73245
3 57240
4  7890

     Territorial.Authority Measure
220  Central Hawke's Bay   Home ownership by households
221  Central Hawke's Bay   Home ownership by households
222  Central Hawke's Bay   Home ownership by households
223  Central Hawke's Bay   Home ownership by households
2201 Hastings              Home ownership by households
2211 Hastings              Home ownership by households
2221 Hastings              Home ownership by households
2231 Hastings              Home ownership by households
2202 Napier                Home ownership by households
2212 Napier                Home ownership by households
2222 Napier                Home ownership by households
2232 Napier                Home ownership by households
2203 Wairoa                Home ownership by households
2213 Wairoa                Home ownership by households
2223 Wairoa                Home ownership by households
2233 Wairoa                Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                     2403
221  Dwelling Not Owned and Not Held in a Family Trust  1437
222  Dwelling Held in a Family Trust                     990
223  Not Elsewhere Included                              273
2201 Dwelling Owned or Partly Owned                    12177
2211 Dwelling Not Owned and Not Held in a Family Trust  8379
2221 Dwelling Held in a Family Trust                    4347
2231 Not Elsewhere Included                             1788
2202 Dwelling Owned or Partly Owned                    10977
2212 Dwelling Not Owned and Not Held in a Family Trust  7416
2222 Dwelling Held in a Family Trust                    3153
2232 Not Elsewhere Included                             1296
2203 Dwelling Owned or Partly Owned                     1362
2213 Dwelling Not Owned and Not Held in a Family Trust  1167
2223 Dwelling Held in a Family Trust                     204
2233 Not Elsewhere Included                              243

     Territorial.Authority Measure                    Category Value
128  Central Hawke's Bay   Median personal income ($)          26700
1281 Hastings              Median personal income ($)          26500
1282 Napier                Median personal income ($)          26000
1283 Wairoa                Median personal income ($)          21900

## Aggregration now

Now we must aggregate. THis is becausae we do not want information about individual districts, we want information about the region as a whole. Therefore we can use the aggregrate function to aggregarate the dataframes by a metric we have given it (either sum or mean)

## Compress Pets

In [25]:
compress_pets = function(region){
        df<- aggregate(region['Value'], by=region['Category'], sum) 
       return(df)
}

In [26]:
auckland_pets = compress_pets(auckland_pets)
bop_pet = compress_pets(bop_pet)
cant_pet = compress_pets(cant_pet)
gisb_pet = compress_pets(gisb_pet)
hb_pet = compress_pets(hb_pet)

In [27]:
auckland_pets
bop_pet
cant_pet
gisb_pet
hb_pet

   Category                       Value
1  All cross breeds                40000
2  All pure and cross breeds      106078
3  All pure breeds                 66078
4  Beagle                            668
5  Bichon Frise                     1619
6  Boxer                             893
7  Brazilian Fila                      0
8  Cattle, Australian                648
9  Chihuahua, Long Coat              607
10 Chihuahua, Smooth Coat           1006
11 Collie, Bearded                   273
12 Collie, Border                   3383
13 Collie, Rough                     147
14 Collie, Smooth                    118
15 Dogo Argentino                      1
16 Greyhound                         689
17 Heading                           471
18 Huntaway                         1299
19 Maltese                          1332
20 Other pure breeds               20595
21 Perro de Presa Canario              0
22 Poodle, Miniature                 953
23 Poodle, Toy                      1420
24 Retriever, Golden                2299
25 Retriever, Labrador              7966
26 Rottweiler                       1432
27 Schnauzer, Miniature             2688
28 Shepherd, German                 3074
29 Shih Tzu                         1955
30 Spaniel, Cavalier King Charles    699
31 Spaniel, Cocker                  1129
32 Spaniel, English Springer         374
33 Terrier, American Pit Bull        774
34 Terrier, Fox (Smooth)            1709
35 Terrier, Jack Russell            2734
36 Terrier, Staffordshire Bull      2260
37 Terrier, West Highland White      863
38 Tosa, Japanese                      0

   Category                       Value
1  All cross breeds               19612
2  All pure and cross breeds      39480
3  All pure breeds                19868
4  Beagle                           108
5  Bichon Frise                     337
6  Boxer                            282
7  Brazilian Fila                     0
8  Cattle, Australian               295
9  Chihuahua, Long Coat             254
10 Chihuahua, Smooth Coat           222
11 Collie, Bearded                  132
12 Collie, Border                  1061
13 Collie, Rough                     48
14 Collie, Smooth                    44
15 Dogo Argentino                     5
16 Greyhound                        166
17 Heading                          486
18 Huntaway                         780
19 Maltese                          396
20 Other pure breeds               5481
21 Perro de Presa Canario             0
22 Poodle, Miniature                199
23 Poodle, Toy                      239
24 Retriever, Golden                495
25 Retriever, Labrador             2561
26 Rottweiler                       700
27 Schnauzer, Miniature             617
28 Shepherd, German                 740
29 Shih Tzu                         492
30 Spaniel, Cavalier King Charles   168
31 Spaniel, Cocker                  281
32 Spaniel, English Springer        209
33 Terrier, American Pit Bull       217
34 Terrier, Fox (Smooth)           1161
35 Terrier, Jack Russell            859
36 Terrier, Staffordshire Bull      680
37 Terrier, West Highland White     153
38 Tosa, Japanese                     0

   Category                       Value
1  All cross breeds               33535
2  All pure and cross breeds      95107
3  All pure breeds                61572
4  Beagle                           454
5  Bichon Frise                    1820
6  Boxer                            794
7  Brazilian Fila                     0
8  Cattle, Australian               317
9  Chihuahua, Long Coat             908
10 Chihuahua, Smooth Coat           416
11 Collie, Bearded                  661
12 Collie, Border                  5192
13 Collie, Rough                    410
14 Collie, Smooth                  1817
15 Dogo Argentino                     2
16 Greyhound                       1490
17 Heading                         2284
18 Huntaway                        4160
19 Maltese                          577
20 Other pure breeds              14845
21 Perro de Presa Canario             0
22 Poodle, Miniature                465
23 Poodle, Toy                      549
24 Retriever, Golden               1869
25 Retriever, Labrador             6834
26 Rottweiler                       965
27 Schnauzer, Miniature            1628
28 Shepherd, German                2043
29 Shih Tzu                         657
30 Spaniel, Cavalier King Charles   482
31 Spaniel, Cocker                 1252
32 Spaniel, English Springer        900
33 Terrier, American Pit Bull       119
34 Terrier, Fox (Smooth)           1706
35 Terrier, Jack Russell           3373
36 Terrier, Staffordshire Bull     1860
37 Terrier, West Highland White     723
38 Tosa, Japanese                     0

   Category                       Value
1  All cross breeds               3044
2  All pure and cross breeds      9746
3  All pure breeds                6702
4  Beagle                           16
5  Bichon Frise                     36
6  Boxer                            52
7  Brazilian Fila                    0
8  Cattle, Australian               79
9  Chihuahua, Long Coat             27
10 Chihuahua, Smooth Coat           19
11 Collie, Bearded                  15
12 Collie, Border                  128
13 Collie, Rough                    14
14 Collie, Smooth                    1
15 Dogo Argentino                    0
16 Greyhound                        11
17 Heading                        1513
18 Huntaway                       2067
19 Maltese                          48
20 Other pure breeds               921
21 Perro de Presa Canario            0
22 Poodle, Miniature                21
23 Poodle, Toy                      20
24 Retriever, Golden                48
25 Retriever, Labrador             556
26 Rottweiler                       98
27 Schnauzer, Miniature             40
28 Shepherd, German                118
29 Shih Tzu                         38
30 Spaniel, Cavalier King Charles   42
31 Spaniel, Cocker                  27
32 Spaniel, English Springer        19
33 Terrier, American Pit Bull       35
34 Terrier, Fox (Smooth)           354
35 Terrier, Jack Russell           233
36 Terrier, Staffordshire Bull      94
37 Terrier, West Highland White     12
38 Tosa, Japanese                    0

   Category                       Value
1  All cross breeds                8314
2  All pure and cross breeds      25308
3  All pure breeds                16994
4  Beagle                           140
5  Bichon Frise                     209
6  Boxer                            142
7  Brazilian Fila                     0
8  Cattle, Australian               175
9  Chihuahua, Long Coat             132
10 Chihuahua, Smooth Coat            75
11 Collie, Bearded                  102
12 Collie, Border                   432
13 Collie, Rough                     44
14 Collie, Smooth                   592
15 Dogo Argentino                     3
16 Greyhound                         97
17 Heading                         2301
18 Huntaway                        2646
19 Maltese                           98
20 Other pure breeds               3162
21 Perro de Presa Canario             0
22 Poodle, Miniature                100
23 Poodle, Toy                      107
24 Retriever, Golden                291
25 Retriever, Labrador             2038
26 Rottweiler                       407
27 Schnauzer, Miniature             254
28 Shepherd, German                 527
29 Shih Tzu                         236
30 Spaniel, Cavalier King Charles    99
31 Spaniel, Cocker                  114
32 Spaniel, English Springer        105
33 Terrier, American Pit Bull        82
34 Terrier, Fox (Smooth)            965
35 Terrier, Jack Russell            907
36 Terrier, Staffordshire Bull      339
37 Terrier, West Highland White      73
38 Tosa, Japanese                     0

In [28]:
#Now we want to rename the columns in the dataframe to be more sensible 
#We will rename the category column to Breeds as this is what that column shows
#and rename each value column to the name of the region for the respective region


auckland_pets <- rename(auckland_pets, Breed = Category, Auckland = Value)
bop_pet <- rename(bop_pet, Breed = Category, Bay_of_Plenty = Value)
cant_pet <- rename(cant_pet, Breed = Category, Canterbury = Value)
gisb_pet <- rename(gisb_pet, Breed = Category, Gisbourne = Value)
hb_pet <- rename(hb_pet, Breed = Category, Hawkes_Bay = Value)


auckland_pets
bop_pet
cant_pet
gisb_pet
hb_pet

   Breed                          Auckland
1  All cross breeds                40000
2  All pure and cross breeds      106078
3  All pure breeds                 66078
4  Beagle                            668
5  Bichon Frise                     1619
6  Boxer                             893
7  Brazilian Fila                      0
8  Cattle, Australian                648
9  Chihuahua, Long Coat              607
10 Chihuahua, Smooth Coat           1006
11 Collie, Bearded                   273
12 Collie, Border                   3383
13 Collie, Rough                     147
14 Collie, Smooth                    118
15 Dogo Argentino                      1
16 Greyhound                         689
17 Heading                           471
18 Huntaway                         1299
19 Maltese                          1332
20 Other pure breeds               20595
21 Perro de Presa Canario              0
22 Poodle, Miniature                 953
23 Poodle, Toy                      1420
24 Retriever, Golden                2299
25 Retriever, Labrador              7966
26 Rottweiler                       1432
27 Schnauzer, Miniature             2688
28 Shepherd, German                 3074
29 Shih Tzu                         1955
30 Spaniel, Cavalier King Charles    699
31 Spaniel, Cocker                  1129
32 Spaniel, English Springer         374
33 Terrier, American Pit Bull        774
34 Terrier, Fox (Smooth)            1709
35 Terrier, Jack Russell            2734
36 Terrier, Staffordshire Bull      2260
37 Terrier, West Highland White      863
38 Tosa, Japanese                      0

   Breed                          Bay_of_Plenty
1  All cross breeds               19612
2  All pure and cross breeds      39480
3  All pure breeds                19868
4  Beagle                           108
5  Bichon Frise                     337
6  Boxer                            282
7  Brazilian Fila                     0
8  Cattle, Australian               295
9  Chihuahua, Long Coat             254
10 Chihuahua, Smooth Coat           222
11 Collie, Bearded                  132
12 Collie, Border                  1061
13 Collie, Rough                     48
14 Collie, Smooth                    44
15 Dogo Argentino                     5
16 Greyhound                        166
17 Heading                          486
18 Huntaway                         780
19 Maltese                          396
20 Other pure breeds               5481
21 Perro de Presa Canario             0
22 Poodle, Miniature                199
23 Poodle, Toy                      239
24 Retriever, Golden                495
25 Retriever, Labrador             2561
26 Rottweiler                       700
27 Schnauzer, Miniature             617
28 Shepherd, German                 740
29 Shih Tzu                         492
30 Spaniel, Cavalier King Charles   168
31 Spaniel, Cocker                  281
32 Spaniel, English Springer        209
33 Terrier, American Pit Bull       217
34 Terrier, Fox (Smooth)           1161
35 Terrier, Jack Russell            859
36 Terrier, Staffordshire Bull      680
37 Terrier, West Highland White     153
38 Tosa, Japanese                     0

   Breed                          Canterbury
1  All cross breeds               33535
2  All pure and cross breeds      95107
3  All pure breeds                61572
4  Beagle                           454
5  Bichon Frise                    1820
6  Boxer                            794
7  Brazilian Fila                     0
8  Cattle, Australian               317
9  Chihuahua, Long Coat             908
10 Chihuahua, Smooth Coat           416
11 Collie, Bearded                  661
12 Collie, Border                  5192
13 Collie, Rough                    410
14 Collie, Smooth                  1817
15 Dogo Argentino                     2
16 Greyhound                       1490
17 Heading                         2284
18 Huntaway                        4160
19 Maltese                          577
20 Other pure breeds              14845
21 Perro de Presa Canario             0
22 Poodle, Miniature                465
23 Poodle, Toy                      549
24 Retriever, Golden               1869
25 Retriever, Labrador             6834
26 Rottweiler                       965
27 Schnauzer, Miniature            1628
28 Shepherd, German                2043
29 Shih Tzu                         657
30 Spaniel, Cavalier King Charles   482
31 Spaniel, Cocker                 1252
32 Spaniel, English Springer        900
33 Terrier, American Pit Bull       119
34 Terrier, Fox (Smooth)           1706
35 Terrier, Jack Russell           3373
36 Terrier, Staffordshire Bull     1860
37 Terrier, West Highland White     723
38 Tosa, Japanese                     0

   Breed                          Gisbourne
1  All cross breeds               3044
2  All pure and cross breeds      9746
3  All pure breeds                6702
4  Beagle                           16
5  Bichon Frise                     36
6  Boxer                            52
7  Brazilian Fila                    0
8  Cattle, Australian               79
9  Chihuahua, Long Coat             27
10 Chihuahua, Smooth Coat           19
11 Collie, Bearded                  15
12 Collie, Border                  128
13 Collie, Rough                    14
14 Collie, Smooth                    1
15 Dogo Argentino                    0
16 Greyhound                        11
17 Heading                        1513
18 Huntaway                       2067
19 Maltese                          48
20 Other pure breeds               921
21 Perro de Presa Canario            0
22 Poodle, Miniature                21
23 Poodle, Toy                      20
24 Retriever, Golden                48
25 Retriever, Labrador             556
26 Rottweiler                       98
27 Schnauzer, Miniature             40
28 Shepherd, German                118
29 Shih Tzu                         38
30 Spaniel, Cavalier King Charles   42
31 Spaniel, Cocker                  27
32 Spaniel, English Springer        19
33 Terrier, American Pit Bull       35
34 Terrier, Fox (Smooth)           354
35 Terrier, Jack Russell           233
36 Terrier, Staffordshire Bull      94
37 Terrier, West Highland White     12
38 Tosa, Japanese                    0

   Breed                          Hawkes_Bay
1  All cross breeds                8314
2  All pure and cross breeds      25308
3  All pure breeds                16994
4  Beagle                           140
5  Bichon Frise                     209
6  Boxer                            142
7  Brazilian Fila                     0
8  Cattle, Australian               175
9  Chihuahua, Long Coat             132
10 Chihuahua, Smooth Coat            75
11 Collie, Bearded                  102
12 Collie, Border                   432
13 Collie, Rough                     44
14 Collie, Smooth                   592
15 Dogo Argentino                     3
16 Greyhound                         97
17 Heading                         2301
18 Huntaway                        2646
19 Maltese                           98
20 Other pure breeds               3162
21 Perro de Presa Canario             0
22 Poodle, Miniature                100
23 Poodle, Toy                      107
24 Retriever, Golden                291
25 Retriever, Labrador             2038
26 Rottweiler                       407
27 Schnauzer, Miniature             254
28 Shepherd, German                 527
29 Shih Tzu                         236
30 Spaniel, Cavalier King Charles    99
31 Spaniel, Cocker                  114
32 Spaniel, English Springer        105
33 Terrier, American Pit Bull        82
34 Terrier, Fox (Smooth)            965
35 Terrier, Jack Russell            907
36 Terrier, Staffordshire Bull      339
37 Terrier, West Highland White      73
38 Tosa, Japanese                     0

## Stitch them all together

In [29]:
a_b <- auckland_pets %>%
 left_join(bop_pet, by = "Breed")

a_b_c <- a_b %>%
 left_join(cant_pet, by = "Breed")

a_b_c_g <- a_b_c %>%
 left_join(gisb_pet, by = "Breed")

final_pets <- a_b_c_g %>%
 left_join(hb_pet, by = "Breed")

In [30]:
final_pets

   Breed                          Auckland Bay_of_Plenty Canterbury Gisbourne
1  All cross breeds                40000   19612         33535      3044
2  All pure and cross breeds      106078   39480         95107      9746
3  All pure breeds                 66078   19868         61572      6702
4  Beagle                            668     108           454        16
5  Bichon Frise                     1619     337          1820        36
6  Boxer                             893     282           794        52
7  Brazilian Fila                      0       0             0         0
8  Cattle, Australian                648     295           317        79
9  Chihuahua, Long Coat              607     254           908        27
10 Chihuahua, Smooth Coat           1006     222           416        19
11 Collie, Bearded                   273     132           661        15
12 Collie, Border                   3383    1061          5192       128
13 Collie, Rough                     147      48           410        14
14 Collie, Smooth                    118      44          1817         1
15 Dogo Argentino                      1       5             2         0
16 Greyhound                         689     166          1490        11
17 Heading                           471     486          2284      1513
18 Huntaway                         1299     780          4160      2067
19 Maltese                          1332     396           577        48
20 Other pure breeds               20595    5481         14845       921
21 Perro de Presa Canario              0       0             0         0
22 Poodle, Miniature                 953     199           465        21
23 Poodle, Toy                      1420     239           549        20
24 Retriever, Golden                2299     495          1869        48
25 Retriever, Labrador              7966    2561          6834       556
26 Rottweiler                       1432     700           965        98
27 Schnauzer, Miniature             2688     617          1628        40
28 Shepherd, German                 3074     740          2043       118
29 Shih Tzu                         1955     492           657        38
30 Spaniel, Cavalier King Charles    699     168           482        42
31 Spaniel, Cocker                  1129     281          1252        27
32 Spaniel, English Springer         374     209           900        19
33 Terrier, American Pit Bull        774     217           119        35
34 Terrier, Fox (Smooth)            1709    1161          1706       354
35 Terrier, Jack Russell            2734     859          3373       233
36 Terrier, Staffordshire Bull      2260     680          1860        94
37 Terrier, West Highland White      863     153           723        12
38 Tosa, Japanese                      0       0             0         0
   Hawkes_Bay
1   8314
2  25308
3  16994
4    140
5    209
6    142
7      0
8    175
9    132
10    75
11   102
12   432
13    44
14   592
15     3
16    97
17  2301
18  2646
19    98
20  3162
21     0
22   100
23   107
24   291
25  2038
26   407
27   254
28   527
29   236
30    99
31   114
32   105
33    82
34   965
35   907
36   339
37    73
38     0

## Population

In [31]:
compress_pop = function(region){
    df <- aggregate(region["Value"], by = region['Category'], sum)
    return(df)
}

In [32]:
#Do the same as we did for pets but all in one cell. 
#So do the compress function to aggregrate the dataframes to be just regionwide counts
auckland_pop = compress_pop(auckland_pop)
bop_pop = compress_pop(bop_pop)
cant_pop = compress_pop(cant_pop)
gisb_pop = compress_pop(gisb_pop)
hb_pop = compress_pop(hb_pop)

#And rename the columns in the dataframes to be sensible
auckland_pop  <- rename(auckland_pop, Total_People = Category, Auckland = Value) 
bop_pop <- rename(bop_pop, Total_People = Category, Bay_Of_Plenty = Value) 
cant_pop <- rename(cant_pop, Total_People = Category, Canterbury = Value) 
gisb_pop <- rename(gisb_pop, Total_People = Category, Gisbourne = Value) 
hb_pop <- rename(hb_pop, Total_People = Category, Hawks_Bay = Value)

In [33]:
#Stitch them together
a_b <- auckland_pop %>%
 left_join(bop_pop, by = "Total_People")

a_b_c <- a_b %>%
 left_join(cant_pop, by = "Total_People")

a_b_c_g <- a_b_c %>%
 left_join(gisb_pop, by = "Total_People")

final_pops <- a_b_c_g %>%
 left_join(hb_pop, by = "Total_People")

In [34]:
final_pops

  Total_People Auckland Bay_Of_Plenty Canterbury Gisbourne Hawks_Bay
1 Total people 1415550  271248        559227     43653     151095

## Income

In [35]:
compress_inc = function(region){
        df<- aggregate(region['Value'], by=region['Measure'], mean) 
       return(df)
}

In [36]:
auckland_income = compress_inc(auckland_income)
bop_income = compress_inc(bop_income)
cant_income = compress_inc(cant_income)
gisb_income = compress_inc(gisb_income)
hb_income = compress_inc(hb_income)

In [37]:
auckland_income <- rename(auckland_income, Median_Income = Measure, Auckland = Value) 
bop_income <- rename(bop_income, Median_Income = Measure, Bay_Of_Plenty = Value) 
cant_income <- rename(cant_income, Median_Income = Measure, Canterbury = Value) 
gisb_income <- rename(gisb_income, Median_Income = Measure, Gisbourne = Value) 
hb_income<- rename(hb_income, Median_Income = Measure, Hawks_Bay = Value)

In [38]:
#Stitch them together
a_b <- auckland_income %>%
 left_join(bop_income, by = "Median_Income")

a_b_c <- a_b %>%
 left_join(cant_income, by = "Median_Income")

a_b_c_g <- a_b_c %>%
 left_join(gisb_income, by = "Median_Income")

final_incomes <- a_b_c_g %>%
 left_join(hb_income, by = "Median_Income")

In [39]:
final_incomes

  Median_Income              Auckland Bay_Of_Plenty Canterbury Gisbourne
1 Median personal income ($) 29600    24216.67      29209.09   24400
  Hawks_Bay
1 25275

## Home Ownership

In [40]:
compress = function(region){
        df<- aggregate(region['Value'], by=region['Category'], sum) 
       return(df)
}

In [41]:
auckland_homes = compress(auckland_homes)
bop_homes = compress(bop_homes)
cant_homes = compress(cant_homes)
gisb_homes = compress(gisb_homes)
hb_homes = compress(hb_homes)

In [42]:
auckland_homes <- rename(auckland_homes, Total_People = Category, Auckland = Value) 
bop_homes <- rename(bop_homes, Total_People = Category, Bay_Of_Plenty = Value) 
cant_homes <- rename(cant_homes, Total_People = Category, Canterbury = Value) 
gisb_homes <- rename(gisb_homes, Total_People = Category, Gisbourne = Value) 
hb_homes<- rename(hb_homes, Total_People = Category, Hawks_Bay = Value)

In [43]:
#Stitch them together
a_b <- auckland_homes %>%
 left_join(bop_homes, by = "Total_People")

a_b_c <- a_b %>%
 left_join(cant_homes, by = "Total_People")

a_b_c_g <- a_b_c %>%
 left_join(gisb_homes, by = "Total_People")

final_homes <- a_b_c_g %>%
 left_join(hb_homes, by = "Total_People")

In [44]:
final_homes

  Total_People                                      Auckland Bay_Of_Plenty
1 Dwelling Held in a Family Trust                    67533   16167
2 Dwelling Not Owned and Not Held in a Family Trust 168705   33927
3 Dwelling Owned or Partly Owned                    201408   45918
4 Not Elsewhere Included                             31848    7476
  Canterbury Gisbourne Hawks_Bay
1  27543     1632       8694
2  63795     6006      18399
3 110733     7080      26919
4  11151     1275       3600

## So now we have 5 of the regions in NZ, we want to get the other regions as well

## Looking at Taranki region - West Coast Region

Get the pets information, the population data, the home ownership and the income

## Taranaki

In [45]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki")

In [46]:
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki"

In [47]:
#get a list of files in the taranaki region
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki")
file_list

[1] "New Plymouth.csv"   "South Taranaki.csv" "Stratford.csv"

In [48]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
taranaki_pets <- data.frame()
taranaki_pop <- data.frame()
taranaki_homes <- data.frame()
taranaki_income <- data.frame()

In [49]:
taranaki_pets = pet_reader(file_list, taranaki_pets)
taranaki_pets

taranaki_pop = pop_reader(file_list, taranaki_pop)
taranaki_pop

taranaki_homes = home_reader(file_list, taranaki_homes)
taranaki_homes

taranaki_income = income_reader(file_list, taranaki_income)
taranaki_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   New Plymouth          Registered dogs — Total registered dogs
2   New Plymouth          Registered dogs — Total registered dogs
3   New Plymouth          Registered dogs — Total registered dogs
4   New Plymouth          Registered dogs — Total registered dogs
5   New Plymouth          Registered dogs — Total registered dogs
6   New Plymouth          Registered dogs — Total registered dogs
7   New Plymouth          Registered dogs — Total registered dogs
8   New Plymouth          Registered dogs — Total registered dogs
9   New Plymouth          Registered dogs — Total registered dogs
10  New Plymouth          Registered dogs — Total registered dogs
11  New Plymouth          Registered dogs — Total registered dogs
12  New Plymouth          Registered dogs — Total registered dogs
13  New Plymouth          Registered dogs — Total registered dogs
14  New Plymouth          Registered dogs — Total registered dogs
15  New Plymouth          Registered dogs — Total registered dogs
16  New Plymouth          Registered dogs — Total registered dogs
17  New Plymouth          Registered dogs — Total registered dogs
18  New Plymouth          Registered dogs — Total registered dogs
19  New Plymouth          Registered dogs — Total registered dogs
20  New Plymouth          Registered dogs — Total registered dogs
21  New Plymouth          Registered dogs — Total registered dogs
22  New Plymouth          Registered dogs — Total registered dogs
23  New Plymouth          Registered dogs — Total registered dogs
24  New Plymouth          Registered dogs — Total registered dogs
25  New Plymouth          Registered dogs — Total registered dogs
26  New Plymouth          Registered dogs — Total registered dogs
27  New Plymouth          Registered dogs — Total registered dogs
28  New Plymouth          Registered dogs — Total registered dogs
29  New Plymouth          Registered dogs — Total registered dogs
30  New Plymouth          Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
85  Stratford             Registered dogs — Total registered dogs
86  Stratford             Registered dogs — Total registered dogs
87  Stratford             Registered dogs — Total registered dogs
88  Stratford             Registered dogs — Total registered dogs
89  Stratford             Registered dogs — Total registered dogs
90  Stratford             Registered dogs — Total registered dogs
91  Stratford             Registered dogs — Total registered dogs
92  Stratford             Registered dogs — Total registered dogs
93  Stratford             Registered dogs — Total registered dogs
94  Stratford             Registered dogs — Total registered dogs
95  Stratford             Registered dogs — Total registered dogs
96  Stratford             Registered dogs — Total registered dogs
97  Stratford             Registered dogs — Total registered dogs
98  Stratford             Registered dogs — Total registered dogs
99  Stratford             Registered dogs — Total registered dogs
100 Stratford             Registered dogs — Total registered dogs
101 Stratford             Registered dogs — Total registered dogs
102 Stratford             Registered dogs — Total registered dogs
103 Stratford             Registered dogs — Total registered dogs
104 Stratford             Registered dogs — Total registered dogs
105 Stratford             Registered dogs — Total registered dogs
106 Stratford             Registered dogs — Total registered dogs
107 Stratford             Registered dogs — Total registered dogs
108 Stratford             Registered dogs — Total registered dogs
109 Stratford             Registered dogs — Total registered dogs
110 Stratford             Registered dogs — Total registered dogs
111 Stratford             Registered dogs — Total registered dogs
112 Stratford             Registered dogs — Total registered dogs
113 Stratford             Registered dogs — Total registered dogs
114 Stratford             Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      11296
2   All pure breeds                 6661
3   Beagle                            38
4   Bichon Frise                     175
5   Boxer                            100
6   Brazilian Fila                     0
7   Cattle, Australian                85
8   Chihuahua, Long Coat              55
9   Chihuahua, Smooth Coat            79
10  Collie, Bearded                   43
11  Collie, Border                   374
12  Collie, Rough                     14
13  Collie, Smooth                     6
14  Dogo Argentino                     0
15  Greyhound                         87
16  Heading                          281
17  Huntaway                         290
18  Maltese                          127
19  Perro de Presa Canario             0
20  Poodle, Miniature                 71
21  Poodle, Toy                       83
22  Retriever, Golden                188
23  Retriever, Labrador              754
24  Rottweiler                       166
25  Schnauzer, Miniature             204
26  Shepherd, German                 205
27  Shih Tzu                         174
28  Spaniel, Cavalier King Charles   120
29  Spaniel, Cocker                   53
30  Spaniel, English Springer         38
⋮   ⋮                              ⋮
85  Chihuahua, Smooth Coat           8
86  Collie, Bearded                 23
87  Collie, Border                 139
88  Collie, Rough                    1
89  Collie, Smooth                   0
90  Dogo Argentino                   1
91  Greyhound                       19
92  Heading                        231
93  Huntaway                       299
94  Maltese                         24
95  Perro de Presa Canario           0
96  Poodle, Miniature                3
97  Poodle, Toy                      5
98  Retriever, Golden               12
99  Retriever, Labrador            162
100 Rottweiler                      38
101 Schnauzer, Miniature             7
102 Shepherd, German                43
103 Shih Tzu                        13
104 Spaniel, Cavalier King Charles   6
105 Spaniel, Cocker                  7
106 Spaniel, English Springer        6
107 Terrier, American Pit Bull       4
108 Terrier, Fox (Smooth)           64
109 Terrier, Jack Russell           86
110 Terrier, Staffordshire Bull     23
111 Terrier, West Highland White     7
112 Tosa, Japanese                   0
113 Other pure breeds              286
114 All cross breeds               439

  Territorial.Authority Measure                               Category
1 New Plymouth          Population - residents at 2013 census Total people
2 South Taranaki        Population - residents at 2013 census Total people
3 Stratford             Population - residents at 2013 census Total people
  Value
1 74187
2 26577
3  8991

     Territorial.Authority Measure
220  New Plymouth          Home ownership by households
221  New Plymouth          Home ownership by households
222  New Plymouth          Home ownership by households
223  New Plymouth          Home ownership by households
2201 South Taranaki        Home ownership by households
2211 South Taranaki        Home ownership by households
2221 South Taranaki        Home ownership by households
2231 South Taranaki        Home ownership by households
2202 Stratford             Home ownership by households
2212 Stratford             Home ownership by households
2222 Stratford             Home ownership by households
2232 Stratford             Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                    14964
221  Dwelling Not Owned and Not Held in a Family Trust  8340
222  Dwelling Held in a Family Trust                    4284
223  Not Elsewhere Included                             1617
2201 Dwelling Owned or Partly Owned                     4542
2211 Dwelling Not Owned and Not Held in a Family Trust  3588
2221 Dwelling Held in a Family Trust                    1479
2231 Not Elsewhere Included                              735
2202 Dwelling Owned or Partly Owned                     1602
2212 Dwelling Not Owned and Not Held in a Family Trust  1053
2222 Dwelling Held in a Family Trust                     660
2232 Not Elsewhere Included                              225

     Territorial.Authority Measure                    Category Value
128  New Plymouth          Median personal income ($)          29100
1281 South Taranaki        Median personal income ($)          29200
1282 Stratford             Median personal income ($)          28300

## Tasman

In [50]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman"

In [51]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman")
file_list

[1] "Tasman.csv"

In [52]:
tasman_pets <- data.frame()
tasman_pop <- data.frame()
tasman_homes <- data.frame()
tasman_income <- data.frame()

In [53]:
tasman_pets = pet_reader(file_list, tasman_pets)
tasman_pets

tasman_pop = pop_reader(file_list, tasman_pop)
tasman_pop

tasman_homes = home_reader(file_list, tasman_homes)
tasman_homes

tasman_income = income_reader(file_list, tasman_income)
tasman_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Tasman                Registered dogs — Total registered dogs
2  Tasman                Registered dogs — Total registered dogs
3  Tasman                Registered dogs — Total registered dogs
4  Tasman                Registered dogs — Total registered dogs
5  Tasman                Registered dogs — Total registered dogs
6  Tasman                Registered dogs — Total registered dogs
7  Tasman                Registered dogs — Total registered dogs
8  Tasman                Registered dogs — Total registered dogs
9  Tasman                Registered dogs — Total registered dogs
10 Tasman                Registered dogs — Total registered dogs
11 Tasman                Registered dogs — Total registered dogs
12 Tasman                Registered dogs — Total registered dogs
13 Tasman                Registered dogs — Total registered dogs
14 Tasman                Registered dogs — Total registered dogs
15 Tasman                Registered dogs — Total registered dogs
16 Tasman                Registered dogs — Total registered dogs
17 Tasman                Registered dogs — Total registered dogs
18 Tasman                Registered dogs — Total registered dogs
19 Tasman                Registered dogs — Total registered dogs
20 Tasman                Registered dogs — Total registered dogs
21 Tasman                Registered dogs — Total registered dogs
22 Tasman                Registered dogs — Total registered dogs
23 Tasman                Registered dogs — Total registered dogs
24 Tasman                Registered dogs — Total registered dogs
25 Tasman                Registered dogs — Total registered dogs
26 Tasman                Registered dogs — Total registered dogs
27 Tasman                Registered dogs — Total registered dogs
28 Tasman                Registered dogs — Total registered dogs
29 Tasman                Registered dogs — Total registered dogs
30 Tasman                Registered dogs — Total registered dogs
31 Tasman                Registered dogs — Total registered dogs
32 Tasman                Registered dogs — Total registered dogs
33 Tasman                Registered dogs — Total registered dogs
34 Tasman                Registered dogs — Total registered dogs
35 Tasman                Registered dogs — Total registered dogs
36 Tasman                Registered dogs — Total registered dogs
37 Tasman                Registered dogs — Total registered dogs
38 Tasman                Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      10919
2  All pure breeds                 6178
3  Beagle                            35
4  Bichon Frise                     101
5  Boxer                             78
6  Brazilian Fila                     0
7  Cattle, Australian               159
8  Chihuahua, Long Coat              35
9  Chihuahua, Smooth Coat            47
10 Collie, Bearded                  101
11 Collie, Border                   661
12 Collie, Rough                     14
13 Collie, Smooth                   187
14 Dogo Argentino                     0
15 Greyhound                         52
16 Heading                          259
17 Huntaway                         479
18 Maltese                           54
19 Perro de Presa Canario             0
20 Poodle, Miniature                 44
21 Poodle, Toy                       38
22 Retriever, Golden                166
23 Retriever, Labrador              586
24 Rottweiler                        93
25 Schnauzer, Miniature             109
26 Shepherd, German                 189
27 Shih Tzu                          58
28 Spaniel, Cavalier King Charles    29
29 Spaniel, Cocker                   78
30 Spaniel, English Springer         83
31 Terrier, American Pit Bull        10
32 Terrier, Fox (Smooth)            170
33 Terrier, Jack Russell            380
34 Terrier, Staffordshire Bull      228
35 Terrier, West Highland White      84
36 Tosa, Japanese                     0
37 Other pure breeds               1571
38 All cross breeds                4741

  Territorial.Authority Measure                               Category
1 Tasman                Population - residents at 2013 census Total people
  Value
1 47154

    Territorial.Authority Measure
220 Tasman                Home ownership by households
221 Tasman                Home ownership by households
222 Tasman                Home ownership by households
223 Tasman                Home ownership by households
    Category                                          Value
220 Dwelling Owned or Partly Owned                    10197
221 Dwelling Not Owned and Not Held in a Family Trust  4356
222 Dwelling Held in a Family Trust                    2850
223 Not Elsewhere Included                              864

    Territorial.Authority Measure                    Category Value
128 Tasman                Median personal income ($)          25700

## Waikato

In [54]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato"

In [55]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato")
file_list

 [1] "Hamilton.csv"         "Hauraki.csv"          "Matamata-Piako.csv"
 [4] "Otorohanga.csv"       "South Waikato.csv"    "Taupo.csv"
 [7] "ThamesCoromandel.csv" "Waikato.csv"          "Waipa.csv"
[10] "Waitomo.csv"

In [56]:
waikato_pets <- data.frame()
waikato_pop <- data.frame()
waikato_homes <- data.frame()
waikato_income <- data.frame()

In [57]:
waikato_pets = pet_reader(file_list, waikato_pets)
waikato_pets

waikato_pop = pop_reader(file_list, waikato_pop)
waikato_pop

waikato_homes = home_reader(file_list, waikato_homes)
tasman_homes

waikato_income = income_reader(file_list, waikato_income)
waikato_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Hamilton              Registered dogs — Total registered dogs
2   Hamilton              Registered dogs — Total registered dogs
3   Hamilton              Registered dogs — Total registered dogs
4   Hamilton              Registered dogs — Total registered dogs
5   Hamilton              Registered dogs — Total registered dogs
6   Hamilton              Registered dogs — Total registered dogs
7   Hamilton              Registered dogs — Total registered dogs
8   Hamilton              Registered dogs — Total registered dogs
9   Hamilton              Registered dogs — Total registered dogs
10  Hamilton              Registered dogs — Total registered dogs
11  Hamilton              Registered dogs — Total registered dogs
12  Hamilton              Registered dogs — Total registered dogs
13  Hamilton              Registered dogs — Total registered dogs
14  Hamilton              Registered dogs — Total registered dogs
15  Hamilton              Registered dogs — Total registered dogs
16  Hamilton              Registered dogs — Total registered dogs
17  Hamilton              Registered dogs — Total registered dogs
18  Hamilton              Registered dogs — Total registered dogs
19  Hamilton              Registered dogs — Total registered dogs
20  Hamilton              Registered dogs — Total registered dogs
21  Hamilton              Registered dogs — Total registered dogs
22  Hamilton              Registered dogs — Total registered dogs
23  Hamilton              Registered dogs — Total registered dogs
24  Hamilton              Registered dogs — Total registered dogs
25  Hamilton              Registered dogs — Total registered dogs
26  Hamilton              Registered dogs — Total registered dogs
27  Hamilton              Registered dogs — Total registered dogs
28  Hamilton              Registered dogs — Total registered dogs
29  Hamilton              Registered dogs — Total registered dogs
30  Hamilton              Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
351 Waitomo               Registered dogs — Total registered dogs
352 Waitomo               Registered dogs — Total registered dogs
353 Waitomo               Registered dogs — Total registered dogs
354 Waitomo               Registered dogs — Total registered dogs
355 Waitomo               Registered dogs — Total registered dogs
356 Waitomo               Registered dogs — Total registered dogs
357 Waitomo               Registered dogs — Total registered dogs
358 Waitomo               Registered dogs — Total registered dogs
359 Waitomo               Registered dogs — Total registered dogs
360 Waitomo               Registered dogs — Total registered dogs
361 Waitomo               Registered dogs — Total registered dogs
362 Waitomo               Registered dogs — Total registered dogs
363 Waitomo               Registered dogs — Total registered dogs
364 Waitomo               Registered dogs — Total registered dogs
365 Waitomo               Registered dogs — Total registered dogs
366 Waitomo               Registered dogs — Total registered dogs
367 Waitomo               Registered dogs — Total registered dogs
368 Waitomo               Registered dogs — Total registered dogs
369 Waitomo               Registered dogs — Total registered dogs
370 Waitomo               Registered dogs — Total registered dogs
371 Waitomo               Registered dogs — Total registered dogs
372 Waitomo               Registered dogs — Total registered dogs
373 Waitomo               Registered dogs — Total registered dogs
374 Waitomo               Registered dogs — Total registered dogs
375 Waitomo               Registered dogs — Total registered dogs
376 Waitomo               Registered dogs — Total registered dogs
377 Waitomo               Registered dogs — Total registered dogs
378 Waitomo               Registered dogs — Total registered dogs
379 Waitomo               Registered dogs — Total registered dogs
380 Waitomo               Registered dogs — Total registered dogs
    Category                       Value
1   Boxer                            56
2   All pure and cross breeds      9737
3   All pure breeds                4762
4   Beagle                           55
5   Bichon Frise                    134
6   Brazilian Fila                    0
7   Cattle, Australian               24
8   Chihuahua, Long Coat            111
9   Chihuahua, Smooth Coat           63
10  Collie, Bearded                  19
11  Collie, Border                  170
12  Collie, Rough                    14
13  Collie, Smooth                    1
14  Dogo Argentino                    0
15  Greyhound                        41
16  Huntaway                         39
17  Heading                          15
18  Maltese                         101
19  Perro de Presa Canario            0
20  Poodle, Miniature                66
21  Poodle, Toy                      98
22  Retriever, Golden               135
23  Retriever, Labrador             598
24  Rottweiler                      143
25  Schnauzer, Miniature            158
26  Shepherd, German                228
27  Shih Tzu                        114
28  Spaniel, Cavalier King Charles   72
29  Spaniel, Cocker                  84
30  Spaniel, English Springer        49
⋮   ⋮                              ⋮
351 Chihuahua, Smooth Coat          10
352 Collie, Bearded                 54
353 Collie, Border                  62
354 Collie, Rough                    1
355 Collie, Smooth                   2
356 Dogo Argentino                   0
357 Greyhound                        7
358 Heading                        861
359 Huntaway                       973
360 Maltese                         13
361 Perro de Presa Canario           0
362 Poodle, Miniature                8
363 Poodle, Toy                      2
364 Retriever, Golden               13
365 Retriever, Labrador            128
366 Rottweiler                      17
367 Schnauzer, Miniature             6
368 Shepherd, German                18
369 Shih Tzu                        15
370 Spaniel, Cavalier King Charles   2
371 Spaniel, Cocker                  7
372 Spaniel, English Springer        5
373 Terrier, American Pit Bull      14
374 Terrier, Fox (Smooth)           87
375 Terrier, Jack Russell           56
376 Terrier, Staffordshire Bull     34
377 Terrier, West Highland White     4
378 Tosa, Japanese                   0
379 Other pure breeds              225
380 All cross breeds               654

   Territorial.Authority Measure                               Category
1  Hamilton              Population - residents at 2013 census Total people
2  Hauraki               Population - residents at 2013 census Total people
3  Matamata-Piako        Population - residents at 2013 census Total people
4  Otorohanga            Population - residents at 2013 census Total people
5  South Waikato         Population - residents at 2013 census Total people
6  Taupo                 Population - residents at 2013 census Total people
7  Thames-Coromandel     Population - residents at 2013 census Total people
8  Waikato               Population - residents at 2013 census Total people
9  Waipa                 Population - residents at 2013 census Total people
10 Waitomo               Population - residents at 2013 census Total people
   Value
1  141612
2   17811
3   31536
4    9138
5   22071
6   32907
7   26178
8   63378
9   46668
10   8907

    Territorial.Authority Measure
220 Tasman                Home ownership by households
221 Tasman                Home ownership by households
222 Tasman                Home ownership by households
223 Tasman                Home ownership by households
    Category                                          Value
220 Dwelling Owned or Partly Owned                    10197
221 Dwelling Not Owned and Not Held in a Family Trust  4356
222 Dwelling Held in a Family Trust                    2850
223 Not Elsewhere Included                              864

     Territorial.Authority Measure                    Category Value
128  Hamilton              Median personal income ($)          27700
1281 Hauraki               Median personal income ($)          23100
1282 Matamata-Piako        Median personal income ($)          29700
1283 Otorohanga            Median personal income ($)          29100
1284 South Waikato         Median personal income ($)          23700
1285 Taupo                 Median personal income ($)          28200
1286 Thames-Coromandel     Median personal income ($)          23200
1287 Waikato               Median personal income ($)          30500
1288 Waipa                 Median personal income ($)          32000
1289 Waitomo               Median personal income ($)          25600

## Wellington

In [58]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington"

In [59]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington")
file_list

[1] "Carterton.csv"       "Kapiti Coast.csv"    "Lower Hutt.csv"
[4] "Masterton.csv"       "Porirua.csv"         "South Wairarapa.csv"
[7] "Upper Hutt.csv"      "Wellington(1).csv"   "Westland.csv"

In [60]:
wellington_pets <- data.frame()
wellington_pop <- data.frame()
wellington_homes <- data.frame()
wellington_income <- data.frame()

In [61]:
wellington_pets = pet_reader(file_list, wellington_pets)
wellington_pets

wellington_pop = pop_reader(file_list, wellington_pop)
wellington_pop

wellington_homes = home_reader(file_list, wellington_homes)
wellington_homes

wellington_income = income_reader(file_list, wellington_income)
wellington_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Carterton             Registered dogs — Total registered dogs
2   Carterton             Registered dogs — Total registered dogs
3   Carterton             Registered dogs — Total registered dogs
4   Carterton             Registered dogs — Total registered dogs
5   Carterton             Registered dogs — Total registered dogs
6   Carterton             Registered dogs — Total registered dogs
7   Carterton             Registered dogs — Total registered dogs
8   Carterton             Registered dogs — Total registered dogs
9   Carterton             Registered dogs — Total registered dogs
10  Carterton             Registered dogs — Total registered dogs
11  Carterton             Registered dogs — Total registered dogs
12  Carterton             Registered dogs — Total registered dogs
13  Carterton             Registered dogs — Total registered dogs
14  Carterton             Registered dogs — Total registered dogs
15  Carterton             Registered dogs — Total registered dogs
16  Carterton             Registered dogs — Total registered dogs
17  Carterton             Registered dogs — Total registered dogs
18  Carterton             Registered dogs — Total registered dogs
19  Carterton             Registered dogs — Total registered dogs
20  Carterton             Registered dogs — Total registered dogs
21  Carterton             Registered dogs — Total registered dogs
22  Carterton             Registered dogs — Total registered dogs
23  Carterton             Registered dogs — Total registered dogs
24  Carterton             Registered dogs — Total registered dogs
25  Carterton             Registered dogs — Total registered dogs
26  Carterton             Registered dogs — Total registered dogs
27  Carterton             Registered dogs — Total registered dogs
28  Carterton             Registered dogs — Total registered dogs
29  Carterton             Registered dogs — Total registered dogs
30  Carterton             Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
313 Westland              Registered dogs — Total registered dogs
314 Westland              Registered dogs — Total registered dogs
315 Westland              Registered dogs — Total registered dogs
316 Westland              Registered dogs — Total registered dogs
317 Westland              Registered dogs — Total registered dogs
318 Westland              Registered dogs — Total registered dogs
319 Westland              Registered dogs — Total registered dogs
320 Westland              Registered dogs — Total registered dogs
321 Westland              Registered dogs — Total registered dogs
322 Westland              Registered dogs — Total registered dogs
323 Westland              Registered dogs — Total registered dogs
324 Westland              Registered dogs — Total registered dogs
325 Westland              Registered dogs — Total registered dogs
326 Westland              Registered dogs — Total registered dogs
327 Westland              Registered dogs — Total registered dogs
328 Westland              Registered dogs — Total registered dogs
329 Westland              Registered dogs — Total registered dogs
330 Westland              Registered dogs — Total registered dogs
331 Westland              Registered dogs — Total registered dogs
332 Westland              Registered dogs — Total registered dogs
333 Westland              Registered dogs — Total registered dogs
334 Westland              Registered dogs — Total registered dogs
335 Westland              Registered dogs — Total registered dogs
336 Westland              Registered dogs — Total registered dogs
337 Westland              Registered dogs — Total registered dogs
338 Westland              Registered dogs — Total registered dogs
339 Westland              Registered dogs — Total registered dogs
340 Westland              Registered dogs — Total registered dogs
341 Westland              Registered dogs — Total registered dogs
342 Westland              Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      2622
2   All pure breeds                1631
3   Beagle                            8
4   Bichon Frise                     17
5   Boxer                            12
6   Brazilian Fila                    0
7   Cattle, Australian               10
8   Chihuahua, Long Coat             16
9   Chihuahua, Smooth Coat           13
10  Collie, Bearded                  12
11  Collie, Border                   68
12  Collie, Rough                     4
13  Collie, Smooth                    1
14  Dogo Argentino                    0
15  Greyhound                        14
16  Heading                         240
17  Huntaway                        258
18  Maltese                           5
19  Perro de Presa Canario            0
20  Poodle, Miniature                17
21  Poodle, Toy                       8
22  Retriever, Golden                11
23  Retriever, Labrador             183
24  Rottweiler                       36
25  Schnauzer, Miniature             20
26  Shepherd, German                 40
27  Shih Tzu                         19
28  Spaniel, Cavalier King Charles    9
29  Spaniel, Cocker                  29
30  Spaniel, English Springer        10
⋮   ⋮                              ⋮
313 Chihuahua, Smooth Coat           8
314 Collie, Bearded                 10
315 Collie, Border                  96
316 Collie, Rough                    3
317 Collie, Smooth                   2
318 Dogo Argentino                   0
319 Greyhound                        2
320 Heading                         27
321 Huntaway                        72
322 Maltese                          9
323 Perro de Presa Canario           0
324 Poodle, Miniature                7
325 Poodle, Toy                      4
326 Retriever, Golden               27
327 Retriever, Labrador            137
328 Rottweiler                      22
329 Schnauzer, Miniature             9
330 Shepherd, German                22
331 Shih Tzu                         6
332 Spaniel, Cavalier King Charles  12
333 Spaniel, Cocker                 13
334 Spaniel, English Springer       10
335 Terrier, American Pit Bull       3
336 Terrier, Fox (Smooth)           31
337 Terrier, Jack Russell           91
338 Terrier, Staffordshire Bull     42
339 Terrier, West Highland White     6
340 Tosa, Japanese                   0
341 Other pure breeds              257
342 All cross breeds               814

  Territorial.Authority Measure                               Category
1 Carterton             Population - residents at 2013 census Total people
2 Kapiti Coast          Population - residents at 2013 census Total people
3 Lower Hutt            Population - residents at 2013 census Total people
4 Masterton             Population - residents at 2013 census Total people
5 Porirua               Population - residents at 2013 census Total people
6 South Wairarapa       Population - residents at 2013 census Total people
7 Upper Hutt            Population - residents at 2013 census Total people
8 Wellington            Population - residents at 2013 census Total people
9 Westland              Population - residents at 2013 census Total people
  Value
1   8235
2  49104
3  98238
4  23352
5  51717
6   9528
7  40179
8 190959
9   8304

     Territorial.Authority Measure
221  Carterton             Home ownership by households
222  Carterton             Home ownership by households
223  Carterton             Home ownership by households
224  Carterton             Home ownership by households
2211 Kapiti Coast          Home ownership by households
2221 Kapiti Coast          Home ownership by households
2231 Kapiti Coast          Home ownership by households
2241 Kapiti Coast          Home ownership by households
2212 Lower Hutt            Home ownership by households
2222 Lower Hutt            Home ownership by households
2232 Lower Hutt            Home ownership by households
2242 Lower Hutt            Home ownership by households
2213 Masterton             Home ownership by households
2223 Masterton             Home ownership by households
2233 Masterton             Home ownership by households
2243 Masterton             Home ownership by households
2214 Porirua               Home ownership by households
2224 Porirua               Home ownership by households
2234 Porirua               Home ownership by households
2244 Porirua               Home ownership by households
2215 South Wairarapa       Home ownership by households
2225 South Wairarapa       Home ownership by households
2235 South Wairarapa       Home ownership by households
2245 South Wairarapa       Home ownership by households
2216 Upper Hutt            Home ownership by households
2226 Upper Hutt            Home ownership by households
2236 Upper Hutt            Home ownership by households
2246 Upper Hutt            Home ownership by households
220  Wellington            Home ownership by households
2217 Wellington            Home ownership by households
2227 Wellington            Home ownership by households
2237 Wellington            Home ownership by households
2201 Westland              Home ownership by households
2218 Westland              Home ownership by households
2228 Westland              Home ownership by households
2238 Westland              Home ownership by households
     Category                                          Value
221  Dwelling Owned or Partly Owned                     1965
222  Dwelling Not Owned and Not Held in a Family Trust   822
223  Dwelling Held in a Family Trust                     351
224  Not Elsewhere Included                              159
2211 Dwelling Owned or Partly Owned                    11472
2221 Dwelling Not Owned and Not Held in a Family Trust  4959
2231 Dwelling Held in a Family Trust                    3054
2241 Not Elsewhere Included                              990
2212 Dwelling Owned or Partly Owned                    17790
2222 Dwelling Not Owned and Not Held in a Family Trust 11442
2232 Dwelling Held in a Family Trust                    4617
2242 Not Elsewhere Included                             2142
2213 Dwelling Owned or Partly Owned                     4965
2223 Dwelling Not Owned and Not Held in a Family Trust  2934
2233 Dwelling Held in a Family Trust                    1074
2243 Not Elsewhere Included                              534
2214 Dwelling Owned or Partly Owned                     8100
2224 Dwelling Not Owned and Not Held in a Family Trust  5694
2234 Dwelling Held in a Family Trust                    1965
2244 Not Elsewhere Included                             1125
2215 Dwelling Owned or Partly Owned                     2127
2225 Dwelling Not Owned and Not Held in a Family Trust  1035
2235 Dwelling Held in a Family Trust                     564
2245 Not Elsewhere Included                              210
2216 Dwelling Owned or Partly Owned                     8553
2226 Dwelling Not Owned and Not Held in a Family Trust  3978
2236 Dwelling Held in a Family Trust                    1737
2246 Not Elsewhere Included                              771
220  Dwelling Owned or Partly Owned                    31374
2217 Dwelling Not Owned and Not Held in a Family Trust 27648
2227 Dwelling Held in a Family Trust                    8571
2237 Not Elsewhere Included                             3411
2201 Dwelling Owned or Partly Owned                     1803
2218 Dwelling Not Owned and Not Held in a Family Trust  1101
2228 Dwelling Held in a Family Trust                     330
2238 Not Elsewhere Included                              255

     Territorial.Authority Measure                    Category Value
128  Carterton             Median personal income ($)          26700
1281 Kapiti Coast          Median personal income ($)          26900
1282 Lower Hutt            Median personal income ($)          31500
1283 Masterton             Median personal income ($)          25300
1284 Porirua               Median personal income ($)          31400
1285 South Wairarapa       Median personal income ($)          28900
1286 Upper Hutt            Median personal income ($)          32000
1287 Wellington            Median personal income ($)          37900
1288 Westland              Median personal income ($)          28900

## West Coast

In [62]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast"

In [63]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast")
file_list

[1] "Buller.csv" "Grey.csv"

In [64]:
west_coast_pets <- data.frame()
west_coast_pop <- data.frame()
west_coast_homes <- data.frame()
west_coast_income <- data.frame()

In [65]:
west_coast_pets = pet_reader(file_list, west_coast_pets)
west_coast_pets

west_coast_pop = pop_reader(file_list, west_coast_pop)
west_coast_pop

west_coast_homes = home_reader(file_list, west_coast_homes)
west_coast_homes

west_coast_income = income_reader(file_list, west_coast_income)
west_coast_income

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Buller                Registered dogs — Total registered dogs
2  Buller                Registered dogs — Total registered dogs
3  Buller                Registered dogs — Total registered dogs
4  Buller                Registered dogs — Total registered dogs
5  Buller                Registered dogs — Total registered dogs
6  Buller                Registered dogs — Total registered dogs
7  Buller                Registered dogs — Total registered dogs
8  Buller                Registered dogs — Total registered dogs
9  Buller                Registered dogs — Total registered dogs
10 Buller                Registered dogs — Total registered dogs
11 Buller                Registered dogs — Total registered dogs
12 Buller                Registered dogs — Total registered dogs
13 Buller                Registered dogs — Total registered dogs
14 Buller                Registered dogs — Total registered dogs
15 Buller                Registered dogs — Total registered dogs
16 Buller                Registered dogs — Total registered dogs
17 Buller                Registered dogs — Total registered dogs
18 Buller                Registered dogs — Total registered dogs
19 Buller                Registered dogs — Total registered dogs
20 Buller                Registered dogs — Total registered dogs
21 Buller                Registered dogs — Total registered dogs
22 Buller                Registered dogs — Total registered dogs
23 Buller                Registered dogs — Total registered dogs
24 Buller                Registered dogs — Total registered dogs
25 Buller                Registered dogs — Total registered dogs
26 Buller                Registered dogs — Total registered dogs
27 Buller                Registered dogs — Total registered dogs
28 Buller                Registered dogs — Total registered dogs
29 Buller                Registered dogs — Total registered dogs
30 Buller                Registered dogs — Total registered dogs
⋮  ⋮                     ⋮
47 Grey                  Registered dogs — Total registered dogs
48 Grey                  Registered dogs — Total registered dogs
49 Grey                  Registered dogs — Total registered dogs
50 Grey                  Registered dogs — Total registered dogs
51 Grey                  Registered dogs — Total registered dogs
52 Grey                  Registered dogs — Total registered dogs
53 Grey                  Registered dogs — Total registered dogs
54 Grey                  Registered dogs — Total registered dogs
55 Grey                  Registered dogs — Total registered dogs
56 Grey                  Registered dogs — Total registered dogs
57 Grey                  Registered dogs — Total registered dogs
58 Grey                  Registered dogs — Total registered dogs
59 Grey                  Registered dogs — Total registered dogs
60 Grey                  Registered dogs — Total registered dogs
61 Grey                  Registered dogs — Total registered dogs
62 Grey                  Registered dogs — Total registered dogs
63 Grey                  Registered dogs — Total registered dogs
64 Grey                  Registered dogs — Total registered dogs
65 Grey                  Registered dogs — Total registered dogs
66 Grey                  Registered dogs — Total registered dogs
67 Grey                  Registered dogs — Total registered dogs
68 Grey                  Registered dogs — Total registered dogs
69 Grey                  Registered dogs — Total registered dogs
70 Grey                  Registered dogs — Total registered dogs
71 Grey                  Registered dogs — Total registered dogs
72 Grey                  Registered dogs — Total registered dogs
73 Grey                  Registered dogs — Total registered dogs
74 Grey                  Registered dogs — Total registered dogs
75 Grey                  Registered dogs — Total registered dogs
76 Grey                  Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      2106
2  All pure breeds                1150
3  Beagle                            9
4  Bichon Frise                     58
5  Boxer                            11
6  Brazilian Fila                    0
7  Cattle, Australian                5
8  Chihuahua, Long Coat              6
9  Chihuahua, Smooth Coat           13
10 Collie, Bearded                  12
11 Collie, Border                  147
12 Collie, Rough                     2
13 Collie, Smooth                    0
14 Dogo Argentino                    2
15 Greyhound                         7
16 Heading                          28
17 Huntaway                         82
18 Maltese                           8
19 Perro de Presa Canario            0
20 Poodle, Miniature                 2
21 Poodle, Toy                       9
22 Retriever, Golden                20
23 Retriever, Labrador             138
24 Rottweiler                       34
25 Schnauzer, Miniature              8
26 Shepherd, German                 21
27 Shih Tzu                          6
28 Spaniel, Cavalier King Charles    9
29 Spaniel, Cocker                  20
30 Spaniel, English Springer         9
⋮  ⋮                              ⋮
47 Chihuahua, Smooth Coat           36
48 Collie, Bearded                  26
49 Collie, Border                  161
50 Collie, Rough                     1
51 Collie, Smooth                    0
52 Dogo Argentino                    0
53 Greyhound                         4
54 Heading                          37
55 Huntaway                         85
56 Maltese                          19
57 Perro de Presa Canario            0
58 Poodle, Miniature                22
59 Poodle, Toy                      13
60 Retriever, Golden                36
61 Retriever, Labrador             229
62 Rottweiler                       27
63 Schnauzer, Miniature             15
64 Shepherd, German                 46
65 Shih Tzu                         18
66 Spaniel, Cavalier King Charles    6
67 Spaniel, Cocker                  15
68 Spaniel, English Springer        21
69 Terrier, American Pit Bull        4
70 Terrier, Fox (Smooth)            84
71 Terrier, Jack Russell            87
72 Terrier, Staffordshire Bull     101
73 Terrier, West Highland White      6
74 Tosa, Japanese                    0
75 Other pure breeds               355
76 All cross breeds               1049

  Territorial.Authority Measure                               Category
1 Buller                Population - residents at 2013 census Total people
2 Grey                  Population - residents at 2013 census Total people
  Value
1 10473
2 13371

     Territorial.Authority Measure
220  Buller                Home ownership by households
221  Buller                Home ownership by households
222  Buller                Home ownership by households
223  Buller                Home ownership by households
2201 Grey                  Home ownership by households
2211 Grey                  Home ownership by households
2221 Grey                  Home ownership by households
2231 Grey                  Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                    2442
221  Dwelling Not Owned and Not Held in a Family Trust 1317
222  Dwelling Held in a Family Trust                    339
223  Not Elsewhere Included                             339
2201 Dwelling Owned or Partly Owned                    2931
2211 Dwelling Not Owned and Not Held in a Family Trust 1464
2221 Dwelling Held in a Family Trust                    450
2231 Not Elsewhere Included                             510

     Territorial.Authority Measure                    Category Value
128  Buller                Median personal income ($)          25200
1281 Grey                  Median personal income ($)          26600

## Aggregration now for these.

## Aggregrate the pet information

In [66]:
taranaki_pets = compress_pets(taranaki_pets)
tasman_pets = compress_pets(tasman_pets)
waikato_pets = compress_pets(waikato_pets)
wellington_pets = compress_pets(wellington_pets)
west_coast_pets = compress_pets(west_coast_pets)

In [67]:
taranaki_pets <- rename(taranaki_pets, Breed = Category, Taranaki = Value)
tasman_pets <- rename(tasman_pets, Breed = Category, Tasman = Value)
waikato_pets <- rename(waikato_pets, Breed = Category, Waikato = Value)
wellington_pets <- rename(wellington_pets, Breed = Category, Wellington = Value)
west_coast_pets <- rename(west_coast_pets, Breed = Category, West_Coast = Value)

In [68]:
taranaki_pets
tasman_pets
waikato_pets
wellington_pets
west_coast_pets

   Breed                          Taranaki
1  All cross breeds                6548
2  All pure and cross breeds      17790
3  All pure breeds                11242
4  Beagle                            54
5  Bichon Frise                     287
6  Boxer                            157
7  Brazilian Fila                     0
8  Cattle, Australian               142
9  Chihuahua, Long Coat             123
10 Chihuahua, Smooth Coat           101
11 Collie, Bearded                   90
12 Collie, Border                   674
13 Collie, Rough                     24
14 Collie, Smooth                     8
15 Dogo Argentino                     1
16 Greyhound                        163
17 Heading                          754
18 Huntaway                         897
19 Maltese                          188
20 Other pure breeds               2750
21 Perro de Presa Canario             0
22 Poodle, Miniature                 92
23 Poodle, Toy                      107
24 Retriever, Golden                236
25 Retriever, Labrador             1274
26 Rottweiler                       334
27 Schnauzer, Miniature             236
28 Shepherd, German                 338
29 Shih Tzu                         244
30 Spaniel, Cavalier King Charles   139
31 Spaniel, Cocker                   69
32 Spaniel, English Springer         58
33 Terrier, American Pit Bull       113
34 Terrier, Fox (Smooth)            477
35 Terrier, Jack Russell            518
36 Terrier, Staffordshire Bull      510
37 Terrier, West Highland White      84
38 Tosa, Japanese                     0

   Breed                          Tasman
1  All cross breeds                4741
2  All pure and cross breeds      10919
3  All pure breeds                 6178
4  Beagle                            35
5  Bichon Frise                     101
6  Boxer                             78
7  Brazilian Fila                     0
8  Cattle, Australian               159
9  Chihuahua, Long Coat              35
10 Chihuahua, Smooth Coat            47
11 Collie, Bearded                  101
12 Collie, Border                   661
13 Collie, Rough                     14
14 Collie, Smooth                   187
15 Dogo Argentino                     0
16 Greyhound                         52
17 Heading                          259
18 Huntaway                         479
19 Maltese                           54
20 Other pure breeds               1571
21 Perro de Presa Canario             0
22 Poodle, Miniature                 44
23 Poodle, Toy                       38
24 Retriever, Golden                166
25 Retriever, Labrador              586
26 Rottweiler                        93
27 Schnauzer, Miniature             109
28 Shepherd, German                 189
29 Shih Tzu                          58
30 Spaniel, Cavalier King Charles    29
31 Spaniel, Cocker                   78
32 Spaniel, English Springer         83
33 Terrier, American Pit Bull        10
34 Terrier, Fox (Smooth)            170
35 Terrier, Jack Russell            380
36 Terrier, Staffordshire Bull      228
37 Terrier, West Highland White      84
38 Tosa, Japanese                     0

   Breed                          Waikato
1  All cross breeds               24237
2  All pure and cross breeds      61601
3  All pure breeds                37364
4  Beagle                           224
5  Bichon Frise                     515
6  Boxer                            409
7  Brazilian Fila                     0
8  Cattle, Australian               702
9  Chihuahua, Long Coat             434
10 Chihuahua, Smooth Coat           337
11 Collie, Bearded                  362
12 Collie, Border                  2003
13 Collie, Rough                    105
14 Collie, Smooth                    35
15 Dogo Argentino                     6
16 Greyhound                        655
17 Heading                         2474
18 Huntaway                        3585
19 Maltese                          498
20 Other pure breeds               9128
21 Perro de Presa Canario             0
22 Poodle, Miniature                260
23 Poodle, Toy                      353
24 Retriever, Golden                724
25 Retriever, Labrador             4680
26 Rottweiler                      1029
27 Schnauzer, Miniature             729
28 Shepherd, German                1355
29 Shih Tzu                         622
30 Spaniel, Cavalier King Charles   225
31 Spaniel, Cocker                  395
32 Spaniel, English Springer        394
33 Terrier, American Pit Bull       277
34 Terrier, Fox (Smooth)           2077
35 Terrier, Jack Russell           1496
36 Terrier, Staffordshire Bull     1060
37 Terrier, West Highland White     216
38 Tosa, Japanese                     0

   Breed                          Wellington
1  All cross breeds               22329
2  All pure and cross breeds      50760
3  All pure breeds                28431
4  Beagle                           280
5  Bichon Frise                     620
6  Boxer                            291
7  Brazilian Fila                     0
8  Cattle, Australian               256
9  Chihuahua, Long Coat             351
10 Chihuahua, Smooth Coat           231
11 Collie, Bearded                  164
12 Collie, Border                  1383
13 Collie, Rough                     67
14 Collie, Smooth                    20
15 Dogo Argentino                     2
16 Greyhound                        453
17 Heading                         1277
18 Huntaway                        1737
19 Maltese                          241
20 Other pure breeds               8084
21 Perro de Presa Canario             0
22 Poodle, Miniature                352
23 Poodle, Toy                      237
24 Retriever, Golden                876
25 Retriever, Labrador             3593
26 Rottweiler                       629
27 Schnauzer, Miniature             813
28 Shepherd, German                1083
29 Shih Tzu                         500
30 Spaniel, Cavalier King Charles   374
31 Spaniel, Cocker                  419
32 Spaniel, English Springer        278
33 Terrier, American Pit Bull       199
34 Terrier, Fox (Smooth)           1189
35 Terrier, Jack Russell           1186
36 Terrier, Staffordshire Bull      946
37 Terrier, West Highland White     300
38 Tosa, Japanese                     0

   Breed                          West_Coast
1  All cross breeds               2005
2  All pure and cross breeds      4743
3  All pure breeds                2738
4  Beagle                           17
5  Bichon Frise                    128
6  Boxer                            33
7  Brazilian Fila                    0
8  Cattle, Australian               29
9  Chihuahua, Long Coat             16
10 Chihuahua, Smooth Coat           49
11 Collie, Bearded                  38
12 Collie, Border                  308
13 Collie, Rough                     3
14 Collie, Smooth                    0
15 Dogo Argentino                    2
16 Greyhound                        11
17 Heading                          65
18 Huntaway                        167
19 Maltese                          27
20 Other pure breeds               694
21 Perro de Presa Canario            0
22 Poodle, Miniature                24
23 Poodle, Toy                      22
24 Retriever, Golden                56
25 Retriever, Labrador             367
26 Rottweiler                       61
27 Schnauzer, Miniature             23
28 Shepherd, German                 67
29 Shih Tzu                         24
30 Spaniel, Cavalier King Charles   15
31 Spaniel, Cocker                  35
32 Spaniel, English Springer        30
33 Terrier, American Pit Bull       17
34 Terrier, Fox (Smooth)           138
35 Terrier, Jack Russell           142
36 Terrier, Staffordshire Bull     120
37 Terrier, West Highland White     10
38 Tosa, Japanese                    0

In [69]:
tar_tas <- taranaki_pets%>%
 left_join(tasman_pets, by = "Breed")

tar_tas_wai<- tar_tas %>%
 left_join(waikato_pets, by = "Breed")

tar_tas_wai_wel <- tar_tas_wai %>%
 left_join(wellington_pets, by = "Breed")

tar_to_wc_pets <- tar_tas_wai_wel %>%
 left_join(west_coast_pets, by = "Breed")

In [70]:
tar_to_wc_pets

   Breed                          Taranaki Tasman Waikato Wellington West_Coast
1  All cross breeds                6548     4741  24237   22329      2005
2  All pure and cross breeds      17790    10919  61601   50760      4743
3  All pure breeds                11242     6178  37364   28431      2738
4  Beagle                            54       35    224     280        17
5  Bichon Frise                     287      101    515     620       128
6  Boxer                            157       78    409     291        33
7  Brazilian Fila                     0        0      0       0         0
8  Cattle, Australian               142      159    702     256        29
9  Chihuahua, Long Coat             123       35    434     351        16
10 Chihuahua, Smooth Coat           101       47    337     231        49
11 Collie, Bearded                   90      101    362     164        38
12 Collie, Border                   674      661   2003    1383       308
13 Collie, Rough                     24       14    105      67         3
14 Collie, Smooth                     8      187     35      20         0
15 Dogo Argentino                     1        0      6       2         2
16 Greyhound                        163       52    655     453        11
17 Heading                          754      259   2474    1277        65
18 Huntaway                         897      479   3585    1737       167
19 Maltese                          188       54    498     241        27
20 Other pure breeds               2750     1571   9128    8084       694
21 Perro de Presa Canario             0        0      0       0         0
22 Poodle, Miniature                 92       44    260     352        24
23 Poodle, Toy                      107       38    353     237        22
24 Retriever, Golden                236      166    724     876        56
25 Retriever, Labrador             1274      586   4680    3593       367
26 Rottweiler                       334       93   1029     629        61
27 Schnauzer, Miniature             236      109    729     813        23
28 Shepherd, German                 338      189   1355    1083        67
29 Shih Tzu                         244       58    622     500        24
30 Spaniel, Cavalier King Charles   139       29    225     374        15
31 Spaniel, Cocker                   69       78    395     419        35
32 Spaniel, English Springer         58       83    394     278        30
33 Terrier, American Pit Bull       113       10    277     199        17
34 Terrier, Fox (Smooth)            477      170   2077    1189       138
35 Terrier, Jack Russell            518      380   1496    1186       142
36 Terrier, Staffordshire Bull      510      228   1060     946       120
37 Terrier, West Highland White      84       84    216     300        10
38 Tosa, Japanese                     0        0      0       0         0

## Next we want to add these to the previous larger pet dataframe made

In [71]:
final_pets <- final_pets %>%
 left_join(tar_to_wc_pets, by = "Breed")

In [72]:
final_pets

   Breed                          Auckland Bay_of_Plenty Canterbury Gisbourne
1  All cross breeds                40000   19612         33535      3044
2  All pure and cross breeds      106078   39480         95107      9746
3  All pure breeds                 66078   19868         61572      6702
4  Beagle                            668     108           454        16
5  Bichon Frise                     1619     337          1820        36
6  Boxer                             893     282           794        52
7  Brazilian Fila                      0       0             0         0
8  Cattle, Australian                648     295           317        79
9  Chihuahua, Long Coat              607     254           908        27
10 Chihuahua, Smooth Coat           1006     222           416        19
11 Collie, Bearded                   273     132           661        15
12 Collie, Border                   3383    1061          5192       128
13 Collie, Rough                     147      48           410        14
14 Collie, Smooth                    118      44          1817         1
15 Dogo Argentino                      1       5             2         0
16 Greyhound                         689     166          1490        11
17 Heading                           471     486          2284      1513
18 Huntaway                         1299     780          4160      2067
19 Maltese                          1332     396           577        48
20 Other pure breeds               20595    5481         14845       921
21 Perro de Presa Canario              0       0             0         0
22 Poodle, Miniature                 953     199           465        21
23 Poodle, Toy                      1420     239           549        20
24 Retriever, Golden                2299     495          1869        48
25 Retriever, Labrador              7966    2561          6834       556
26 Rottweiler                       1432     700           965        98
27 Schnauzer, Miniature             2688     617          1628        40
28 Shepherd, German                 3074     740          2043       118
29 Shih Tzu                         1955     492           657        38
30 Spaniel, Cavalier King Charles    699     168           482        42
31 Spaniel, Cocker                  1129     281          1252        27
32 Spaniel, English Springer         374     209           900        19
33 Terrier, American Pit Bull        774     217           119        35
34 Terrier, Fox (Smooth)            1709    1161          1706       354
35 Terrier, Jack Russell            2734     859          3373       233
36 Terrier, Staffordshire Bull      2260     680          1860        94
37 Terrier, West Highland White      863     153           723        12
38 Tosa, Japanese                      0       0             0         0
   Hawkes_Bay Taranaki Tasman Waikato Wellington West_Coast
1   8314       6548     4741  24237   22329      2005
2  25308      17790    10919  61601   50760      4743
3  16994      11242     6178  37364   28431      2738
4    140         54       35    224     280        17
5    209        287      101    515     620       128
6    142        157       78    409     291        33
7      0          0        0      0       0         0
8    175        142      159    702     256        29
9    132        123       35    434     351        16
10    75        101       47    337     231        49
11   102         90      101    362     164        38
12   432        674      661   2003    1383       308
13    44         24       14    105      67         3
14   592          8      187     35      20         0
15     3          1        0      6       2         2
16    97        163       52    655     453        11
17  2301        754      259   2474    1277        65
18  2646        897      479   3585    1737       167
19    98        188       54    498     241        27
20  3162       2750     1571   9128    8084       694
21     0          0        0      0       0         0
22   100         92       44    260     352        24
23   107        107       38    353     237        22
24   291        236      166    724     876        56
25  2038       1274      586   4680    3593       367
26   407        334       93   1029     629        61
27   254        236      109    729     813        23
28   527        338      189   1355    1083        67
29   236        244       58    622     500        24
30    99        139       29    225     374        15
31   114         69       78    395     419        35
32   105         58       83    394     278        30
33    82        113       10    277     199        17
34   965        477      170   2077    1189       138
35   907        518      380   1496    1186       142
36   339        510      228   1060     946       120
37    73         84       84    216     300        10
38     0          0        0      0       0         0

## Compressing the Income, population and home ownership

## Taranaki - West Coast: Population

In [73]:
taranaki_pop = compress_pop(taranaki_pop )
tasman_pop = compress_pop(tasman_pop)
waikato_pop = compress_pop(waikato_pop)
wellington_pop = compress_pop(wellington_pop)
west_coast_pop = compress_pop(west_coast_pop)

In [74]:
taranaki_pop  <- rename(taranaki_pop, Total_People = Category, Taranaki = Value) 
tasman_pop <- rename(tasman_pop, Total_People = Category, Tasman = Value) 
waikato_pop <- rename(waikato_pop, Total_People = Category, Waikato = Value) 
wellington_pop <- rename(wellington_pop, Total_People = Category, Wellington = Value) 
west_coast_pop <- rename(west_coast_pop, Total_People = Category, West_Coast = Value)

In [75]:
#Stitch them together

a_b <- taranaki_pop %>%
 left_join(tasman_pop, by = "Total_People")

a_b_c <- a_b %>%
 left_join(waikato_pop, by = "Total_People")

a_b_c_g <- a_b_c %>%
 left_join(wellington_pop, by = "Total_People")

tar_to_west_pop <- a_b_c_g %>%
 left_join(west_coast_pop, by = "Total_People")


tar_to_west_pop

  Total_People Taranaki Tasman Waikato Wellington West_Coast
1 Total people 109755   47154  400206  479616     23844

Then combine these with the previous dataframe

In [76]:
final_pops <- final_pops %>%
 left_join(tar_to_west_pop, by = "Total_People")

In [77]:
final_pops

  Total_People Auckland Bay_Of_Plenty Canterbury Gisbourne Hawks_Bay Taranaki
1 Total people 1415550  271248        559227     43653     151095    109755
  Tasman Waikato Wellington West_Coast
1 47154  400206  479616     23844

## Income

In [78]:
#Compress the the regions again, dont want to know about the individual districts 
taranaki_income = compress_inc(taranaki_income)
tasman_income = compress_inc(tasman_income)
waikato_income = compress_inc(waikato_income)
wellington_income = compress_inc(wellington_income)
west_coast_income = compress_inc(west_coast_income)

In [79]:
#Rename them so that we have the region names in the dataframe
taranaki_income <- rename(taranaki_income, Median_Income = Measure, Taranaki = Value) 
tasman_income <- rename(tasman_income, Median_Income = Measure, Tasman = Value) 
waikato_income <- rename(waikato_income, Median_Income = Measure, Waikato = Value) 
wellington_income <- rename(wellington_income, Median_Income = Measure, Wellington = Value) 
west_coast_income<- rename(west_coast_income, Median_Income = Measure, West_Coast = Value)

In [80]:
#Stitch them together
a_b <- taranaki_income %>%
 left_join(tasman_income, by = "Median_Income")

a_b_c <- a_b %>%
 left_join(waikato_income, by = "Median_Income")

a_b_c_g <- a_b_c %>%
 left_join(wellington_income, by = "Median_Income")

tar_to_wc_income <- a_b_c_g %>%
 left_join(west_coast_income, by = "Median_Income")

Join it with the previous income dataframe

In [81]:
final_incomes  <- final_incomes %>%
 left_join(tar_to_wc_income, by = "Median_Income")

In [82]:
final_incomes

  Median_Income              Auckland Bay_Of_Plenty Canterbury Gisbourne
1 Median personal income ($) 29600    24216.67      29209.09   24400
  Hawks_Bay Taranaki Tasman Waikato Wellington West_Coast
1 25275     28866.67 25700  27280   29944.44   25900

## Home Ownership

In [83]:
taranaki_homes = compress(taranaki_homes)
tasman_homes = compress(tasman_homes)
waikato_homes = compress(waikato_homes)
wellington_homes = compress(wellington_homes)
west_coast_homes = compress(west_coast_homes)

In [84]:
taranaki_homes <- rename(taranaki_homes, Total_People = Category, Taranaki = Value) 
tasman_homes <- rename(tasman_homes, Total_People = Category, Tasman = Value) 
waikato_homes <- rename(waikato_homes, Total_People = Category, Waikato = Value) 
wellington_homes <- rename(wellington_homes, Total_People = Category, Wellington = Value) 
west_coast_homes<- rename(west_coast_homes, Total_People = Category, West_Coast = Value)

In [85]:
#Stitch them together
a_b <- taranaki_homes %>%
 left_join(tasman_homes, by = "Total_People")

a_b_c <- a_b %>%
 left_join(waikato_homes, by = "Total_People")

a_b_c_g <- a_b_c %>%
 left_join(wellington_homes, by = "Total_People")

tar_wc_homes <- a_b_c_g %>%
 left_join(west_coast_homes, by = "Total_People")

In [86]:
#Add this to the other dataframe made previously 
final_homes <- final_homes %>%
 left_join(tar_wc_homes, by = "Total_People")

In [87]:
final_homes

  Total_People                                      Auckland Bay_Of_Plenty
1 Dwelling Held in a Family Trust                    67533   16167
2 Dwelling Not Owned and Not Held in a Family Trust 168705   33927
3 Dwelling Owned or Partly Owned                    201408   45918
4 Not Elsewhere Included                             31848    7476
  Canterbury Gisbourne Hawks_Bay Taranaki Tasman Waikato Wellington West_Coast
1  27543     1632       8694      6423     2850  19788   22263       789
2  63795     6006      18399     12981     4356  52089   59613      2781
3 110733     7080      26919     21108    10197  67722   88149      5373
4  11151     1275       3600      2577      864   9387    9597       849

## Looking at Manawatu  - Southland (the last regions )

This portion changes in style due to the seperation of this task between group members
(However I did change the working directories to be on my computer to check it all runs)

In [88]:
library(tidyr)
library(tidyverse)
library(readr)
library(skimr)

In [89]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Manawatu - Whanganui")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast"

In [90]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Manawatu_Whanganui_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Manawatu - Whanganui")
#change this above to be where the files are save on your computer

In [91]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Manawatu_Whanganui_dogs_df <- data.frame()

In [92]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read_csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Manawatu_Whanganui_dogs_df <- rbind(Manawatu_Whanganui_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [93]:
Manawatu_Whanganui_dogs_df

    Territorial Authority Measure
1   Horowhenua            Registered dogs — Total registered dogs
2   Horowhenua            Registered dogs — Total registered dogs
3   Horowhenua            Registered dogs — Total registered dogs
4   Horowhenua            Registered dogs — Total registered dogs
5   Horowhenua            Registered dogs — Total registered dogs
6   Horowhenua            Registered dogs — Total registered dogs
7   Horowhenua            Registered dogs — Total registered dogs
8   Horowhenua            Registered dogs — Total registered dogs
9   Horowhenua            Registered dogs — Total registered dogs
10  Horowhenua            Registered dogs — Total registered dogs
11  Horowhenua            Registered dogs — Total registered dogs
12  Horowhenua            Registered dogs — Total registered dogs
13  Horowhenua            Registered dogs — Total registered dogs
14  Horowhenua            Registered dogs — Total registered dogs
15  Horowhenua            Registered dogs — Total registered dogs
16  Horowhenua            Registered dogs — Total registered dogs
17  Horowhenua            Registered dogs — Total registered dogs
18  Horowhenua            Registered dogs — Total registered dogs
19  Horowhenua            Registered dogs — Total registered dogs
20  Horowhenua            Registered dogs — Total registered dogs
21  Horowhenua            Registered dogs — Total registered dogs
22  Horowhenua            Registered dogs — Total registered dogs
23  Horowhenua            Registered dogs — Total registered dogs
24  Horowhenua            Registered dogs — Total registered dogs
25  Horowhenua            Registered dogs — Total registered dogs
26  Horowhenua            Registered dogs — Total registered dogs
27  Horowhenua            Registered dogs — Total registered dogs
28  Horowhenua            Registered dogs — Total registered dogs
29  Horowhenua            Registered dogs — Total registered dogs
30  Horowhenua            Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
237 Whanganui             Registered dogs — Total registered dogs
238 Whanganui             Registered dogs — Total registered dogs
239 Whanganui             Registered dogs — Total registered dogs
240 Whanganui             Registered dogs — Total registered dogs
241 Whanganui             Registered dogs — Total registered dogs
242 Whanganui             Registered dogs — Total registered dogs
243 Whanganui             Registered dogs — Total registered dogs
244 Whanganui             Registered dogs — Total registered dogs
245 Whanganui             Registered dogs — Total registered dogs
246 Whanganui             Registered dogs — Total registered dogs
247 Whanganui             Registered dogs — Total registered dogs
248 Whanganui             Registered dogs — Total registered dogs
249 Whanganui             Registered dogs — Total registered dogs
250 Whanganui             Registered dogs — Total registered dogs
251 Whanganui             Registered dogs — Total registered dogs
252 Whanganui             Registered dogs — Total registered dogs
253 Whanganui             Registered dogs — Total registered dogs
254 Whanganui             Registered dogs — Total registered dogs
255 Whanganui             Registered dogs — Total registered dogs
256 Whanganui             Registered dogs — Total registered dogs
257 Whanganui             Registered dogs — Total registered dogs
258 Whanganui             Registered dogs — Total registered dogs
259 Whanganui             Registered dogs — Total registered dogs
260 Whanganui             Registered dogs — Total registered dogs
261 Whanganui             Registered dogs — Total registered dogs
262 Whanganui             Registered dogs — Total registered dogs
263 Whanganui             Registered dogs — Total registered dogs
264 Whanganui             Registered dogs — Total registered dogs
265 Whanganui             Registered dogs — Total registered dogs
266 Whanganui             Registered dogs — Total registered dogs
    Category                       Value Date DateLabel
1   All pure and cross breeds      6287  2019 Year ended June
2   All pure breeds                3790  2019 Year ended June
3   Beagle                           29  2019 Year ended June
4   Bichon Frise                     60  2019 Year ended June
5   Boxer                            38  2019 Year ended June
6   Brazilian Fila                    0  2019 Year ended June
7   Cattle, Australian               47  2019 Year ended June
8   Chihuahua, Long Coat             33  2019 Year ended June
9   Chihuahua, Smooth Coat           43  2019 Year ended June
10  Collie, Bearded                  21  2019 Year ended June
11  Collie, Border                  161  2019 Year ended June
12  Collie, Rough                    19  2019 Year ended June
13  Collie, Smooth                   10  2019 Year ended June
14  Dogo Argentino                    1  2019 Year ended June
15  Greyhound                       229  2019 Year ended June
16  Heading                         134  2019 Year ended June
17  Huntaway                        179  2019 Year ended June
18  Maltese                          30  2019 Year ended June
19  Perro de Presa Canario            0  2019 Year ended June
20  Poodle, Miniature                45  2019 Year ended June
21  Poodle, Toy                      51  2019 Year ended June
22  Retriever, Golden                71  2019 Year ended June
23  Retriever, Labrador             492  2019 Year ended June
24  Rottweiler                      126  2019 Year ended June
25  Schnauzer, Miniature             61  2019 Year ended June
26  Shepherd, German                184  2019 Year ended June
27  Shih Tzu                         77  2019 Year ended June
28  Spaniel, Cavalier King Charles   61  2019 Year ended June
29  Spaniel, Cocker                  29  2019 Year ended June
30  Spaniel, English Springer        23  2019 Year ended June
⋮   ⋮                              ⋮     ⋮    ⋮
237 Chihuahua, Smooth Coat          119  2019 Year ended June
238 Collie, Bearded                  26  2019 Year ended June
239 Collie, Border                  345  2019 Year ended June
240 Collie, Rough                    41  2019 Year ended June
241 Collie, Smooth                    0  2019 Year ended June
242 Dogo Argentino                    1  2019 Year ended June
243 Greyhound                       153  2019 Year ended June
244 Heading                           0  2019 Year ended June
245 Huntaway                       1331  2019 Year ended June
246 Maltese                         158  2019 Year ended June
247 Perro de Presa Canario            0  2019 Year ended June
248 Poodle, Miniature                49  2019 Year ended June
249 Poodle, Toy                      34  2019 Year ended June
250 Retriever, Golden               100  2019 Year ended June
251 Retriever, Labrador             717  2019 Year ended June
252 Rottweiler                      169  2019 Year ended June
253 Schnauzer, Miniature             55  2019 Year ended June
254 Shepherd, German                193  2019 Year ended June
255 Shih Tzu                        174  2019 Year ended June
256 Spaniel, Cavalier King Charles   61  2019 Year ended June
257 Spaniel, Cocker                  16  2019 Year ended June
258 Spaniel, English Springer        37  2019 Year ended June
259 Terrier, American Pit Bull      194  2019 Year ended June
260 Terrier, Fox (Smooth)           479  2019 Year ended June
261 Terrier, Jack Russell           257  2019 Year ended June
262 Terrier, Staffordshire Bull     238  2019 Year ended June
263 Terrier, West Highland White     43  2019 Year ended June
264 Tosa, Japanese                    0  2019 Year ended June
265 Other pure breeds              1800  2019 Year ended June
266 All cross breeds                494  2019 Year ended June

In [94]:
Manawatu_Whanganui_population_df = data.frame()

In [95]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Manawatu_Whanganui_population_df <- rbind(Manawatu_Whanganui_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [96]:
Manawatu_Whanganui_population_df

  Territorial.Authority Measure                               Category
1 Horowhenua            Population - residents at 2013 census Total people
2 Manawatu              Population - residents at 2013 census Total people
3 Palmerston North      Population - residents at 2013 census Total people
4 Rangitikei            Population - residents at 2013 census Total people
5 Ruapehu               Population - residents at 2013 census Total people
6 Tararua               Population - residents at 2013 census Total people
7 Whanganui             Population - residents at 2013 census Total people
  Value Date DateLabel
1 30096 2013 Census Year
2 27459 2013 Census Year
3 80079 2013 Census Year
4 14019 2013 Census Year
5 11844 2013 Census Year
6 16854 2013 Census Year
7 42150 2013 Census Year

Make a function to read through and look at the home ovwnership now

In [97]:
Manawatu_Whanganui_homes_df  = data.frame()

In [98]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Manawatu_Whanganui_homes_df <- rbind(Manawatu_Whanganui_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [99]:
Manawatu_Whanganui_homes_df

     Territorial.Authority Measure
220  Horowhenua            Home ownership by households
221  Horowhenua            Home ownership by households
222  Horowhenua            Home ownership by households
223  Horowhenua            Home ownership by households
2201 Manawatu              Home ownership by households
2211 Manawatu              Home ownership by households
2221 Manawatu              Home ownership by households
2231 Manawatu              Home ownership by households
2202 Palmerston North      Home ownership by households
2212 Palmerston North      Home ownership by households
2222 Palmerston North      Home ownership by households
2232 Palmerston North      Home ownership by households
2203 Rangitikei            Home ownership by households
2213 Rangitikei            Home ownership by households
2223 Rangitikei            Home ownership by households
2233 Rangitikei            Home ownership by households
2204 Ruapehu               Home ownership by households
2214 Ruapehu               Home ownership by households
2224 Ruapehu               Home ownership by households
2234 Ruapehu               Home ownership by households
2205 Tararua               Home ownership by households
2215 Tararua               Home ownership by households
2225 Tararua               Home ownership by households
2235 Tararua               Home ownership by households
2206 Whanganui             Home ownership by households
2216 Whanganui             Home ownership by households
2226 Whanganui             Home ownership by households
2236 Whanganui             Home ownership by households
     Category                                          Value Date DateLabel
220  Dwelling Owned or Partly Owned                     6483 2013 Census Year
221  Dwelling Not Owned and Not Held in a Family Trust  3624 2013 Census Year
222  Dwelling Held in a Family Trust                    1473 2013 Census Year
223  Not Elsewhere Included                              915 2013 Census Year
2201 Dwelling Owned or Partly Owned                     5568 2013 Census Year
2211 Dwelling Not Owned and Not Held in a Family Trust  2892 2013 Census Year
2221 Dwelling Held in a Family Trust                    1593 2013 Census Year
2231 Not Elsewhere Included                              423 2013 Census Year
2202 Dwelling Owned or Partly Owned                    13932 2013 Census Year
2212 Dwelling Not Owned and Not Held in a Family Trust 10473 2013 Census Year
2222 Dwelling Held in a Family Trust                    3480 2013 Census Year
2232 Not Elsewhere Included                             1716 2013 Census Year
2203 Dwelling Owned or Partly Owned                     2766 2013 Census Year
2213 Dwelling Not Owned and Not Held in a Family Trust  1851 2013 Census Year
2223 Dwelling Held in a Family Trust                     750 2013 Census Year
2233 Not Elsewhere Included                              303 2013 Census Year
2204 Dwelling Owned or Partly Owned                     1806 2013 Census Year
2214 Dwelling Not Owned and Not Held in a Family Trust  1941 2013 Census Year
2224 Dwelling Held in a Family Trust                     570 2013 Census Year
2234 Not Elsewhere Included                              264 2013 Census Year
2205 Dwelling Owned or Partly Owned                     3336 2013 Census Year
2215 Dwelling Not Owned and Not Held in a Family Trust  2088 2013 Census Year
2225 Dwelling Held in a Family Trust                     921 2013 Census Year
2235 Not Elsewhere Included                              453 2013 Census Year
2206 Dwelling Owned or Partly Owned                     8316 2013 Census Year
2216 Dwelling Not Owned and Not Held in a Family Trust  5496 2013 Census Year
2226 Dwelling Held in a Family Trust                    2271 2013 Census Year
2236 Not Elsewhere Included                             1227 2013 Census Year

Loop through and make the income into a dataframe

In [100]:
Manawatu_Whanganui_median_income_df = data.frame()

In [101]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Manawatu_Whanganui_median_income_df <- rbind(Manawatu_Whanganui_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [102]:
Manawatu_Whanganui_median_income_df

     Territorial.Authority Measure                    Category Value Date
128  Horowhenua            Median personal income ($)          21800 2013
1281 Manawatu              Median personal income ($)          28400 2013
1282 Palmerston North      Median personal income ($)          27000 2013
1283 Rangitikei            Median personal income ($)          25700 2013
1284 Ruapehu               Median personal income ($)          24100 2013
1285 Tararua               Median personal income ($)          25100 2013
1286 Whanganui             Median personal income ($)          23500 2013
     DateLabel
128  Census Year
1281 Census Year
1282 Census Year
1283 Census Year
1284 Census Year
1285 Census Year
1286 Census Year

In [103]:
Manawatu_Whanganui_income_bracket_df = data.frame()

In [104]:
for (i in 1:length(Manawatu_Whanganui_file_list)){
  data = read.csv(Manawatu_Whanganui_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Manawatu_Whanganui_income_bracket_df <- rbind(Manawatu_Whanganui_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

In [105]:
Manawatu_Whanganui_income_bracket_df

     Territorial.Authority Measure
158  Horowhenua            Number of families in income bracket
159  Horowhenua            Number of families in income bracket
160  Horowhenua            Number of families in income bracket
161  Horowhenua            Number of families in income bracket
162  Horowhenua            Number of families in income bracket
163  Horowhenua            Number of families in income bracket
164  Horowhenua            Number of families in income bracket
165  Horowhenua            Number of families in income bracket
166  Horowhenua            Number of families in income bracket
167  Horowhenua            Number of families in income bracket
168  Horowhenua            Number of families in income bracket
169  Horowhenua            Number of families in income bracket
170  Horowhenua            Number of families in income bracket
171  Horowhenua            Number of families in income bracket
1581 Manawatu              Number of families in income bracket
1591 Manawatu              Number of families in income bracket
1601 Manawatu              Number of families in income bracket
1611 Manawatu              Number of families in income bracket
1621 Manawatu              Number of families in income bracket
1631 Manawatu              Number of families in income bracket
1641 Manawatu              Number of families in income bracket
1651 Manawatu              Number of families in income bracket
1661 Manawatu              Number of families in income bracket
1671 Manawatu              Number of families in income bracket
1681 Manawatu              Number of families in income bracket
1691 Manawatu              Number of families in income bracket
1701 Manawatu              Number of families in income bracket
1711 Manawatu              Number of families in income bracket
1582 Palmerston North      Number of families in income bracket
1592 Palmerston North      Number of families in income bracket
⋮    ⋮                     ⋮
1704 Ruapehu               Number of families in income bracket
1714 Ruapehu               Number of families in income bracket
1585 Tararua               Number of families in income bracket
1595 Tararua               Number of families in income bracket
1605 Tararua               Number of families in income bracket
1615 Tararua               Number of families in income bracket
1625 Tararua               Number of families in income bracket
1635 Tararua               Number of families in income bracket
1645 Tararua               Number of families in income bracket
1655 Tararua               Number of families in income bracket
1665 Tararua               Number of families in income bracket
1675 Tararua               Number of families in income bracket
1685 Tararua               Number of families in income bracket
1695 Tararua               Number of families in income bracket
1705 Tararua               Number of families in income bracket
1715 Tararua               Number of families in income bracket
1586 Whanganui             Number of families in income bracket
1596 Whanganui             Number of families in income bracket
1606 Whanganui             Number of families in income bracket
1616 Whanganui             Number of families in income bracket
1626 Whanganui             Number of families in income bracket
1636 Whanganui             Number of families in income bracket
1646 Whanganui             Number of families in income bracket
1656 Whanganui             Number of families in income bracket
1666 Whanganui             Number of families in income bracket
1676 Whanganui             Number of families in income bracket
1686 Whanganui             Number of families in income bracket
1696 Whanganui             Number of families in income bracket
1706 Whanganui             Number of families in income bracket
1716 Whanganui             Number of families in income bracket
     Category            Value       Date DateLabel
158  $20,000 and under    612.000000 2013 Census Year
159  $20,001 to $30,000   999.000000 2013 Census Year
160  $30,001 to $50,000  1947.000000 2013 Census Year
161  $50,001 to $70,000  1275.000000 2013 Census Year
162  $70,001 to $100,000 1296.000000 2013 Census Year
163  $100,000 and over   1038.000000 2013 Census Year
164  Not stated          1035.000000 2013 Census Year
165  $20,000 and under      7.461595 2013 Census Year
166  $20,001 to $30,000    12.179956 2013 Census Year
167  $30,001 to $50,000    23.738113 2013 Census Year
168  $50,001 to $70,000    15.544989 2013 Census Year
169  $70,001 to $100,000   15.801024 2013 Census Year
170  $100,000 and over     12.655450 2013 Census Year
171  Not stated            12.618873 2013 Census Year
1581 $20,000 and under    435.000000 2013 Census Year
1591 $20,001 to $30,000   582.000000 2013 Census Year
1601 $30,001 to $50,000  1332.000000 2013 Census Year
1611 $50,001 to $70,000  1305.000000 2013 Census Year
1621 $70,001 to $100,000 1656.000000 2013 Census Year
1631 $100,000 and over   1677.000000 2013 Census Year
1641 Not stated           777.000000 2013 Census Year
1651 $20,000 and under      5.602782 2013 Census Year
1661 $20,001 to $30,000     7.496136 2013 Census Year
1671 $30,001 to $50,000    17.156105 2013 Census Year
1681 $50,001 to $70,000    16.808346 2013 Census Year
1691 $70,001 to $100,000   21.329212 2013 Census Year
1701 $100,000 and over     21.599691 2013 Census Year
1711 Not stated            10.007728 2013 Census Year
1582 $20,000 and under   1341.000000 2013 Census Year
1592 $20,001 to $30,000  1560.000000 2013 Census Year
⋮    ⋮                   ⋮           ⋮    ⋮
1704 $100,000 and over     14.173998 2013 Census Year
1714 Not stated            17.106549 2013 Census Year
1585 $20,000 and under    315.000000 2013 Census Year
1595 $20,001 to $30,000   426.000000 2013 Census Year
1605 $30,001 to $50,000   939.000000 2013 Census Year
1615 $50,001 to $70,000   750.000000 2013 Census Year
1625 $70,001 to $100,000  900.000000 2013 Census Year
1635 $100,000 and over    738.000000 2013 Census Year
1645 Not stated           528.000000 2013 Census Year
1655 $20,000 and under      6.853786 2013 Census Year
1665 $20,001 to $30,000     9.268930 2013 Census Year
1675 $30,001 to $50,000    20.430809 2013 Census Year
1685 $50,001 to $70,000    16.318538 2013 Census Year
1695 $70,001 to $100,000   19.582245 2013 Census Year
1705 $100,000 and over     16.057441 2013 Census Year
1715 Not stated            11.488251 2013 Census Year
1586 $20,000 and under    906.000000 2013 Census Year
1596 $20,001 to $30,000  1128.000000 2013 Census Year
1606 $30,001 to $50,000  2229.000000 2013 Census Year
1616 $50,001 to $70,000  1764.000000 2013 Census Year
1626 $70,001 to $100,000 2019.000000 2013 Census Year
1636 $100,000 and over   1710.000000 2013 Census Year
1646 Not stated          1374.000000 2013 Census Year
1656 $20,000 and under      8.140162 2013 Census Year
1666 $20,001 to $30,000    10.134771 2013 Census Year
1676 $30,001 to $50,000    20.026954 2013 Census Year
1686 $50,001 to $70,000    15.849057 2013 Census Year
1696 $70,001 to $100,000   18.140162 2013 Census Year
1706 $100,000 and over     15.363881 2013 Census Year
1716 Not stated            12.345013 2013 Census Year

## **Manawatu-Whanganui Data Frames:**

 - Manawatu_Whanganui_dogs_df
 - Manawatu_Whanganui_population_df
 - Manawatu_Whanganui_homes_df
 - Manawatu_Whanganui_median_income_df
 - Manawatu_Whanganui_income_bracket_df

In [106]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Marlborough")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Manawatu - Whanganui"

In [107]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Marlborough_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Marlborough")
#change this above to be where the files are save on your computer

In [108]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Marlborough_dogs_df <- data.frame()

In [109]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Marlborough_file_list)){
  data = read_csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Marlborough_dogs_df <- rbind(Marlborough_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [110]:
Marlborough_dogs_df

   Territorial Authority Measure
1  Marlborough           Registered dogs — Total registered dogs
2  Marlborough           Registered dogs — Total registered dogs
3  Marlborough           Registered dogs — Total registered dogs
4  Marlborough           Registered dogs — Total registered dogs
5  Marlborough           Registered dogs — Total registered dogs
6  Marlborough           Registered dogs — Total registered dogs
7  Marlborough           Registered dogs — Total registered dogs
8  Marlborough           Registered dogs — Total registered dogs
9  Marlborough           Registered dogs — Total registered dogs
10 Marlborough           Registered dogs — Total registered dogs
11 Marlborough           Registered dogs — Total registered dogs
12 Marlborough           Registered dogs — Total registered dogs
13 Marlborough           Registered dogs — Total registered dogs
14 Marlborough           Registered dogs — Total registered dogs
15 Marlborough           Registered dogs — Total registered dogs
16 Marlborough           Registered dogs — Total registered dogs
17 Marlborough           Registered dogs — Total registered dogs
18 Marlborough           Registered dogs — Total registered dogs
19 Marlborough           Registered dogs — Total registered dogs
20 Marlborough           Registered dogs — Total registered dogs
21 Marlborough           Registered dogs — Total registered dogs
22 Marlborough           Registered dogs — Total registered dogs
23 Marlborough           Registered dogs — Total registered dogs
24 Marlborough           Registered dogs — Total registered dogs
25 Marlborough           Registered dogs — Total registered dogs
26 Marlborough           Registered dogs — Total registered dogs
27 Marlborough           Registered dogs — Total registered dogs
28 Marlborough           Registered dogs — Total registered dogs
29 Marlborough           Registered dogs — Total registered dogs
30 Marlborough           Registered dogs — Total registered dogs
31 Marlborough           Registered dogs — Total registered dogs
32 Marlborough           Registered dogs — Total registered dogs
33 Marlborough           Registered dogs — Total registered dogs
34 Marlborough           Registered dogs — Total registered dogs
35 Marlborough           Registered dogs — Total registered dogs
36 Marlborough           Registered dogs — Total registered dogs
37 Marlborough           Registered dogs — Total registered dogs
38 Marlborough           Registered dogs — Total registered dogs
   Category                       Value Date DateLabel
1  All pure and cross breeds      10444 2019 Year ended June
2  All pure breeds                 6244 2019 Year ended June
3  Beagle                            21 2019 Year ended June
4  Bichon Frise                     140 2019 Year ended June
5  Boxer                             80 2019 Year ended June
6  Brazilian Fila                     0 2019 Year ended June
7  Cattle, Australian                50 2019 Year ended June
8  Chihuahua, Long Coat              49 2019 Year ended June
9  Chihuahua, Smooth Coat            34 2019 Year ended June
10 Collie, Bearded                  116 2019 Year ended June
11 Collie, Border                   366 2019 Year ended June
12 Collie, Rough                     30 2019 Year ended June
13 Collie, Smooth                   332 2019 Year ended June
14 Dogo Argentino                     0 2019 Year ended June
15 Greyhound                         46 2019 Year ended June
16 Heading                          521 2019 Year ended June
17 Huntaway                         633 2019 Year ended June
18 Maltese                           77 2019 Year ended June
19 Perro de Presa Canario             0 2019 Year ended June
20 Poodle, Miniature                 42 2019 Year ended June
21 Poodle, Toy                       29 2019 Year ended June
22 Retriever, Golden                132 2019 Year ended June
23 Retriever, Labrador              624 2019 Year ended June
24 Rottweiler                        86 2019 Year ended June
25 Schnauzer, Miniature             136 2019 Year ended June
26 Shepherd, German                 128 2019 Year ended June
27 Shih Tzu                          42 2019 Year ended June
28 Spaniel, Cavalier King Charles    52 2019 Year ended June
29 Spaniel, Cocker                  102 2019 Year ended June
30 Spaniel, English Springer         65 2019 Year ended June
31 Terrier, American Pit Bull        15 2019 Year ended June
32 Terrier, Fox (Smooth)            266 2019 Year ended June
33 Terrier, Jack Russell            379 2019 Year ended June
34 Terrier, Staffordshire Bull      168 2019 Year ended June
35 Terrier, West Highland White      41 2019 Year ended June
36 Tosa, Japanese                     0 2019 Year ended June
37 Other pure breeds               1442 2019 Year ended June
38 All cross breeds                4200 2019 Year ended June

In [111]:
Marlborough_population_df = data.frame()

In [112]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Marlborough_population_df <- rbind(Marlborough_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [113]:
Marlborough_population_df

  Territorial.Authority Measure                               Category
1 Marlborough           Population - residents at 2013 census Total people
  Value Date DateLabel
1 43416 2013 Census Year

In [114]:
Marlborough_homes_df  = data.frame()

In [115]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Marlborough_homes_df <- rbind(Marlborough_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [116]:
Marlborough_homes_df

    Territorial.Authority Measure
220 Marlborough           Home ownership by households
221 Marlborough           Home ownership by households
222 Marlborough           Home ownership by households
223 Marlborough           Home ownership by households
    Category                                          Value Date DateLabel
220 Dwelling Owned or Partly Owned                    9249  2013 Census Year
221 Dwelling Not Owned and Not Held in a Family Trust 4863  2013 Census Year
222 Dwelling Held in a Family Trust                   2607  2013 Census Year
223 Not Elsewhere Included                             954  2013 Census Year

In [117]:
Marlborough_median_income_df = data.frame()

In [118]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Marlborough_median_income_df <- rbind(Marlborough_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [119]:
Marlborough_median_income_df

    Territorial.Authority Measure                    Category Value Date
128 Marlborough           Median personal income ($)          27900 2013
    DateLabel
128 Census Year

In [120]:
Marlborough_income_bracket_df = data.frame()

In [121]:
for (i in 1:length(Marlborough_file_list)){
  data = read.csv(Marlborough_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Marlborough_income_bracket_df <- rbind(Marlborough_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

In [122]:
Marlborough_income_bracket_df

    Territorial.Authority Measure
158 Marlborough           Number of families in income bracket
159 Marlborough           Number of families in income bracket
160 Marlborough           Number of families in income bracket
161 Marlborough           Number of families in income bracket
162 Marlborough           Number of families in income bracket
163 Marlborough           Number of families in income bracket
164 Marlborough           Number of families in income bracket
165 Marlborough           Number of families in income bracket
166 Marlborough           Number of families in income bracket
167 Marlborough           Number of families in income bracket
168 Marlborough           Number of families in income bracket
169 Marlborough           Number of families in income bracket
170 Marlborough           Number of families in income bracket
171 Marlborough           Number of families in income bracket
    Category            Value       Date DateLabel
158 $20,000 and under    645.000000 2013 Census Year
159 $20,001 to $30,000   942.000000 2013 Census Year
160 $30,001 to $50,000  2373.000000 2013 Census Year
161 $50,001 to $70,000  2094.000000 2013 Census Year
162 $70,001 to $100,000 2679.000000 2013 Census Year
163 $100,000 and over   2580.000000 2013 Census Year
164 Not stated          1248.000000 2013 Census Year
165 $20,000 and under      5.134941 2013 Census Year
166 $20,001 to $30,000     7.499403 2013 Census Year
167 $30,001 to $50,000    18.891808 2013 Census Year
168 $50,001 to $70,000    16.670647 2013 Census Year
169 $70,001 to $100,000   21.327920 2013 Census Year
170 $100,000 and over     20.539766 2013 Census Year
171 Not stated             9.935515 2013 Census Year

## **Marlborough Data Frames:**

 - Marlborough_dogs_df
 - Marlborough_population_df
 - Marlborough_homes_df
 - Marlborough_median_income_df
 - Marlborough_income_bracket_df

In [123]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Nelson")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Marlborough"

In [124]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Nelson_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Nelson")
#change this above to be where the files are save on your computer

In [125]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Nelson_dogs_df <- data.frame()

In [126]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Nelson_file_list)){
  data = read_csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Nelson_dogs_df <- rbind(Nelson_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [127]:
Nelson_population_df = data.frame()

In [128]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Nelson_population_df <- rbind(Nelson_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [129]:
Nelson_homes_df  = data.frame()

In [130]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Nelson_homes_df <- rbind(Nelson_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [131]:
Nelson_median_income_df = data.frame()

In [132]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Nelson_median_income_df <- rbind(Nelson_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [133]:
Nelson_income_bracket_df = data.frame()

In [134]:
for (i in 1:length(Nelson_file_list)){
  data = read.csv(Nelson_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Nelson_income_bracket_df <- rbind(Nelson_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Nelson Data Frames:**

 - Nelson_dogs_df
 - Nelson_population_df
 - Nelson_homes_df
 - Nelson_median_income_df
 - Nelson_income_bracket_df

In [135]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Northland")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Nelson"

In [136]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Northland_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Northland")
#change this above to be where the files are save on your computer

In [137]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Northland_dogs_df <- data.frame()

In [138]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Northland_file_list)){
  data = read_csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Northland_dogs_df <- rbind(Northland_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [139]:
Northland_population_df = data.frame()

In [140]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Northland_population_df <- rbind(Northland_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [141]:
Northland_homes_df  = data.frame()

In [142]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Northland_homes_df <- rbind(Northland_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [143]:
Northland_median_income_df = data.frame()

In [144]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Northland_median_income_df <- rbind(Northland_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [145]:
Northland_income_bracket_df = data.frame()

In [146]:
for (i in 1:length(Northland_file_list)){
  data = read.csv(Northland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Northland_income_bracket_df <- rbind(Northland_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Northland Data Frames:**

 - Northland_dogs_df
 - Northland_population_df
 - Northland_homes_df
 - Northland_median_income_df
 - Northland_income_bracket_df

In [147]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Otago")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Northland"

In [148]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Otago_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Otago")
#change this above to be where the files are save on your computer

In [149]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Otago_dogs_df <- data.frame()

In [150]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Otago_file_list)){
  data = read_csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Otago_dogs_df <- rbind(Otago_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [151]:
Otago_population_df = data.frame()

In [152]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Otago_population_df <- rbind(Otago_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [153]:
Otago_homes_df  = data.frame()

In [154]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Otago_homes_df <- rbind(Otago_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [155]:
Otago_median_income_df = data.frame()

In [156]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Otago_median_income_df <- rbind(Otago_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [157]:
Otago_income_bracket_df = data.frame()

In [158]:
for (i in 1:length(Otago_file_list)){
  data = read.csv(Otago_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Otago_income_bracket_df <- rbind(Otago_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Otago Data Frames:**

 - Otago_dogs_df
 - Otago_population_df
 - Otago_homes_df
 - Otago_median_income_df
 - Otago_income_bracket_df

In [159]:
getwd()
#set the working directory to the file that the region you're looking at is saved to
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Southland")

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Otago"

In [160]:
#Get the list of files that you're going to be reading from 
#se the path to be to the folder of the region that you're looking at
Southland_file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Southland")
#change this above to be where the files are save on your computer

In [161]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
Southland_dogs_df <- data.frame()

In [162]:
#Specifically to get the information about pets this is the loop, 
#but can change the data[data$Topic == ""] to get it to be about other information in the csvs

for (i in 1:length(Southland_file_list)){
  data = read_csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  pets_data = data[data$Topic == "Pets",]
  #and then would just change these variables names to be something sensible like house_data
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
    
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  #and if we wanted to get home ownership instead of dogs
  #we'd change the measure == "Home ownership by households"
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  Southland_dogs_df <- rbind(Southland_dogs_df, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

In [163]:
Southland_population_df = data.frame()

In [164]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  Southland_population_df <- rbind(Southland_population_df, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
#population_df

In [165]:
Southland_homes_df  = data.frame()

In [166]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  Southland_homes_df <- rbind(Southland_homes_df, ownership) #for each iteration, bind the new data to the building dataset
}

In [167]:
Southland_median_income_df = data.frame()

In [168]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  Southland_median_income_df <- rbind(Southland_median_income_df, personal_income) #for each iteration, bind the new data to the building dataset
}

In [169]:
Southland_income_bracket_df = data.frame()

In [170]:
for (i in 1:length(Southland_file_list)){
  data = read.csv(Southland_file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_bracket_data = data[data$Topic == "Income",]

  income_bracket_data$Topic = NULL
  income_bracket_data$NullReason = NULL
  income_bracket_data$Source = NULL
  income_bracket_data$ValueUnit = NULL
  income_bracket_data$ValueLabel = NULL  

  bracket_income = income_bracket_data[income_bracket_data$Measure == "Number of families in income bracket",]  
  Southland_income_bracket_df <- rbind(Southland_income_bracket_df, bracket_income) #for each iteration, bind the new data to the building dataset
}

## **Southland Data Frames:**

 - Southland_dogs_df
 - Southland_population_df
 - Southland_homes_df
 - Southland_median_income_df
 - Southland_income_bracket_df

## **All Data Frames:**

 - Manawatu_Whanganui_dogs_df
 - Manawatu_Whanganui_population_df
 - Manawatu_Whanganui_homes_df
 - Manawatu_Whanganui_median_income_df
 - Manawatu_Whanganui_income_bracket_dfSouthland_file_listNelson_dogs_df
 - Marlborough_dogs_df
 - Marlborough_population_df
 - Marlborugh_homes_df
 - Marlborough_median_income_df
 - Marlborough_income_bracket_df
 - Nelson_dogs_df
 - Nelson_population_df
 - Nelson_homes_df
 - Nelson_median_income_df
 - Nelson_income_bracket_df
 - Northland_dogs_df
 - Northland_population_df
 - Northland_homes_df
 - Northland_median_income_df
 - Northland_income_bracket_df
 - Otago_dogs_df
 - Otago_population_df
 - Otago_homes_df
 - Otago_median_income_df
 - Otago_income_bracket_df
 - Southland_dogs_df
 - Southland_population_df
 - Southland_homes_df
 - Southland_median_income_df
 - Southland_income_bracket_df

In [171]:
Manawatu_Whanganui_dogs_totals_df <- aggregate(Manawatu_Whanganui_dogs_df['Value'], by=Manawatu_Whanganui_dogs_df['Category'], sum)

In [172]:
Marlborough_dogs_totals_df <- aggregate(Marlborough_dogs_df['Value'], by=Marlborough_dogs_df['Category'], sum)

In [173]:
Nelson_dogs_totals_df <- aggregate(Nelson_dogs_df['Value'], by=Nelson_dogs_df['Category'], sum)

In [174]:
Otago_dogs_totals_df <- aggregate(Otago_dogs_df['Value'], by=Otago_dogs_df['Category'], sum)

In [175]:
Southland_dogs_totals_df <- aggregate(Southland_dogs_df['Value'], by=Southland_dogs_df['Category'], sum)

In [176]:
Northland_dogs_totals_df <- aggregate(Northland_dogs_df['Value'], by=Northland_dogs_df['Category'], sum)

In [177]:
dog_totals_df <- bind_cols(Manawatu_Whanganui_dogs_totals_df, Marlborough_dogs_totals_df, Nelson_dogs_totals_df, Otago_dogs_totals_df, Southland_dogs_totals_df, Northland_dogs_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [178]:
clean_dog_totals_df <- subset(dog_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [179]:
Final_dog_df <- rename(clean_dog_totals_df, c("Breed"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [180]:
Final_dog_df

   Breed                          Manawatu_Whanganui Marlborough Nelson Otago
1  All cross breeds               11987               4200       2693   11666
2  All pure and cross breeds      45676              10444       5377   33644
3  All pure breeds                33689               6244       2684   21978
4  Beagle                           183                 21         27     100
5  Bichon Frise                     527                140        101     396
6  Boxer                            343                 80         45     212
7  Brazilian Fila                     0                  0          0       0
8  Cattle, Australian               286                 50         39     103
9  Chihuahua, Long Coat             169                 49         17      81
10 Chihuahua, Smooth Coat           303                 34         40     278
11 Collie, Bearded                  255                116         27     208
12 Collie, Border                  1619                366        173    2538
13 Collie, Rough                    114                 30          7     116
14 Collie, Smooth                    77                332          4    1538
15 Dogo Argentino                    10                  0          0       0
16 Greyhound                       1067                 46         34     136
17 Heading                         3705                521         20    1130
18 Huntaway                        6325                633         54    1841
19 Maltese                          292                 77         39     189
20 Other pure breeds               6734               1442        857    4617
21 Perro de Presa Canario             0                  0          0       0
22 Poodle, Miniature                220                 42         33     121
23 Poodle, Toy                      204                 29         17     120
24 Retriever, Golden                467                132         85     520
25 Retriever, Labrador             3444                624        246    2767
26 Rottweiler                       745                 86         42     268
27 Schnauzer, Miniature             368                136         94     420
28 Shepherd, German                 844                128         53     426
29 Shih Tzu                         540                 42         43     296
30 Spaniel, Cavalier King Charles   321                 52         36     133
31 Spaniel, Cocker                  188                102         72     341
32 Spaniel, English Springer        178                 65         27     419
33 Terrier, American Pit Bull       358                 15         13      55
34 Terrier, Fox (Smooth)           1731                266         96     644
35 Terrier, Jack Russell           1187                379        149    1111
36 Terrier, Staffordshire Bull      679                168        145     688
37 Terrier, West Highland White     206                 41         49     166
38 Tosa, Japanese                     0                  0          0       0
   Southland Northland
1   7499      9349
2  24552     24532
3  17053     15183
4     72        51
5    391       273
6    146       169
7      0         0
8     54       391
9     67       179
10   247       149
11   204       127
12   744      1442
13   399        22
14  1199        23
15     3         0
16    87        72
17  1597       512
18  2541      1654
19   134       135
20  2800      3987
21     0         0
22    87       140
23    91       131
24   247       235
25  2225      1624
26   310       354
27   207       124
28   378       549
29   267       418
30    91        88
31   228       135
32   238       104
33    28        45
34   566       705
35   928       866
36   424       403
37    53        76
38     0         0

In [181]:
Manawatu_Whanganui_populations_totals_df <- aggregate(Manawatu_Whanganui_population_df['Value'], by=Manawatu_Whanganui_population_df['Category'], sum)

In [182]:
Marlborough_populations_totals_df <- aggregate(Marlborough_population_df['Value'], by=Marlborough_population_df['Category'], sum)

In [183]:
Nelson_populations_totals_df <- aggregate(Nelson_population_df['Value'], by=Nelson_population_df['Category'], sum)

In [184]:
Otago_populations_totals_df <- aggregate(Otago_population_df['Value'], by=Otago_population_df['Category'], sum)

In [185]:
Southland_populations_totals_df <- aggregate(Southland_population_df['Value'], by=Southland_population_df['Category'], sum)

In [186]:
Northland_populations_totals_df <- aggregate(Northland_population_df['Value'], by=Northland_population_df['Category'], sum)

In [187]:
populations_totals_df <- bind_cols(Manawatu_Whanganui_populations_totals_df, Marlborough_populations_totals_df, Nelson_populations_totals_df, Otago_populations_totals_df, Southland_populations_totals_df, Northland_populations_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [188]:
clean_populations_totals_df <- subset(populations_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [189]:
Final_populations_df <- rename(clean_populations_totals_df, c("Total_People"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [190]:
Final_populations_df

  Total_People Manawatu_Whanganui Marlborough Nelson Otago  Southland Northland
1 Total people 222501             43416       46437  183258 93342     151692

In [191]:
Manawatu_Whanganui_homes_totals_df <- aggregate(Manawatu_Whanganui_homes_df['Value'], by=Manawatu_Whanganui_homes_df['Category'], sum)

In [192]:
Marlborough_homes_totals_df <- aggregate(Marlborough_homes_df['Value'], by=Marlborough_homes_df['Category'], sum)

In [193]:
Nelson_homes_totals_df <- aggregate(Nelson_homes_df['Value'], by=Nelson_homes_df['Category'], sum)

In [194]:
Otago_homes_totals_df <- aggregate(Otago_homes_df['Value'], by=Otago_homes_df['Category'], sum)

In [195]:
Southland_homes_totals_df <- aggregate(Southland_homes_df['Value'], by=Southland_homes_df['Category'], sum)

In [196]:
Northland_homes_totals_df <- aggregate(Northland_homes_df['Value'], by=Northland_homes_df['Category'], sum)

In [197]:
homes_totals_df <- bind_cols(Manawatu_Whanganui_homes_totals_df, Marlborough_homes_totals_df, Nelson_homes_totals_df, Otago_homes_totals_df, Southland_homes_totals_df, Northland_homes_totals_df)

New names:
* Category -> Category...1
* Value -> Value...2
* Category -> Category...3
* Value -> Value...4
* Category -> Category...5
* ...

In [198]:
clean_homes_totals_df <- subset(homes_totals_df, select = -c(Category...3, Category...5, Category...7, Category...9, Category...11))

In [199]:
Final_homes_df <- rename(clean_homes_totals_df, c("Total_People"="Category...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [200]:
Final_homes_df

  Total_People                                      Manawatu_Whanganui
1 Dwelling Held in a Family Trust                   11058
2 Dwelling Not Owned and Not Held in a Family Trust 28365
3 Dwelling Owned or Partly Owned                    42207
4 Not Elsewhere Included                             5301
  Marlborough Nelson Otago Southland Northland
1 2607        2445   12204  5709      7581
2 4863        5598   21825 10740     18063
3 9249        9648   32904 18960     27861
4  954         849    3855  2037      5439

In [201]:
Manawatu_Whanganui_median_income_totals_df <- aggregate(Manawatu_Whanganui_median_income_df['Value'], by=Manawatu_Whanganui_median_income_df['Measure'], sum)

In [202]:
Marlborough_median_income_totals_df <- aggregate(Marlborough_median_income_df['Value'], by=Marlborough_median_income_df['Measure'], sum)

In [203]:
Nelson_median_income_totals_df <- aggregate(Nelson_median_income_df['Value'], by=Nelson_median_income_df['Measure'], sum)

In [204]:
Otago_median_income_totals_df <- aggregate(Otago_median_income_df['Value'], by=Otago_median_income_df['Measure'], sum)

In [205]:
Southland_median_income_totals_df <- aggregate(Southland_median_income_df['Value'], by=Southland_median_income_df['Measure'], sum)

In [206]:
Northland_median_income_totals_df <- aggregate(Northland_median_income_df['Value'], by=Northland_median_income_df['Measure'], sum)

In [207]:
median_income_totals_df <- bind_cols(Manawatu_Whanganui_median_income_totals_df, Marlborough_median_income_totals_df, Nelson_median_income_totals_df, Otago_median_income_totals_df, Southland_median_income_totals_df, Northland_median_income_totals_df)

New names:
* Measure -> Measure...1
* Value -> Value...2
* Measure -> Measure...3
* Value -> Value...4
* Measure -> Measure...5
* ...

In [208]:
clean_median_income_totals_df <- subset(median_income_totals_df, select = -c(Measure...3, Measure...5, Measure...7, Measure...9, Measure...11))

In [209]:
Final_median_income_totals_df <- rename(clean_median_income_totals_df, c("Median_Income"="Measure...1", "Manawatu_Whanganui"="Value...2", "Marlborough"="Value...4", "Nelson"="Value...6", "Otago"="Value...8", "Southland"="Value...10", "Northland"="Value...12"))

In [210]:
Final_median_income_totals_df

  Median_Income              Manawatu_Whanganui Marlborough Nelson Otago
1 Median personal income ($) 175600             27900       27200  116600
  Southland Northland
1 90100     69400

## **Final Total Data Frames For Manawatu - Southland:**

 - Final_dog_df
 - Final_populations_df
 - Final_homes_df
 - Final_median_income_totals_df

Now we will combine these with the dataframes previously made on income owenrship population and dogs

In [211]:
final_pets = final_pets %>%
    left_join(Final_dog_df, by = "Breed")

In [212]:
final_pets

   Breed                          Auckland Bay_of_Plenty Canterbury Gisbourne
1  All cross breeds                40000   19612         33535      3044
2  All pure and cross breeds      106078   39480         95107      9746
3  All pure breeds                 66078   19868         61572      6702
4  Beagle                            668     108           454        16
5  Bichon Frise                     1619     337          1820        36
6  Boxer                             893     282           794        52
7  Brazilian Fila                      0       0             0         0
8  Cattle, Australian                648     295           317        79
9  Chihuahua, Long Coat              607     254           908        27
10 Chihuahua, Smooth Coat           1006     222           416        19
11 Collie, Bearded                   273     132           661        15
12 Collie, Border                   3383    1061          5192       128
13 Collie, Rough                     147      48           410        14
14 Collie, Smooth                    118      44          1817         1
15 Dogo Argentino                      1       5             2         0
16 Greyhound                         689     166          1490        11
17 Heading                           471     486          2284      1513
18 Huntaway                         1299     780          4160      2067
19 Maltese                          1332     396           577        48
20 Other pure breeds               20595    5481         14845       921
21 Perro de Presa Canario              0       0             0         0
22 Poodle, Miniature                 953     199           465        21
23 Poodle, Toy                      1420     239           549        20
24 Retriever, Golden                2299     495          1869        48
25 Retriever, Labrador              7966    2561          6834       556
26 Rottweiler                       1432     700           965        98
27 Schnauzer, Miniature             2688     617          1628        40
28 Shepherd, German                 3074     740          2043       118
29 Shih Tzu                         1955     492           657        38
30 Spaniel, Cavalier King Charles    699     168           482        42
31 Spaniel, Cocker                  1129     281          1252        27
32 Spaniel, English Springer         374     209           900        19
33 Terrier, American Pit Bull        774     217           119        35
34 Terrier, Fox (Smooth)            1709    1161          1706       354
35 Terrier, Jack Russell            2734     859          3373       233
36 Terrier, Staffordshire Bull      2260     680          1860        94
37 Terrier, West Highland White      863     153           723        12
38 Tosa, Japanese                      0       0             0         0
   Hawkes_Bay Taranaki Tasman Waikato Wellington West_Coast Manawatu_Whanganui
1   8314       6548     4741  24237   22329      2005       11987
2  25308      17790    10919  61601   50760      4743       45676
3  16994      11242     6178  37364   28431      2738       33689
4    140         54       35    224     280        17         183
5    209        287      101    515     620       128         527
6    142        157       78    409     291        33         343
7      0          0        0      0       0         0           0
8    175        142      159    702     256        29         286
9    132        123       35    434     351        16         169
10    75        101       47    337     231        49         303
11   102         90      101    362     164        38         255
12   432        674      661   2003    1383       308        1619
13    44         24       14    105      67         3         114
14   592          8      187     35      20         0          77
15     3          1        0      6       2         2          10
16    97        163       52    655     453        11        1067
17  2301        754      259   2474    1277        65        3705
18  2646        897      479   3585    1737       167        6325
19    98        188       54    498     241        27         292
20  3162       2750     1571   9128    8084       694        6734
21     0          0        0      0       0         0           0
22   100         92       44    260     352        24         220
23   107        107       38    353     237        22         204
24   291        236      166    724     876        56         467
25  2038       1274      586   4680    3593       367        3444
26   407        334       93   1029     629        61         745
27   254        236      109    729     813        23         368
28   527        338      189   1355    1083        67         844
29   236        244       58    622     500        24         540
30    99        139       29    225     374        15         321
31   114         69       78    395     419        35         188
32   105         58       83    394     278        30         178
33    82        113       10    277     199        17         358
34   965        477      170   2077    1189       138        1731
35   907        518      380   1496    1186       142        1187
36   339        510      228   1060     946       120         679
37    73         84       84    216     300        10         206
38     0          0        0      0       0         0           0
   Marlborough Nelson Otago Southland Northland
1   4200       2693   11666  7499      9349
2  10444       5377   33644 24552     24532
3   6244       2684   21978 17053     15183
4     21         27     100    72        51
5    140        101     396   391       273
6     80         45     212   146       169
7      0          0       0     0         0
8     50         39     103    54       391
9     49         17      81    67       179
10    34         40     278   247       149
11   116         27     208   204       127
12   366        173    2538   744      1442
13    30          7     116   399        22
14   332          4    1538  1199        23
15     0          0       0     3         0
16    46         34     136    87        72
17   521         20    1130  1597       512
18   633         54    1841  2541      1654
19    77         39     189   134       135
20  1442        857    4617  2800      3987
21     0          0       0     0         0
22    42         33     121    87       140
23    29         17     120    91       131
24   132         85     520   247       235
25   624        246    2767  2225      1624
26    86         42     268   310       354
27   136         94     420   207       124
28   128         53     426   378       549
29    42         43     296   267       418
30    52         36     133    91        88
31   102         72     341   228       135
32    65         27     419   238       104
33    15         13      55    28        45
34   266         96     644   566       705
35   379        149    1111   928       866
36   168        145     688   424       403
37    41         49     166    53        76
38     0          0       0     0         0

In [213]:
final_pops = final_pops %>%
    left_join(Final_populations_df, by = "Total_People")

In [214]:
final_pops

  Total_People Auckland Bay_Of_Plenty Canterbury Gisbourne Hawks_Bay Taranaki
1 Total people 1415550  271248        559227     43653     151095    109755
  Tasman Waikato Wellington West_Coast Manawatu_Whanganui Marlborough Nelson
1 47154  400206  479616     23844      222501             43416       46437
  Otago  Southland Northland
1 183258 93342     151692

In [215]:
final_incomes = final_incomes %>%
    left_join(Final_median_income_totals_df, by = "Median_Income")

In [216]:
final_incomes

  Median_Income              Auckland Bay_Of_Plenty Canterbury Gisbourne
1 Median personal income ($) 29600    24216.67      29209.09   24400
  Hawks_Bay Taranaki Tasman Waikato Wellington West_Coast Manawatu_Whanganui
1 25275     28866.67 25700  27280   29944.44   25900      175600
  Marlborough Nelson Otago  Southland Northland
1 27900       27200  116600 90100     69400

In [217]:
final_homes = final_homes %>%
    left_join(Final_homes_df, by = "Total_People")

In [218]:
final_homes

  Total_People                                      Auckland Bay_Of_Plenty
1 Dwelling Held in a Family Trust                    67533   16167
2 Dwelling Not Owned and Not Held in a Family Trust 168705   33927
3 Dwelling Owned or Partly Owned                    201408   45918
4 Not Elsewhere Included                             31848    7476
  Canterbury Gisbourne Hawks_Bay Taranaki Tasman Waikato Wellington West_Coast
1  27543     1632       8694      6423     2850  19788   22263       789
2  63795     6006      18399     12981     4356  52089   59613      2781
3 110733     7080      26919     21108    10197  67722   88149      5373
4  11151     1275       3600      2577      864   9387    9597       849
  Manawatu_Whanganui Marlborough Nelson Otago Southland Northland
1 11058              2607        2445   12204  5709      7581
2 28365              4863        5598   21825 10740     18063
3 42207              9249        9648   32904 18960     27861
4  5301               954         849    3855  2037      5439

## This leaves us with 4 dataframes that contain all the infomartion that we want from the CSVs from the figures NZ site

Now we will write these to CSVs, so that we can work with them in another notebook as this one is becoming rather long

In [226]:
write.csv(final_pets, "All_Pets_FiguresNZ.csv" )

In [227]:
write.csv(final_homes, "All_Homes_FiguresNZ.csv")

In [228]:
write.csv(final_incomes, "All_Incomes_FiguresNZ.csv")

In [229]:
write.csv(final_pops, "All_Populations_FiguresNZ.csv")

In [225]:
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Southland"